<h2 mat-dialog-title *ngIf="data?.title">{{data.title || "Confirm"}}</h2>
<mat-dialog-content>
		<p>{{ data?.message }}</p>
 
		<div class="form-group">
			<input class="form-control" placeholder="{{placeholder}}" *ngIf="data?.input_type == 'text' || data?.input_type == 'password' ||  data?.input_type == 'email'" type="{{data?.input_type}}" [(ngModel)]="input">

			<textarea *ngIf="data?.input_type == 'textarea'" [(ngModel)]="input" placeholder="{{placeholder}}"></textarea>

			<select class="form-control" *ngIf="data?.input_type == 'select'" [(ngModel)]="input">
				<option *ngFor="let option of data?.options" [value]="option.id">{{option.text}}</option>
			</select>

			<mat-selection-list *ngIf="data?.input_type == 'checkbox'" [(ngModel)]="input"  (selectionChange)="applyFilter()"  #filter_pivacy>
				<mat-list-option *ngFor="let option of data?.options" [value]="option.id" [checkboxPosition]="'before'"> {{option?.text}} </mat-list-option>
			</mat-selection-list>

		<mat-radio-group *ngIf="data?.input_type == 'radio'"  [(ngModel)]="input">
			<mat-radio-button  *ngFor="let option of data?.options" [value]="option.id"> {{option.text}} </mat-radio-button>
		</mat-radio-group>

		</div>
</mat-dialog-content>
<mat-dialog-actions>
	<div class="buttons buttons-right">
		<button mat-stroked-button class="outline-button mat-info" [mat-dialog-close]="input" mat-dialog-close>{{data?.ok || 'Ok'}}</button>
		<button mat-stroked-button class="outline-button mat-default" [mat-dialog-close]="false" mat-dialog-close>{{data?.cancel || 'Cancel'}}</button>
	</div>
</mat-dialog-actions>