<div id="dashboard-analytics" class="page-layout blank">

    <div class="main-widget">

        <div class="position-relative p-24 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Profit</span>
                <span class="h5 secondary-text">Profit by month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div *ngFor="let year of widgetYear" class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="getAdminProfit(year)"
                     [ngClass]="{'blue-700': widgetSelectedYear === year }">
                    {{year}}
                </div>
            </div>
        </div>

        <div class="position-relative h-256 pb-16 blue-600">
            <canvas baseChart
                    [datasets]="widgets?.datasets"
                    [labels]="widgets?.labels"
                    [colors]="widgets?.colors"
                    [options]="widgets?.options"
                    [chartType]="widgets?.chartType"
                    >
            </canvas>
        </div>

    </div>

    <div class="content">
        <div class="left mr-lg-32">
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100"
                class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3">Sport Type wise Sharks</div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                            <ngx-charts-bar-vertical
                                [scheme]="playerWidget.scheme"
                                [results]="playerWidget.mainChart"
                                [gradient]="playerWidget.gradient"
                                [xAxis]="playerWidget.xAxis"
                                [yAxis]="playerWidget.yAxis"
                                [legend]="playerWidget.legend"
                                [showXAxisLabel]="playerWidget.showXAxisLabel"
                                [showYAxisLabel]="playerWidget.showYAxisLabel"
                                [xAxisLabel]="playerWidget.xAxisLabel"
                                [yAxisLabel]="playerWidget.yAxisLabel"
                                [roundEdges]="false"
                                (select)="playerWidget.onSelect($event)">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
            </fuse-widget>
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100"
                class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3">Sport Type wise Stakes</div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                            <ngx-charts-bar-vertical [scheme]="postWidget.scheme" [results]="postWidget.mainChart"
                                [gradient]="postWidget.gradient" [xAxis]="postWidget.xAxis" [yAxis]="postWidget.yAxis"
                                [roundEdges]="false"
                                [barPadding]="10"
                                [legend]="postWidget.legend" [showXAxisLabel]="postWidget.showXAxisLabel"
                                [showYAxisLabel]="postWidget.showYAxisLabel" [xAxisLabel]="postWidget.xAxisLabel"
                                [yAxisLabel]="postWidget.yAxisLabel" (select)="postWidget.onSelect($event)">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
            </fuse-widget>
        </div>
        <div class="right">
            <div fxLayout="row wrap" fxLayout.gt-md="column" fxFlex="100">
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'"> 
                    <div class="fuse-card" *ngIf="userWidget.mainChart.length">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Users</div>
                        </div>
                        <div class="h-300">
                            <ngx-charts-pie-chart 
                                [scheme]="userWidget.scheme"
                                [results]="userWidget.mainChart"
                                [legend]="userWidget.legend"
                                [explodeSlices]="userWidget.explodeSlices"
                                [labels]="userWidget.labels"
                                [doughnut]="userWidget.doughnut"
                                [gradient]="userWidget.gradient"
                                (select)="userWidget.onSelect($event)">
                            </ngx-charts-pie-chart>
                            
                        </div>
                        <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">
                        
                            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                <span class="mat-display-1 mb-0">
                                    {{userWidget.footerView.totalPlayer}}
                                </span>
                                <span class="h4">Sharks</span>
                            </div>
                        
                            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                <span class="mat-display-1 mb-0">
                                    {{userWidget.footerView.totalUser}}
                                </span>
                                <span class="h4">Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="fuse-card" *ngIf="stakeMax">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Stakes</div>
                        </div>
                        <div class="h-300">
                            <ngx-charts-pie-chart [scheme]="stakesStatusWidget.scheme" [results]="stakesStatusWidget.mainChart"
                                [legend]="stakesStatusWidget.showLegend" [explodeSlices]="stakesStatusWidget.explodeSlices"
                                [labels]="stakesStatusWidget.labels" [doughnut]="stakesStatusWidget.doughnut"
                                [gradient]="stakesStatusWidget.gradient" (select)="stakesStatusWidget.onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                    <div class="fuse-card">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Support Tickets</div>
                        </div>
                        <div class="h-200" *ngIf="supportMax">
                            <ngx-charts-pie-chart *fuseIfOnDom [scheme]="supportWidget.scheme" [results]="supportWidget.items"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let item of supportWidget.items;"
                                [ngClass]="{'fg-android': (item.name=='Open'), 'fg-cloud': (item.name=='Closed'), 'fg-firebase':(item.name=='Unread')}">
                                <div class="h4 secondary-text">{{item.name}}</div>
                                <div class="h2 font-weight-300 py-8">{{item.value}}</div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
