@import "src/@fuse/scss/fuse";
#dashboard-analytics {

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;
        .widget {

            &.widget5 {

                .gridline-path.gridline-path-horizontal {
                    display: none;
                }
            }
        }

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 500px;
            min-width: 500px;
            max-width: 500px;
            padding-top: 12px;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            .fuse-card {
                margin-bottom: 12px;
                max-width: 500px;
                min-width: 500px;
                
                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                }
                .fg-android{
                    color: mat-color($mat-green, 500);
                }
                .fg-cloud {
                    color: mat-color($mat-blue-grey, 500);
                }
                .fg-firebase{
                    color: mat-color($mat-amber, 800);
                }
            }
        }
    }

}
