<div class="mb-5">
    <h3>Upcoming Staked Contests </h3>
    <div class="row mb-4">
        <div class="col-lg-8 col-12">
            <div class="row mb-4">
                <div class="col-md-4  col-12">
                    <select (change)="applyUpcommingFilter('user_id', $event.target.value)"
                        class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter by Shark</option>
                        <option *ngFor="let user of players" [value]="user._id">{{user?.first_name}}
                            {{user?.last_name}}</option>
                    </select>
                </div>
                <div class="col-md-4  col-12">
                    <select (change)="applyUpcommingFilter('sport_type_id', $event.target.value)"
                        class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter By Sport</option>
                        <option *ngFor="let sport_type of sport_types" [value]="sport_type._id">
                            {{sport_type?.name}}
                        </option>
                    </select>
                </div>

                <!-- <div class="col-md-4  col-12">
                            <select (change)="applyUpcommingFilter('amount', $event.target.value)"
                                class="custom-select custom-select-lg mb-3">
                                <option selected value="">Filter Buying Amount</option>
                                <option value="10-500">$10 - $500</option>
                                <option value="500-2000">$500 - $2,000</option>
                                <option value="2000-5000">$2,000 - $5,000</option>
                                <option value="5000+">$5,000 +</option>
                            </select>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="loading; else notLoading">
        <app-loading></app-loading>
    </div>
    <ng-template #notLoading>
        <ng-template [ngIf]="buyStackList?.length > 0" [ngIfElse]="noUpcommingStakes">
            <div *ngFor="let list of buyStackList">
                <app-shark-item type="my-account" [user]="list"></app-shark-item>
            </div>
            <div class="load-more-container text-center" *ngIf="buyStacksLoadMore && !buyStacksLoading">
                <button class="btn btn-primary" (click)="onLoadMoreBuyStacks()">Load More</button>
            </div>
        </ng-template>

        <ng-template #noUpcommingStakes>
            <p>There is no upcoming stake contests.</p>
        </ng-template>
    </ng-template>
</div>
<div class="past-contests">
    <h3>Past Staked Contests</h3>
    <div class="row mb-4">
        <div class="col-lg-8 col-12">
            <div class="row mb-4">
                <div class="col-md-4 col-12">
                    <select (change)="applyPastFilter('user_id', $event.target.value)"
                        class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter by Shark</option>
                        <option *ngFor="let user of players" [value]="user._id">{{user?.first_name}}
                            {{user?.last_name}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-12">
                    <select (change)="applyPastFilter('sport_type_id', $event.target.value)"
                        class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter By Sport</option>
                        <option *ngFor="let sport_type of sport_types" [value]="sport_type.id">
                            {{sport_type?.name}}
                        </option>
                    </select>
                </div>
                <!-- <div class="col-md-4  col-12">
                            <select (change)="applyPastFilter('amount', $event.target.value)"
                                class="custom-select custom-select-lg mb-3">
                                <option selected value="">Filter Buying Amount</option>
                                <option value="10-500">$10 - $500</option>
                                <option value="500-2000">$500 - $2,000</option>
                                <option value="2000-5000">$2,000 - $5,000</option>
                                <option value="5000+">$5,000 +</option>
                            </select>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="loading; else notLoadingPastStake">
        <app-loading></app-loading>
    </div>
    <ng-template #notLoadingPastStake>
        <ng-template [ngIf]="pastBuyStackList?.length > 0" [ngIfElse]="noPostStakes">
            <div *ngFor="let list of pastBuyStackList">
                <app-shark-item type="my-account" [user]="list"></app-shark-item>
            </div>
            <div class="load-more-container text-center" *ngIf="pastBuyStacksLoadMore && !pastBuyStacksLoading">
                <button class="btn btn-primary" (click)="onLoadMorepastBuyStacks()">Load More</button>
            </div>
        </ng-template>

        <ng-template #noPostStakes>
            <p>There is no past stake contests.</p>
        </ng-template>
    </ng-template>

    <!-- <app-shark-item></app-shark-item>
                            <app-shark-item></app-shark-item> -->
</div>