@import "var";
:host{
    .timer{
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        font-size: 17px;
        .days{
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 19px;
            font-weight: 600;
            &:after{
                content: "days";
                flex-basis: 12px;
                max-width: 12px;
                min-width: 12px;
                position: relative;
                display: block;
                font-size: 10px;
                opacity: .8;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-weight: normal;
                transform: rotateZ(180deg);
                margin-right: 4px;
                text-align: center;
            }
        }
        .hours{
             font-size: 19px;
            font-weight: 600;
            &:after {
                content: ":";
                opacity: .5;
            }
        }
        .minutes {
            width: 30px;
            font-size: 19px;
            font-weight: 600;
        }
        .seconds {
            bottom: 0;
            right: 5px;
            opacity: .7;
            font-size: 0.9rem;
            &:before {
                content: ".";
            }
        }
    }
    
}