@import "src/@fuse/scss/fuse";

profile-about {

    #about {
        .mat-radio-button {margin-right: 30px;}
        max-width: 1200px;

        .about-content {

            .general {

                .location {

                    mat-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {

                .job {

                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 600;
                    }
                }
            }
        }

        .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .friends {

                .content {

                    .friend {
                        padding: 4px;

                        img {
                            border-radius: 4px;
                        }
                    }
                }
            }

            .groups {

                .content {

                    .group {
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48px;
                            height: 48px;
                            font-size: 21px;
                            line-height: normal;
                            border-radius: 50%;
                            margin-right: 16px;
                        }

                        .name {
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .members {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
                align-items: center;
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
   
        .input-group{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            .custom-file{
                display: flex;
                align-items: center;
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
                .custom-file-input {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 30px;
                    margin: 0;
                    opacity: 0;
                }
                
                .custom-file-label {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 1;
                    height: 30px;
                    padding: .375rem .75rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        display: block;
                        height: calc(1.5em + .75rem);
                        padding: .375rem .75rem;
                        line-height: 1.5;
                        color: #495057;
                        content: "Browse";
                        background-color: #e9ecef;
                        border-left: inherit;
                        border-radius: 0 .25rem .25rem 0;
                    }
                }
            }
        }
        .pro-image {
            display: block !important;
        }
}
.mat-gender {
    margin: 5px;
    margin-bottom: 10px;
    display: block;
}
.mat-raised-button{
    margin-top: 20px;
}
span.border.d-table.p-2 {
    margin-bottom: 10px;
    display: inline-block;
    padding: 0.5rem;
}
.mat-datepicker-toggle-default-icon {
    margin-left: 14px !important;
}