<div id="about" class="p-24" fxLayout="row wrap">
    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
        <div class="profile-box info-box general" fxLayout="column">
            <header class="accent">
                <div class="title">
                    <span>General Information</span>
                    <button mat-icon-button type="button" (click)="toggleEditView()" [matTooltip]="'Close'" *ngIf="is_edit">
                        <mat-icon>
                            close
                        </mat-icon>
                    </button>
                    <button mat-icon-button type="button" (click)="toggleEditView()" [matTooltip]="'Edit'" *ngIf="!is_edit">
                        <mat-icon>
                            edit
                        </mat-icon>
                    </button>
                </div>                
            </header>
            <div class="content" *ngIf="!is_edit">
                <div class="info-line">
                    <div class="title">Name</div>
                    <div class="info">{{user?.first_name}} {{user?.last_name}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">{{user?.email}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Date of Birth</div>
                    <div class="info">{{user?.dob}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info">{{user?.gender | titlecase}}  </div>
                </div>

                <div class="info-line" *ngIf="user?.profile_pic">
                    <div class="title">Profile Image</div>
                    <div class="d-block mt-3 mb-3" *ngIf="user?.profile_pic">
                        <span class="border d-table p-2">
                            <img [src]="user?.profile_pic " width="150">
                        </span>
                    </div>
                </div>
            </div>

            <div class="content" *ngIf="is_edit">
                <form name="form" [formGroup]="userForm" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>
                    <!-- <http-message [data]="rateHttpResponse"></http-message> -->
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>First Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="first_name" formControlName="first_name" matInput required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Last Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="last_name" formControlName="last_name" matInput>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Email</mat-label>
                            <mat-icon matSuffix class="secondary-text">email</mat-icon>
                            <input name="email" formControlName="email" matInput type="email" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="dob">
                            <mat-datepicker-toggle class="datepicker-toggle" matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthdayDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                        <mat-label class="mat-gender">Gender</mat-label>
                        <mat-radio-group name="gender" formControlName="gender">
                            <mat-radio-button color="primary" value="male">Male</mat-radio-button>
                            <mat-radio-button color="primary" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="pro-image">
                        <mat-label class="mat-gender">Profile Image</mat-label>
                        <div class="d-block mt-3 mb-3" *ngIf="user?.profile_pic || userForm?.profile_pic ">
                            <span class="border d-table p-2">
                                <img [src]="user?.profile_pic " width="150">
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input formControlName="profile_pic" type="file" accept="image/*" class="custom-file-input" #profilePicFileInput (change)="setProfilePic($event)">
                                <label class="custom-file-label"
                                    for="inputGroupFile04">{{ profilePicFileInput.value.split("\\").pop() || 'Choose file' }}</label>
                            </div>
                        </div>
                    </div>
                   
            
                    <div fxLayout="row" fxLayoutAlign="end end" class="pro-image">
                        <button mat-raised-button color="basic" mat-button class="save-button" [disabled]="userForm.invalid"
                            aria-label="SAVE">Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>