<div id="email-template" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">email</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Email Templates</span>
            </div>
        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #dataTableEmailTemplateInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <div class="center p-24 pb-56 pr-sm-92">
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="dataTableEmailTemplateInput" [value]="emailTemplateList">
                        <column field="name" header="Name" [sortable]="true" [searchable]="true"></column>
                        <column field="subject" header="Subject" [sortable]="true" [searchable]="true"></column>
                        <column field="slug" header="Key" [sortable]="true" [searchable]="true"></column>
                        <column header="Action" [sortable]="false" [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item type="button" (click)="newTemplate(row,'Edit Email Template')">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item dialog-confirm
                                        message="Are you sure that you want to delete email template?"
                                        (confirm)="deleteTemplate(row?._id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                </mat-menu>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
<button mat-fab class="fix bottom right" (click)="newTemplate({},'Add Email Template')" aria-label="Add Email Template"
    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>add</mat-icon>
</button>
<ng-template #templateDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{data.title}}</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form name="form" (ngSubmit)="addUpdateTemplate(f)" #f="ngForm">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field validation="required" name="name" [(ngModel)]="data.template.name" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input appFieldInput matInput name="name" [(ngModel)]="data.template.name">
                            </mat-form-field>
                        </app-form-field>
                    </div>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field validation="required" name="slug" [(ngModel)]="data.template.slug" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Key</mat-label>
                                <input appFieldInput matInput name="slug" [(ngModel)]="data.template.slug">
                            </mat-form-field>
                            <p class="description"><strong>Note:</strong> Key field used in code so don't change it.</p>
                        </app-form-field>
                    </div>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field name="subject" [(ngModel)]="data.template.subject" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Subject</mat-label>
                                <input appFieldInput matInput name="subject" [(ngModel)]="data.template.subject">
                            </mat-form-field>
                        </app-form-field>
                    </div>
                </div>
                <app-form-field class="form-group">
                    <label appFieldLabel>Content </label>
                    <ckeditor appFieldInput [(ngModel)]="data.template.body" name="body" #body
                        [ngModelOptions]="{standalone: true}"></ckeditor>
                </app-form-field>
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <div class="buttons">
                <button *ngIf="!isLoading" mat-stroked-button color="primary" (click)="_matDialog.closeAll()" type="button">
                    Close
                </button>
                <button *ngIf="!isLoading" mat-stroked-button color="accent" (click)="submit(f)"> Save </button>
                <app-loading type="inline" *ngIf="isLoading"></app-loading>
            </div>
        </div>
    </div>
</ng-template>