@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o54f2z');
  src:  url('fonts/icomoon.eot?o54f2z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o54f2z') format('truetype'),
    url('fonts/icomoon.woff?o54f2z') format('woff'),
    url('fonts/icomoon.svg?o54f2z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-streaming:before {
  content: "\e91c";
}
.icon-comment:before {
  content: "\e909";
}
.icon-file-support:before {
  content: "\e91b";
}
.icon-deposite:before {
  content: "\e918";
}
.icon-withdraw:before {
  content: "\e919";
}
.icon-money-bag:before {
  content: "\e91a";
}
.icon-notification:before {
  content: "\e914";
}
.icon-message:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e916";
}
.icon-arrow-up:before {
  content: "\e917";
}
.icon-mail:before {
  content: "\e913";
}
.icon-call:before {
  content: "\e90f";
}
.icon-maps:before {
  content: "\e910";
}
.icon-mail1:before {
  content: "\e911";
}
.icon-instagram-dark:before {
  content: "\e912";
}
.icon-minus:before {
  content: "\e90e";
}
.icon-redo:before {
  content: "\e90c";
}
.icon-add:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-down-arrow:before {
  content: "\e907";
}
.icon-up-arrow:before {
  content: "\e908";
}
