<section id="login" class="light-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Sign in/Sign Up</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Registered Customer</h3>
                            <div class="row">
                                <div class="col-sm-11 p-0">
                                    <form (ngSubmit)="doLogin()">
                                        <http-message [type]="'error'" [data]="loginError" *ngIf="loginError" ></http-message>
                                        <div class="form-group">
                                            <label>Username or email <span class="required-star">*</span></label>
                                            <input required #email="ngModel" type="email" class="form-control" [(ngModel)]="loginForm.email" name="email" placeholder="Enter email">
                                            <control-messages name="Email" [control]="email"></control-messages>
                                        </div>
                                        <div class="form-group">
                                            <label>Password <span class="required-star">*</span></label>
                                            <input required #password="ngModel" type="password" class="form-control" [(ngModel)]="loginForm.password" name="password" placeholder="Enter Password">
                                            <control-messages name="Password" [control]="password"></control-messages>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign In</button>
                                        <a routerLink="/forgot-password" class="lost-password">Lost your password?</a>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pl-0 pt-5">
                                    <span>or sign in with social media.</span>
                                </div>
                                <div class="col-sm-6 pl-0 pt-5">
                                    <div class="social-media g"></div>
                                    <div class="social-media fb"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3>Not Registered? No Problem</h3>
                            <div class="row">
                                <div class="col-sm-11 p-0">
                                    <form (ngSubmit)="doRegister()">
                                        <http-message [type]="'error'" [data]="registerError" *ngIf="registerError">                                       
                                        </http-message>
                                        <div class="form-group">
                                            <label>Are You<span class="required-star">*</span></label>
                                            <div class="radio-box">
                                                <div class="radio-toolbar">
                                                    <input type="radio" id="radioBarber" name="type" value="barber" 
                                                    checked [(ngModel)]="registerForm.type">
                                                    <label for="radioBarber">Barber</label>
                                                </div>
                                                <div class="radio-toolbar">
                                                    <input type="radio" value="user" id="radioUser"
                                                    name="type" [(ngModel)]="registerForm.type">
                                                    <label for="radioUser">User</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email<span class="required-star">*</span></label>
                                            <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                                                placeholder="Enter email" [(ngModel)]="registerForm.email">
                                        </div>
                                        <div class="form-group">
                                            <label>Password<span class="required-star">*</span></label>
                                            <input type="password" name="password" class="form-control"
                                            placeholder="Password" [(ngModel)]="registerForm.password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
