.lost-password{
    float: right;
    padding-top: 10px;
}

.radio-box{
	width: 100%;
	float: left;

    .radio-toolbar{
		display: inline-block;
		width: 114px;
		height: 45px;
		border: solid 1px #e8e8e8;
		background-color: #ffffff;
		margin-right: 10px;

		label{
			width: 114px;
		  	height: 45px;
			font-family: Raleway;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 2.75;
			letter-spacing: normal;
			text-align: center;
			color: #101010;
		}
		input[type="radio"] {
		    display:none;

		    &:checked + label {
			    width: 114px;
				height: 45px;
				border: solid 1px #5098ed;
				background-color: #ffffff;
				color: #5098ed;
			}
		}
    }
}

.social-media{
	width: 50px;
  	height: 50px;
  	display: block;
    margin-right: 20px;
    float: right;
  	&.fb{
  		background-color: #3c5a99;
  	}
  	&.g{
  		background-color: #db5146;
  	}
}

