:host{
    .pay-pal-button{
        max-width: 300px;
        button{
            background: #ffc439;
            height: 45px;
            min-height: 30px;
            max-height: 55px;
            color: #111;
            border-radius: 23px;
            border: none;
            width: 100%;
            outline: none !important;
        }
    }
    
}