<form novalidate (ngSubmit)="payNow()" *ngIf="step==1">
    <app-form-field class="form-group" name="amount" validation="required|number|min-number : 15" [(ngModel)]="amount"
        (input)="onAmountChange($event.target.value)">
        <!-- <label appFieldLabel>Amount <span class="required-star">*</span></label> -->
        <input appFieldInput type="text" class="form-control" name="amount" placeholder="Enter amount *">
        <span class="d-block">Total charge: {{ totalAmount | currency}} </span>
    </app-form-field>
    <button type="submit" class="btn btn-primary" *ngIf="!loading"> Deposit </button>
    <app-loading type="inline" *ngIf="loading"></app-loading>
</form>
<div  *ngIf="step==2">
    <h6>Open link to pay: <a class="btn btn-link" href="{{hostUrl}}" target="_blank">{{ hostUrl }}</a></h6>
</div>