// @import 'var';
// :host{
//   mat-card-header{
//       width: 100%;
//       float: left;
//    // background-color: #f7f7f7;
//   //  padding: 10px;

//     .header-image{
//       img{
//         width: 65px;
//         height: 65px;
//         border-radius: 30px;
//       }
//     }

//     .mat-card-header-text{
//       width: 100%;
//       float: left;

//       mat-card-subtitle{
//         &.subtitle-first{
//           width: auto;
//           float: left
//         }

//         &.subtitle-second{
//           float: right;
//         }
//       }
//     }
    
    
   
//   }
//   .closed-ticket{
//     color: $primary !important;
//     background: $primary_light_color;
//     border-radius: 5px;

//   }
//   // .mat-card-content{
//   //   padding: 10px;
//   // }
  
// }
@import "src/@fuse/scss/fuse";

#academy-course {

    .sidebar {
        width: 400px;
        max-width: 400px;

        .steps {
            padding: 16px 0;

            .step {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 16px;
                cursor: pointer;
                color: rgba(0,0,0,.54);

                &.current {
                    background: #e1f5fe;
                    color: rgba(0,0,0,.87);

                    .index {

                        span {
                            border: 2px solid;
                            background: #fafafa;
                            border-color: #039be5;
                        }
                    }

                    .title {
                        font-weight: bold;
                    }
                }

                &.completed {

                    .index {

                        span {
                            border: 2px solid;
                        }
                    }
                }

                &.first {

                    .index {

                        &:before {
                            display: none;
                        }
                    }
                }

                &.last {

                    .index {

                        &:after {
                            display: none;
                        }
                    }
                }

                .index {
                    display: flex;
                    margin-right: 12px;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: ' ';
                        border-left: 1px solid;
                        width: 1px;
                        height: 50%;
                        left: 29px;
                        z-index: 8;
                        color: rgba(0,0,0,.12);
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        width: 28px;
                        min-width: 28px;
                        max-width: 28px;
                        height: 28px;
                        border-radius: 100%;
                        border: 2px solid;
                        font-weight: bold;
                        font-size: 12px;
                        z-index: 10;
                        background: #fafafa;
                        border-color: rgba(0,0,0,.12);
                    }
                }

                .title {
                    display: flex;
                }
            }
        }
    }

    .center {
        position: relative;
        overflow: hidden;

        .header {
            height: auto;
            min-height: 72px;
            max-height: 100px;
            background-color: #039be5 !important;
            .button-div{
                margin-left: auto;
            }
            .quick-panel-toggle-button{
                color: #039be5;
                background: #ffffff;
                margin-left: 10px;
                mat-icon{
                    color: #039be5 !important;
                }
            }
        }

        .content {
            position: relative;
            display: flex;

            .course-step {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 48px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                &.ng-animating {
                    overflow: hidden;
                }

                @media (max-width: 720px) {
                    padding: 0 0 120px 0;
                }

                .course-step-content {
                    padding: 24px;
                    max-width: 720px;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 8px;
                    @include mat-elevation(1);
                    .msg-header{
                        display: flex;
                        .msg-img{
                            flex-shrink: 0;
                            width: 55px;
                        }
                        .msg-title{
                            flex-shrink: 1;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .step-navigation {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            bottom: 32px;
            max-width: 944px;
            padding: 0 24px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);

            .previous {
                margin-right: auto;
            }

            .next,
            .done {
                margin-left: auto;
            }

            .mat-accent{
                background: #039be5!important; 
                color: #ffffff!important;
            }
        }
        .closed-ticket{
            background: white;
            div{
                margin: 30px;
                padding: 10px;
                color: #3c763d;
                border: 1px solid #d6e9c6;
                background: #dff0d8;
            }
        }
    }
}
