<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">
    <fuse-sidebar class="sidebar" name="academy-course-left-sidebar-1" position="left" lockedOpen="gt-md">
        <div class="content" fusePerfectScrollbar>
            <div class="steps">
                <div class="step" *ngFor="let step of supportTicketDetail?.messages; let i = index; let last = last; let first = first"
                    (click)="gotoStep(i)"
                    [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                   
                    <div class="index">
                        <span>{{i + 1}}</span>
                        <!-- <img class="avatar" type="user" [alt]="row?.first_name" [src]="step?.user?.profile_pic" /> -->
                    </div>
                    <div>
                        <div class="title" [innerHtml]="step?.message | truncate:80"></div>
                        <div class="sub-title"><em>{{step?.user?.first_name}} {{step?.user?.last_name}}</em></div>
                        <div class="sub-title"><em>{{step?.created_at | date:'MMM d, yyyy, h:mm a'}}</em></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </fuse-sidebar>
    <div class="center">
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-16" [routerLink]="['/support']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="mr-8">
                <h2>{{supportTicketDetail?.subject}}</h2>
            </div>
            <div class="button-div">
                <button *ngIf="supportTicketDetail?.status != 'closed' " mat-icon-button class="quick-panel-toggle-button"
                    (click)="sendReply(supportTicketDetail)" title="Reply">
                    <mat-icon class="secondary-text">reply</mat-icon>
                </button>
                <button *ngIf="supportTicketDetail?.status != 'closed' " mat-icon-button class="quick-panel-toggle-button"
                    dialog-confirm message="Are you sure that you want to close the ticket?" (confirm)="markAsClosed('closed')"
                    title="Mark As Closed">
                    <mat-icon class="secondary-text">done</mat-icon>
                </button>
                <button *ngIf="supportTicketDetail?.status == 'closed' " mat-icon-button class="quick-panel-toggle-button"
                    dialog-confirm message="Are you sure that you want to reopen the ticket?" (confirm)="markAsClosed('open')"
                    title="Reopen the Ticket">
                    <mat-icon class="secondary-text">replay</mat-icon>
                </button>
            </div>
            
        </div>
        <div class="closed-ticket" *ngIf="supportTicketDetail?.status == 'closed'">
            <div>
                <span *ngIf="supportTicketDetail?.closed_by_user._id != currentUser._id">
                    {{supportTicketDetail.closed_by_user.first_name}} {{supportTicketDetail.closed_by_user.last_name}} has closed support ticket.</span>
                <span *ngIf="supportTicketDetail?.closed_by_user._id == currentUser._id">You have closed support ticket.</span>
            </div>
        </div>
        <div id="course-content" class="content" *ngIf="supportTicketDetail && supportTicketDetail?.messages?.length">
            <ng-container *ngFor="let step of supportTicketDetail?.messages; let i = index;">
                <div class="course-step" fusePerfectScrollbar *ngIf="currentStep === i" [@slideIn]="animationDirection">
                    <div id="course-step-content" class="course-step-content" >
                        <div class="msg-header">
                            <div class="msg-image">
                                <img class="avatar" type="user" [alt]="row?.first_name" [src]="step?.user?.profile_pic" />
                            </div>
                            <div class="msg-title">
                                <div class="sub-title">
                                    <b>{{step?.user?.first_name}} {{step?.user?.last_name}}</b>
                                </div>
                                <div class="sub-title">
                                    <em>{{ step?.user?.user_type }}</em>
                                </div>
                            </div>
                        </div>
                        <div class="msg-content" [innerHTML]="step.message"></div>
                        <button  *ngIf="step?.file" mat-icon-button matTooltip="Download File" (click)="downloadFile(step?.file)">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="step-navigation">
            <button mat-fab class="previous mat-accent fuse-white-fg" (click)="gotoPreviousStep()"
                [disabled]="currentStep === 0" [fxHide]="currentStep === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-fab class="next mat-accent fuse-white-fg" (click)="gotoNextStep()"
                [disabled]="currentStep === supportTicketDetail?.messages?.length - 1" [fxHide]="currentStep === supportTicketDetail?.messages?.length - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>