@import 'var';
:host {
    
    .icon-streaming:before {
        content: "\e91c";
        position: absolute;
        color: #ffb461;
        font-size: 25px;
        z-index: 9;
        left: -34px;
        margin-top: 40px;
    }
    .stake-title {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: 20%;
        .package-expand{
            flex-shrink: 0;
        }
        .title{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: capitalize;
        }
        @include respond(lg) {
            width: 40%;
            font-weight: bold;
            margin-bottom: 10px;
        }
        @include respond(md) {
            width: 100%;
        }
    }
    .custom-amount-input {
        border-radius: 5px;
        
        align-items: center;
        margin-bottom: 0;
        width: 155px;
       input{
           padding-right: 0;
       }
        @include respond(md){
            border: 1px solid #35c5bd;
            margin-top: 20px;
        }
    }
    .package-expand {
        min-height: 40px;
        min-width: 30px;
        flex-basis: 30px;
        border-radius: 5px;
        background-color: #f0f0f0;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        margin-bottom: 0;
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            left: 50%;
            width: 6px;
            height: 6px;
            border-right: 2px solid #000;
            border-top: 2px solid #000;
            opacity: 0.3;
            transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
            transition: all 0.15s ease-in-out;
        }
        &::after {
            content: '';
            position: absolute;
            top: calc(50% + 4px);
            left: 50%;
            width: 6px;
            height: 6px;
            border-right: 2px solid #000;
            border-top: 2px solid #000;
            opacity: 0.3;
            transform: translateX(-50%) translateY(-50%) rotateZ(135deg);
            transition: all 0.15s ease-in-out;
        }
        // @include respond(xl) {
        //     display: none;
        // }
    }
    .btn {
        flex-shrink: 0;
    }
    .shark-box {
        display: flex;
        // background-color: #f7f7f7;
        background-color: #fff;
        align-items: center;
        padding: 5px 20px 10px !important;
        margin-top: 0 !important;

        @include respond(xl) {
            flex-direction: column;
        }
        .package-resp {
            display: contents;
            @include respond(xl) {
                display: flex;
                width: 100%;
                align-items: center;
                padding: 0 0 0 15px;

            }
            @include respond(md) {
                // justify-content: space-between !important
                display: block;
                padding-left: 0;
                padding-right: 0;
            }
            .timer-button{
                @include respond(md) {
                    min-width: 113px;
                }
            }
            .buttons{
                @include respond(xl) {
                    margin-left: auto;
                }
                @include respond(md) {
                    float: right;
                }
                span{
                    font-size: 15px;
                    font-weight: 600;
                    display: block;
                    line-height: 16px;
                }
                .btn-secondary{
                    color: #fff;
                    background-color: #FFA500 !important;
                    border-color: #FFA500 !important;
                }
                .btn.btn-sm{
                    padding: 3px 11px;
                    border-radius: 8px;
                    margin: 0 7px !important;
                }
                .left_amount {
                    min-width: 84px;
                }
            }
        }
        .timer-button {
            min-width: 230px;
            border-radius: 8px;
            span{
                font-size: 19px;
                font-weight: 600;
                display: inline-block;
                position: relative;
                min-width: 100px;
                text-align: right;
                padding-right: 13px;
                
            }
            countdown-time{
                float: right;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #50A9A4;
                    top: 0;
                    left: -5px;
                }
            }
            
        }
        .buy {
            display: flex;
            align-items: center;
            width: 100%;
            @include respond(md) {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 15px;
                padding-left: 0 !important;
            }
            .buy-title {
                display: block;
                padding-left: 0 !important;
                width: 80px;
                @include respond(lg){
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
            .buy-buttons {
                display: flex;
                align-items: center;
                flex-shrink: 1;
                width: 100%;
                .buy-button-custom {
                    display: contents;
                    @include respond(xl) {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        padding: 0 15px;
                    }
                }
                .btn.btn-sm{
                    border-radius: 8px;
                    width: 87px;
                }
            }

            .my-buy-status{
                @include respond(md){
                    display: flex;
                    padding: 0;
                    align-items: center;
                }
                .label{
                    @include respond(md){
                        width: 100%;
                    }
                }
                .value{
                    @include respond(md){
                        flex-shrink: 0;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            .btn-label {
                background-color: #f0f0f0;
            }
        }
    }
    .form-control {
        background: transparent;
        border: none;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 5px 0 0 5px;
        height: 43px;
        border-right: none;
        margin-right: -2px;
    }
    .progress-container {
        // background-image: linear-gradient(to left, #04194c, #A9D213 50%, #9dd611);
        background-image: linear-gradient(to left, #04194c, #0BB5FF 50%, #0BB5FF);
        display: table;
        width: 100%;
        .prodress-bar {
            height: 10px;
            float: right;
            background-color: #d9d9d9;
        }
    }
    
}
::ng-deep {
    .table{
        &.border{
            td{
                line-height: 2.86;
            }
        }
    } 
    
}
.input-group-prepend button {
    border-radius: 4px !important;
}
.custom-amount-input{
    border: 2px solid #d0d0d0;
    border-radius: 8px !important;
    display: inline-block;
    input{ 
        width:83px; 
        float:left;
    }
    .input-group-prepend{
            display: block;
            button{
                background:  #FFA500;//#6c757d;
                color: #fff;
                border: 1px solid  #FFA500;//#6c757d;
                padding: 10px 20px;                
                float: right;
            }
           
    }
}
.stake-detail{
    border-bottom: 2px solid rgba(0,0,0,.1);
   // margin-bottom: 10px;
}


