
<a [href]="data?.stream_url" target="_blank" *ngIf="data?.is_streaming">
    <span class="icon icon-streaming"></span>
</a>
<div class="shark-box p-2 mt-3">
    <div class="package-resp">
        <div class="stake-title">
            <label class="package-expand" (click)="data.detail_show = !data.detail_show"></label>
            <span class="title pr-3">{{data?.title}}</span>
        </div>

        <div class="buttons">
            <div class="btn m-1 btn-sm btn-secondary" placement="top" ngbTooltip="Markup"> MARKUP <span> {{ (data?.markup_amount || 0) }} </span> </div>
        </div>
   
        <button disabled class="btn timer-button btn-sm btn-primary"><span> {{(data?.total_staked_amount || 0) | currency }} </span>
            <!-- <countdown-timer *ngIf="isBrowser" [end]="data?.closing_time"></countdown-timer> -->
            <countdown-time *ngIf="isBrowser && !data?.past_stack" [inputDate]="data?.closing_time">Loading...</countdown-time>
        </button>
        <div class="buttons" *ngIf="data.paid_to_player == false;else other_left_temp">
            <div class="btn m-1 btn-sm btn-secondary left_amount" placement="top" ngbTooltip="Left to sell">{{ ( data.reamining | currency)}} <br> LEFT</div>
        </div>
        <ng-template #other_left_temp>
            <div class="btn m-1 btn-sm btn-secondary left_amount">$0 <br> LEFT</div>
        </ng-template>
    </div>
    <ng-template [ngIf]="type == 'my-account'">
        <div class="buy pl-4">
            <div class="col-md-6 col-sm-12 my-buy-status">
                <span class="pr-3 label">My Total Buy In:</span>
                <div class="btn m-1 btn-sm btn-secondary value">{{(total_my_staked_amount || 0) | currency}}</div>
            </div>
            <div class="col-md-6 col-sm-12 my-buy-status">
                <span class="pr-3 label">My Total Stake:</span>
                <div class="btn m-1 btn-sm btn-secondary value">{{ getPer(total_my_staked_amount) }}</div>
            </div>
        </div>
    </ng-template>



    <ng-template [ngIf]="data.paid_to_player == false && type != 'my-account'">
        <div class="buy pl-3" *ngIf="(data?.total_staked_amount - data?.sold_total)">
           <!--  <span class="pr-3 buy-title">Buy Ins:</span> -->
            <div class="buy-buttons" [hidden]="data.is_show">
                <button *ngFor="let button of buttons" (click)="$event.stopPropagation(); onBuy(button)"
                    class="btn m-1 btn-sm btn-primary">${{button}} <br> ({{getPer(button)}})</button>
            </div>
            <div class="buy-buttons buy-button-custom" [hidden]="data.is_show">
                <div class="input-group ml-auto custom-amount-input mb-0">
                    <input type="number" #custom_amount class="form-control" placeholder="Amount">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" (click)="$event.stopPropagation(); onBuy(custom_amount.value)"
                            type="button" placement="top" ngbTooltip="Make a stake of custom amount ( up to {{(data.reamining || 0) | currency}})">Buy</button>
                    </div>
                </div>
            </div>
            <button [hidden]="!data.is_show" (click)="$event.stopPropagation(); confirmBuy()"
                class="btn m-1 btn-sm btn-primary">{{data.note}}</button>
            <button [hidden]="!data.is_show" (click)="$event.stopPropagation(); data.is_show = !data.is_show"
                class="btn m-1 btn-sm btn-primary">Cancel</button>
        </div>
    </ng-template>

    <div class="ml-auto actions">
        <div class="pl-4" *ngIf="data?.is_closed || data.paid_to_player == true; else non_close_temp">
            <h3 class="mb-0 ml-auto mr-4">CLOSED</h3>
        </div>
        <ng-template #non_close_temp>
            <div class="mb-0 ml-auto mr-4" *ngIf="!(data?.total_staked_amount - data?.sold_total)">
                <h3 class="mb-0">SOLD OUT</h3>
            </div>
        </ng-template>
    </div>

</div>

<div class="progress-container">
    <span class="prodress-bar" [ngStyle]="{width: getProgress(data)}"></span>
</div>

<div class="stake-detail p-3" [hidden]="!data.detail_show">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mb-1">{{data?.title}}</h5>
            <div class="description mb-3">{{data?.description}}</div>
            <h5 class="mb-1" *ngIf="data?.sport_type">Sport Type</h5>
            <div class="description mb-3" *ngIf="data?.sport_type">{{data?.sport_type?.name}}</div>
            <div *ngIf="stake">
                <h5 class="mb-1">Stakes</h5>
                <div class="stakes-list mb-3" *ngIf="data?.stack_users?.length; else noStakeYet">
                    <table class="table">
                        <tr>
                            <th>Date / Time</th>
                            <th>Amount</th>
                            <th>Stake %</th>
                        </tr>
                        <tr *ngFor="let stack of data?.stack_users">
                            <td>{{ stack?.created_at | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                            <td>{{ (stack?.staked_amount || 0) | currency }}</td>
                            <td>{{ getPer(stack?.staked_amount) }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>{{ getPer(total_my_staked_amount) }}</th>
                        </tr>
                    </table>
                </div>
                <ng-template #noStakeYet>
                    <div class="stakes-list mb-3">No stakes yet.</div>
                </ng-template>
            </div>
        </div>
        <div class="col-sm-12">

        </div>
        <!-- <div class="col-sm-6">
            <h5 class="mb-1">Tournaments</h5>
        </div> -->
    </div>

</div>

<ng-template #buyConfirmation let-modal>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>Confirm Buy Stake</h5>
        <p>{{data.title}}</p>
        <table class="table border">
            <tr>
                <th>Shark Name</th>
                <td>{{ data?.user?.first_name }} {{ data?.user?.last_name }}</td>
            </tr>
            <tr>
                <th>Stake Amount</th>
                <td>{{ (buying_data.amount || 0) | currency }}</td>
            </tr>

            <tr>
                <th>Markup Amount </th>
                <td>{{ (data?.markup_amount || 0) | currency }}</td>
            </tr>

            <tr>
                <th>Total Amount </th>
                <td>{{ ( total_amount || 0) | currency }}</td>
            </tr>
            <tr>
                <th>Stake %</th>
                <td>{{ buying_data.per }}</td>
            </tr>
        </table>
        <button *ngIf="!loadingBuy; else loadingBuyEle" class="btn btn-primary" (click)="buy()">Buy Now</button>
        <ng-template #loadingBuyEle>
            <app-loading type="inline"></app-loading>
        </ng-template>
    </div>
</ng-template>