@import "var";

:host {
  padding-top: 70px;
  display: block;
  @include respond(dsk) {
    padding-top: 60px;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    background-color: $accent;
    color: #fff;
    z-index: 999;
    font-size: 14px;
    .navbar-nav {
      align-items: center;
    }
    .navbar {
      position: unset;
      //padding-right: 100px;
      transition: all 0.5s;
      @include respond(md) {
        padding-right: 60px;
      }
    }

    .navbar-toggler {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100px;
      padding: 0;
      font-size: 40px;
      transition: all 0.5s;
      display: block;
      border-radius: 0;
      @include respond(dsk) {
        width: 80px;
        font-size: 32px;
      }

    }

    .responsive-menu{
      padding: 8px 15px;
      &.dropdown-toggle::after{
        display: none;
      }

    }
    .responsive-menu-items{
      @include respond(xl){
        right: 0 !important;
        left: -200px;
      }
    }
    .header-container {
      font-weight: 300;
      transition: padding 0.5s;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      .navbar-brand {
        img {
          height: 60px;
          transition: all 0.5s;
          @include respond(dsk) {
            height: 40px;
          }
        }
      }
    }

    .nav-item {
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all 0.5s;

      &.icon-only {
        padding: 5px !important;
        &:hover {
          background: rgba(255,255,255,0.2);
        }
        .icon{
          font-size: 18px;
        }
        &.message-icon{
          color: $tertiary;
        }
        &.notification-icon{
          color: $primary;
        }
      }

      &.user-info{
        .dropdown-toggle::after {
            margin-left: 20px;
        }
        .avatar{
          width: 48px;
          height: 48px;
          border-radius: 48px;
          overflow: hidden;
          vertical-align: middle;
          margin-right: 20px;
          display: inline-block;
          border: 1px solid #fff;
          @include respond(xl){
            width: 40px;
            height: 40px;
            border-radius: 40px;
          }
          img{
            width: 48px;
            height: 48px;
            object-fit: cover;
            @include respond(xl){
              width: 40px;
              height: 40px;
            }
          }
        }
      }



      &:hover {
        background: rgba(255,255,255,0.2);
      }
      &.active,
      &.active:hover {
        // background: linear-gradient(to top, #A9D213, #9dd611);
        background: linear-gradient(to top, #0BB5FF, #0BB5FF);
      }
      .buttons{
        .btn-secondary{
          color: #fff;
          background-color: #FFA500 !important;
          border-color: #FFA500 !important;
        }
      }
      .sign-button{
        // background: linear-gradient(to top, #A9D213, #9dd611);
        background: linear-gradient(to top, #0BB5FF, #0BB5FF);
        border-radius: 5px;
      }
      .nav-link {

        cursor: pointer;
        &.highlight {
          font-weight: bold;
        }
        &.outline {
          padding: 10px 20px;
          border-radius: 5px;
          border: solid 1px #484848;
          background-color: #2b2b2b;

          @include respond(dsk) {
            padding: 8px 10px;
          }
        }
      }
      .dropdown-toggle::after {
        margin-left: 40px;
      }

      &.has-outline {
        &.active,
        &:hover {
          background: none;
        }
      }
      &.dropdown {
        &.active,
        &:hover {
          background: none;
        }
      }
    }

    .dropdown-divider {
      border-top: 1px solid #484848;
      margin: 0;
    }
    .dropdown-menu {
      padding: 0;
      background: #000;
      border: 1px solid #484848;
      margin: 0;
      min-width: 12.55rem;
      right: 20px;
      position: absolute;
      .sub-menu{
        @include respond(lg){
          border-top: 1px solid rgba($color: #fff, $alpha: 0.6);
        }
      }

      .dropdown-item {
        color: #fff;
        padding: 7px 20px;

        @include respond(lg){
          padding: 4px 15px;
        }
        &:hover,
        &:focus {
          color: #fff;
          background: $primary;
        }
      }
      li {
        background-color: #959a9e !important;
        &:hover,
        &:focus {
          color: #fff;
          background: '' !important;
        }
      }
      .dropdown-item{
          @include respond(812px) {
          padding: 1.5px 10px;
          font-size: 13px;
          line-height: 18px;
         }
        }
    }
    .dropdown-menu{
      padding: 5px 0;
    }
  }

  &.shrink {
    .main-header {
      .navbar {
        //padding-right: 80px;
        @include respond(md) {
          padding-right: 60px;
        }
      }
      .navbar-toggler {
        width: 80px;
        font-size: 32px;
      }
      .header-container {
        padding-top: 0px;
        .navbar-brand {
          img {
            height: 50px;
            @include respond(dsk) {
              height: 40px;
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    font-size: 14px;
    @include respond(dsk) {
      font-size: 12px;
    }
    .nav-item {
      padding-left: 20px;
      padding-right: 20px;
      @include respond(dsk) {
        padding-left: 5px;
        padding-right: 5px;
      }


    }
  }
  .nav-item-devider {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      height: 30px;
      top: 50%;
      width: 1px;
      transform: translateY(-50%);
      border-right: 1px solid rgba(#fff, 0.5);
    }
  }

.menu.highlight {
  font-weight: bold;
}

  .main-footer {
    background: $accent;
    padding: 50px 0 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    .social-menu {
      padding: 0;
    }
    .footer-menu {
      margin: 0;
      padding: 0;
     .footer.highlight {
        font-weight: bold;
      }

      li {
        list-style: none;
        padding-left: 20px;
        position: relative;
        margin-bottom: 10px;
        &:before {
          color: $primary;
          position: absolute;
          content: "\e904";
          left: 0;
          font-family: $font_icomoon;
          font-size: 10px;
          line-height: 26px;
          margin-bottom: 12px;
        }
      }
    }
  }

  .main-container {
    min-height: calc(100vh - 80px - 202px);
  }
}

::ng-deep {
  .login-bg {
    background-image: url("#{$imagePath}/login-popup.jpg");
    background-size: cover;
  }
}

/* social login button css */
.login-btn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
}

/* Facebook */
.login-btn-facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  text-shadow: 0 -1px 0 #354c8c;
  &:before {
    border-right: #364e92 1px solid;
    background: url("#{$imagePath}/icon_facebook.png") 6px 6px no-repeat;
  }

  &:hover,
  &:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
  }
}

/* Google */
.login-btn-google {
  background: #dd4b39;
  &:before {
    border-right: #bb3f30 1px solid;
    background: url("#{$imagePath}/icon_google.png") 6px 6px no-repeat;
  }
  &:hover,
  &:focus {
    background: #e74b37;
  }
}

.horizontal-line {
  span {
    color: #959a9e;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    &:before,
    &:after {
      background-color: #ced4da;
      content: "";
      height: 1px;
      vertical-align: middle;
      width: 100%;
      position: absolute;
      top: 50%;
    }
    &:before {
      margin-right: 17px;
      right: 50%;
    }
    &:after {
      margin-left: 17px;
      left: 50%;
    }
  }
}

font.w3-badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3ac1c3;
    position: absolute;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
    right: -6px;
    top: -6px;
}

.icon-message,
.icon-notification{
  position: relative;
}
.icon-message{
  font.w3-badge {
    background: #ffb461;
  }
}



control-messages{
  position: absolute !important;
}

form .align-items-center{
  margin-top: 30px;
}
