<header class="main-header p-0 text-light">
    <div class="header-container">
        <nav class="navbar navbar-expand-xl" [ngClass]="{'active': activeToggle,
                 'inactive': !activeToggle}">
            <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="Stake My Shark"></a>
            <div class="header-right" [ngClass]="{'active-notification': user}">
                <ul class="navbar-nav user-head">

                    <ng-template [ngIf]="user" [ngIfElse]="loginMenus" class="active-notification">

                        <li class="nav-item notification-icon icon-only">
                            <a class="nav-link" routerLink="/my-account/notification"><span
                                    class="icon icon-notification">
                                    <font class="w3-badge" *ngIf="notificationCnt > 0">{{notificationCnt}}</font>
                                </span></a>
                        </li>
                        <li class="nav-item message-icon icon-only">
                            <a class="nav-link" routerLink="/chat">
                                <span class="icon icon-message">
                                    <font class="w3-badge" *ngIf="chat_counts > 0">{{chat_counts}}</font>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item-devider"></li>
                        <li class="nav-item user-info" ngbDropdown>
                            <button class="d-lg-none btn btn-primary responsive-menu" type="button" ngbDropdownToggle>
                                <span class="icon icon-menu"></span>
                            </button>
                            <a class="nav-link d-lg-block d-none" ngbDropdownToggle>
                                <span class="avatar"><img src="{{user?.profile_pic}}" type="user"></span>
                                {{user?.first_name}}
                            </a>
                            <div ngbDropdownMenu class="responsive-menu-items">

                                <a ngbDropdownItem class="menu d-xl-none" routerLink="/marketplace">Stake Now</a>
                                <a ngbDropdownItem class="menu d-xl-none" *ngIf="user && user?.user_type == 'user'"
                                    routerLinkActive="highlight" routerLink="/meet-our-sharks">Find a Shark</a>
                                <a ngbDropdownItem class="menu d-xl-none" target="_blank"
                                    [href]="discordUrl">Discord</a>
                                <a ngbDropdownItem class="menu d-xl-none" *ngIf="user && user?.user_type == 'user'"
                                    routerLinkActive="highlight" routerLink="/my-account/track-my-teams">Track My
                                    Teams</a>

                                <div class="sub-menu">
                                    <!-- <h4 class="description"> My Account </h4> -->
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/my-account">Dashboard</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/my-account/edit">Edit
                                        Profile</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/my-account/transactions">Transaction</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/my-account/invoices" *ngIf="user?.user_type == 'user'">Invoice</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        *ngIf="user?.user_type == 'user'" routerLink="/my-account/cashier">Cashier</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/support-ticket">Support
                                        Ticket</a>
                                    <!-- <a ngbDropdownItem class="menu" routerLinkActive="highlight" *ngIf="user?.user_type == 'user'"
                                        routerLink="/my-account/track-my-teams">Track My Teams</a> -->
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        *ngIf="user?.user_type == 'player'" routerLink="/my-account/my-stake">My
                                        Stake</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        *ngIf="user?.user_type == 'player'" routerLink="/my-account/availability">Set
                                        Availability</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        routerLink="/private-coaching">Private
                                        Coaching</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        *ngIf="user?.user_type == 'player'" routerLink="/follower">Follower</a>
                                    <a ngbDropdownItem class="menu" routerLinkActive="highlight"
                                        *ngIf="user?.user_type == 'user'" routerLink="/following">Following</a>
                                    <a ngbDropdownItem href="javascript:" (click)="logout()">Sign Out</a>
                                </div>
                            </div>
                        </li>

                    </ng-template>
                    <ng-template #loginMenus mr-1>
                        <li class="nav-item active  mr-1">
                            <a class="nav-link" href="javascript:" (click)="openModel(loginModelContent)">Sign In</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:" (click)="openModel(signupModelContent)">Sign Up</a>
                        </li>
                    </ng-template>

                </ul>
                <ul class="navbar-nav ml-auto d-xl-flex d-none first-ul">
                    <li class="nav-item active mr-3">
                        <a class="nav-link" routerLink="/marketplace">Stake Now</a>
                    </li>
                    <li class="nav-item has-outline pl-0 pr-3 dropdown" ngbDropdown>
                        <a class="nav-link outline dropdown-toggle" ngbDropdownToggle href="javascript:"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{selected_sport_type && selected_sport_type?._id ? selected_sport_type?.name : "Find a Sport" }}
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
                            <a ngbDropdownItem [routerLink]="['/marketplace']">Find a Sport</a>
                            <ng-template ngFor let-sport_type [ngForOf]="sport_types">

                                <a *ngIf="(sport_type?.status === 'active')" ngbDropdownItem
                                    [routerLink]="['/marketplace', sport_type?.slug]">{{sport_type?.name}}
                                </a>
                                <li class="disabled" *ngIf="(sport_type?.status === 'inactive')" ngbDropdownItem >{{sport_type?.name}}
                                </li>
                            </ng-template>
                            <!-- <a *ngFor="let sport_type of sport_types" ngbDropdownItem
                                [routerLink]="['/marketplace', sport_type?.slug]">{{sport_type?.name}}</a> -->
                        </div>
                    </li>
                    <li class="nav-item pl-0 pr-3" *ngIf="user && user?.user_type == 'user'">
                        <a class="nav-link" routerLinkActive="highlight" routerLink="/meet-our-sharks">Find a Shark</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" [href]="discordUrl">Discord</a>
                    </li>
                    <li class="nav-item" *ngIf="user && user?.user_type == 'user'">
                        <a class="nav-link" routerLinkActive="highlight" routerLink="/my-account/track-my-teams">Track
                            My Teams</a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="user && user?.user_type == 'user'">
                        <a class="nav-link" (click)="openPaymentModel(paymentModelContent)">Add Fund</a>
                    </li> -->
                    <li class="nav-item" *ngIf="user && user?.user_type == 'user'">
                        <a class="nav-link" routerLinkActive="highlight" routerLink="/my-account/cashier">
                            <span class="font-40 icon icon-money-bag"></span>
                            <span class="ml-2 mr-2">{{ user?.wallet_amount | currency}}</span>
                        </a>
                    </li>
                    <li class="nav-item-devider"></li>

                </ul>
            </div>
            <!-- <button class="navbar-toggler d-md-none btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="restToggle()"  [ngClass]="{'active-menu': user,
                 'inactive-menu': !user}">
                <span class="icon icon-menu"></span>
            </button> -->
        </nav>

    </div>
</header>
<div class="main-container">
    <div class="loading" *ngIf="loading; else notLoading">
        <app-loading></app-loading>
    </div>
    <ng-template #notLoading>
        <router-outlet></router-outlet>
    </ng-template>
</div>
<footer class="main-footer dark-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg col-sm-4">
                        <ul class="footer-menu">
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/faqs"> FAQ </a> </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/terms-of-service"> Terms of
                                    Service </a> </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/privacy-policy"> Privacy
                                    Policy </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg col-sm-4">
                        <ul class="footer-menu">
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/legal-disclaimers"> Legal
                                    Disclaimers </a> </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/payments"> Payments </a>
                            </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/about"> About </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg col-sm-4">
                        <ul class="footer-menu">
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/mobile-app"> Mobile App
                                </a> </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/contact-us"> Contact Us
                                </a> </li>
                            <li> <a class="footer" routerLinkActive="highlight" routerLink="/tutorials"> Tutorials </a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-lg-5 col-md-12 pt-4 pt-lg-0 down-md">
                        <p><strong>Sports:</strong></p>
                        <div class="footer-menu">
                            <ul class="row pl-3">
                                <li *ngFor="let sport_type of sport_types_footer" class="col-sm-4 col-lg-4"> <a *ngIf="sport_type.status == 'active'" class="footer"
                                        routerLinkActive="highlight"
                                        [routerLink]="['/marketplace', sport_type?.slug]">{{sport_type.name}} </a> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-lg-right">
                <ul class="social-menu ">
                    <li class="d-inline pl-0  pr-3"> <a href="https://www.facebook.com/" target="_blank"> <span
                                class="icon icon-facebook"></span> </a> </li>
                    <li class="d-inline pl-3 pr-3"> <a href="https://twitter.com/" target="_blank"><span
                                class="icon icon-twitter"></span> </a> </li>
                    <li class="d-inline pl-3 pr-0"> <a href="https://www.instagram.com/" target="_blank"> <span
                                class="icon icon-instagram"></span> </a> </li>
                </ul>
                <p>&copy; Fantasy Friends LLC. 2020 | Made with <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNpiZACC6ypqAUBqAhDLM0DAQSBOAOIPQNwAxPlQ8Y8gdZp3boHEGBiBGh2A9H4GTABS+ACI9bHIFQINmMAENRkb4MehkQGmB6TZgIF0wA/TTBYAeleACRpQpIKDQD9/gGn+SIJGkNoCsLNBJgBpBxIMcADquQD3M5RDjAGJMI3geEYLBFDIH4CFJhaNC5AFGLGEIjYDMDRi1YzFAKwaCcWjAtQQnAAgwAA+Tzk1qFublgAAAABJRU5ErkJggg==">
                    by <a target="_blank" href="https://www.techtic.com">
                        <span>Techtic</span></a></p>
            </div>
        </div>
    </div>
</footer>


<ng-template #loginModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-5 login-bg">

            </div>
            <div class="col-sm-7 p-5">
                <h3>Sign In</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet erat sit amet.</p>

                <form (ngSubmit)="doLogin(loginNgForm)" #loginNgForm="ngForm">
                    <http-message [type]="'error'" [data]="loginResponse"></http-message>

                    <!--  <div class="form-group">
                        <label>Email <span class="required-star">*</span></label>
                        <input autoFocus required #email="ngModel" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" [(ngModel)]="loginForm.email" name="email" placeholder="Enter Email">
                        <control-messages name="Email" [control]="email"></control-messages>
                    </div>
                    <div class="form-group">
                        <label>Password <span class="required-star">*</span></label>
                        <input required #password="ngModel" type="password" class="form-control" [(ngModel)]="loginForm.password" name="password" placeholder="Enter Password">
                        <control-messages name="Password" [control]="password"></control-messages>
                    </div> -->

                    <app-form-field class="form-group" validation="required|email" name="email"
                        [(ngModel)]="loginForm.email">
                        <label appFieldLabel>Email <span class="required-star">*</span></label>
                        <input appFieldInput type="email" class="form-control" placeholder="Enter Email">
                    </app-form-field>

                    <app-form-field class="form-group" validation="required|password" [(ngModel)]="loginForm.password"
                        name="password">
                        <label appFieldLabel>Password <span class="required-star">*</span></label>
                        <input appFieldInput type="password" class="form-control" placeholder="Enter Password">
                    </app-form-field>

                    <div class="row align-items-center">
                        <div class="col"><button type="submit" class="btn btn-primary">Sign In</button> </div>
                        <div class="col-auto text-right"><a href="javascript:"
                                (click)="modal.dismiss('Cross click'); openModel(forgotModelContent)"
                                class="lost-password btn btn-primary btn-link">Forgot Password?</a></div>
                    </div>
                </form>

                <div class="pt-5 horizontal-line">
                    <span>&nbsp;&nbsp;or&nbsp;&nbsp;</span>
                </div>

                <!-- <div class="pt-5 text-center">
                    <button class="login-btn login-btn-google" (click)="socialSignIn('google')">Google</button>
                    <button class="login-btn login-btn-facebook" (click)="socialSignIn('facebook')">Facebook</button>
                </div> -->

                <div class="pt-5">
                    <p>Don’t have an account? <a class="btn btn-primary btn-link" href="javascript:"
                            (click)="modal.dismiss('Cross click'); openModel(signupModelContent)"> Sign Up</a></p>
                </div>

            </div>
        </div>
    </div>
</ng-template>


<ng-template #signupModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-5 login-bg">

            </div>
            <div class="col-sm-7 p-5">
                <h3>Sign Up</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet erat sit amet.</p>

                <form (ngSubmit)="doRegister(registerNgForm)" #registerNgForm="ngForm">
                    <http-message [type]="'error'" [data]="registerResponse"></http-message>

                    <!-- <div class="form-group">
                        <label>First name<span class="required-star">*</span></label>
                        <input autoFocus required #first_name="ngModel" type="text" class="form-control" [(ngModel)]="registerForm.first_name" name="first_name" placeholder="Enter first name">
                        <control-messages name="First name" [control]="first_name"></control-messages>
                    </div>
                    <div class="form-group">
                        <label>Last name<span class="required-star">*</span></label>
                        <input required #last_name="ngModel" type="text" class="form-control" [(ngModel)]="registerForm.last_name" name="last_name" placeholder="Enter last name">
                        <control-messages name="Last name" [control]="last_name"></control-messages>
                    </div>

                    <div class="form-group">
                        <label>Email <span class="required-star">*</span></label>
                        <input required #email="ngModel" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" [(ngModel)]="registerForm.email" name="email" placeholder="Enter email">
                        <control-messages name="Email" [control]="email"></control-messages>
                    </div> -->

                    <app-form-field class="form-group" validation="required" name="first_name"
                        [(ngModel)]="registerForm.first_name">
                        <label appFieldLabel>First name <span class="required-star">*</span></label>
                        <input appFieldInput type="text" class="form-control" placeholder="Enter first name">
                    </app-form-field>

                    <app-form-field class="form-group" validation="required" name="last_name"
                        [(ngModel)]="registerForm.last_name">
                        <label appFieldLabel>Last name <span class="required-star">*</span></label>
                        <input appFieldInput type="text" class="form-control" placeholder="Enter last name">
                    </app-form-field>

                    <app-form-field class="form-group" validation="required|email" name="email"
                        [(ngModel)]="registerForm.email">
                        <label appFieldLabel>Email <span class="required-star">*</span></label>
                        <input appFieldInput type="email" class="form-control" placeholder="Enter email">
                    </app-form-field>

                    <app-form-field class="form-group" validation="required|min:6" name="password"
                        [(ngModel)]="registerForm.password">
                        <label appFieldLabel>New Password <span class="required-star">*</span></label>
                        <input appFieldInput type="password" class="form-control" placeholder="Enter password">
                    </app-form-field>

                    <app-form-field class="form-group signin-image" validation="required|min:6|equal_to:password"
                        name="password_confirmation" [(ngModel)]="registerForm.password_confirmation">
                        <label appFieldLabel>Confirm Password <span class="required-star">*</span></label>
                        <input appFieldInput type="password" class="form-control" placeholder="Enter confirm password">
                    </app-form-field>

                    <div class="row align-items-center">
                        <div class="col"><button type="submit" class="btn btn-primary">Sign Up</button> </div>
                        <!-- <div class="col"><button type="submit" class="btn btn-primary" [disabled]="!registerNgForm.valid">Sign Up</button> </div> -->
                    </div>
                </form>

                <div class="pt-5">
                    <p>Have already an account? <a class="btn btn-primary btn-link" href="javascript:"
                            (click)="modal.dismiss('Cross click'); openModel(loginModelContent)"> Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #forgotModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-5 login-bg">
            </div>
            <div class="col-sm-7 p-5">
                <h3>Forgot Password</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet erat sit amet.</p>
                <form (ngSubmit)="doForgot(forgotNgForm)" #forgotNgForm="ngForm">
                    <http-message [type]="'error'" [data]="forgotResponse"></http-message>

                    <!-- <div class="form-group">
                        <label>Email <span class="required-star">*</span></label>
                        <input required #email="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" type="email" class="form-control" [(ngModel)]="forgotForm.email" name="email" placeholder="Enter email">
                        <control-messages name="Email" [control]="email"></control-messages>
                    </div> -->

                    <app-form-field class="form-group" validation="required|email" name="email"
                        [(ngModel)]="forgotForm.email">
                        <label appFieldLabel>Email <span class="required-star">*</span></label>
                        <input appFieldInput type="email" class="form-control" placeholder="Enter email">
                    </app-form-field>

                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

                <div class="pt-5">
                    <p>Have already an account? <a class="btn btn-primary btn-link" href="javascript:"
                            (click)="modal.dismiss('Cross click'); openModel(loginModelContent)"> Sign In</a></p>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #paymentModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5">
                <h3>Deposit Funds</h3>
                <p>Debit/Credit Card:</p>
                <p><img src="assets/images/powered_by_stripe.png" alt="powered_by_stripe"></p>

                <!-- <div class="withdraw-card-buttons mb-5">
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'credit' }" (click)="paymentMethod  = 'credit'">Debit / Credit</button>
                        </div>
                        <div class="col-auto">
                            <button disabled class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'skrill-neteller' }">Skrill and Neteller</button>
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'cryptocurrency' }" (click)="paymentMethod  = 'cryptocurrency'">Cryptocurrency</button>
                        </div>
                    </div>
                </div> -->

                <!-- <div *ngIf="paymentMethod == 'credit'"> -->
                <app-stripe (done)="openModelThankyouModel($event, paymentDoneModelContent)"></app-stripe>
                <!-- </div>
                <div *ngIf="paymentMethod == 'cryptocurrency'">
                    <app-crypto-currency></app-crypto-currency>
                </div> -->
            </div>
        </div>
    </div>
</ng-template>

<ng-template #paymentDoneModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 text-center">
                <h3>Success</h3>
                <h2>{{ (paymentData?.amount || 0) | currency }}</h2>
                <p>Successfully added in your wallet. Your closing balance
                    {{ (paymentData?.closing_balance) | currency }}</p>
            </div>
        </div>
    </div>
</ng-template>
