<section class="light-section">
    <div class="container-fluid">
        <div class="mb-5">
            <div class="row mb-4">
                <div class="col-sm-4">
                    <select (change)="applyFilter('user_id', $event.target.value)" class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter by Shark</option>
                        <option *ngFor="let user of players" [value]="user._id">{{user?.first_name}} {{user?.last_name}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select (change)="redirectSportType($event.target.value)" [(ngModel)]="sport_type_id" class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter By Sport</option>
                        <option *ngFor="let sport_type of sport_types" [disabled]="sport_type.status =='inactive'" [value]="sport_type._id">{{sport_type?.name}}</option>
                    </select>
                </div>
                <!-- <div class="col-sm-4">
                    <select (change)="applyFilter('amount', $event.target.value)" class="custom-select custom-select-lg mb-3">
                        <option selected value="">Filter Buying Amount</option>
                        <option value="10-500">$10 - $500</option>
                        <option value="500-2000">$500 - $2,000</option>
                        <option value="2000-5000">$2,000 - $5,000</option>
                        <option value="5000+">$5,000 +</option>
                    </select>
                </div> -->
            </div>

            <div class="loading" *ngIf="loading; else notLoading">
                <app-loading></app-loading>
            </div>
            <ng-template #notLoading>
                <div *ngIf="listStack?.length && sport_type_status=='active'">
                    <div *ngFor="let list of listStack">
                        <app-shark-item [user]="list"></app-shark-item>
                    </div>

                    <div class="load-more-container text-center" *ngIf="loadMore && !loading">
                        <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
                    </div>
                </div>
                <div *ngIf="!listStack?.length && sport_type_status=='active'">
                    <h4 style="text-align:center">There is no content.</h4>
                </div>
                <div *ngIf="sport_type_status != 'active'">
                    <h4 style="text-align:center">Coming Soon...</h4>
                </div>
            </ng-template>
        </div>
    </div>
</section>
