::ng-deep{
    .mat-dialog-container{
        padding: 16px 24px;
    }
    .mat-dialog-actions{
        padding: 0;
        margin-bottom: 0;
        min-height: 0;
    }
    .mat-dialog-content {
        margin: 0;
        padding: 0;
        margin-bottom: 1.8rem;
    }

    .dialog-modal {
	    width: 100%;
	    max-width: 500px !important;
	    &.modal-xs {
	        max-width: 300px !important;
	    }
	    &.modal-sm {
	        max-width: 400px !important;
	    }
	    &.modal-md {
	        max-width: 600px !important;
	    }
	    &.modal-lg {
	        max-width: 800px !important;
	    }
	    &.modal-lx {
	        max-width: 80% !important;
	    }
	}
}
