@import "var";
:host{
    .loading {
        clear: both;
        position: relative;
        min-height: calc(100vh - 340px);
        //background: var(--background, $primary);
        .loading-inner {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            .spinner{
                height: auto;
                & > div{
                    background-color: #333;
                }
            }
        }
        &.main{
            .loading-inner {
                transform: translateY(50px) translateX(-50%);
                .spinner{
                    & > div{
                        background-color: #fff;
                    }
                }
            }
        }
        
        &.inline{
            background: transparent;
            height: 40px;
            width: 110px;
            display: inline-block;
            min-height: 0;
        }
    }

    &.bg-white{
        .loading {
            background: #fff;
        }
    }

    
}
