
<form novalidate (ngSubmit)="payNow()">
    <app-form-field class="form-group" name="amount" validation="required|number" [(ngModel)]="formData.amount">
        <!-- <label appFieldLabel>Amount <span class="required-star">*</span></label> -->
        <input appFieldInput  type="text" class="form-control" name="amount" placeholder="Enter amount *">
    </app-form-field>
    
    <h4>BANK PROCESSING FEES</h4>
    <p class="mt-3"> IMPORTANT: Please note that bank wires are subject to the fees seen below. All wire transfers outside of the USA will have a $45 international  wire fee charged by the bank.</p>
    
    <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary">

    <div class="row">
        <div class="col-md-6">
            <app-form-field class="form-group" name="bank_name" [(ngModel)]="formData.bankName" validation="required">
                <input class="form-control" type="text" placeholder="Bank Name">
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="account_number" [(ngModel)]="formData.accountNumber" validation="required">
                <input class="form-control" type="text" placeholder="Account Number">
            </app-form-field>
        </div>

        <div class="col-md-6">
            <app-form-field class="form-group" name="account_holder_name" [(ngModel)]="formData.accountHolderName" validation="required">
                <input class="form-control" type="text" placeholder="Account Holder Name">
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="account_address" [(ngModel)]="formData.accountAddress" validation="required">
                <input class="form-control" type="text" placeholder="Address On Account">
            </app-form-field>
        </div>

        <div class="col-md-6">
            <app-form-field class="form-group" name="email" [(ngModel)]="formData.email" validation="required">
                <input class="form-control" type="text" placeholder="Email">
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="routing" [(ngModel)]="formData.routing" validation="required">
                <input class="form-control" type="text" placeholder="ROUTING/ABA #/SWIFT">
            </app-form-field>
        </div>

        <div class="col-md-6">
            <app-form-field class="form-group" name="country" [(ngModel)]="formData.country" validation="required">
                <input class="form-control" type="text" placeholder="Country">
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="city" [(ngModel)]="formData.city" validation="required">
                <input class="form-control" type="text" placeholder="City">
            </app-form-field>
        </div>

        <div class="col-md-6">
            <app-form-field class="form-group" name="postal_code" [(ngModel)]="formData.postalCode" validation="required">
                <input class="form-control" type="text" placeholder="Postal Code">
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="currency" [(ngModel)]="formData.currency" validation="required">
                <input class="form-control" type="text" placeholder="Currency">
            </app-form-field>
        </div>

        <div class="col-md-6">
            <app-form-field class="form-group" name="postal_code" [(ngModel)]="formData.postalCode" validation="required">
                <select class="form-control">
                    <option>Checking</option>
                    <option>Savings</option>
                    <option>IRA</option>
                    <option>Money Market</option>
                    <option>Other</option>
                </select>
            </app-form-field>
        </div>
        <div class="col-md-6">
            <app-form-field class="form-group" name="comments" [(ngModel)]="formData.comments" validation="required">
                <input class="form-control" type="text" placeholder="Comments">
            </app-form-field>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Deposit </button>
</form>
