@import "var";

:host{
    table{
        tbody{
            .text-color{
                color : $success;
                &.active{
                    color : $error;
                }
            }
        }
    }
}