<div class="card p-5 mb-5">
    <h3>Transaction History</h3>
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Closing balance</th>
                </tr>
            </thead>
            <tbody *ngIf="!list_transation_history?.length">
                <tr>
                    <td colspan="5" class="h3 text-center p-5"> No Transaction found.</td>
                </tr>
            </tbody>
            <tbody *ngIf="list_transation_history?.length">
                <tr *ngFor="let history of list_transation_history">
                    <!-- <td class="text-capitalize">{{ history.getway_type }}</td> -->
                    <td>{{ history?.created_at | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                    <td>{{ history?.description }}</td>
                    <td [ngClass]="{'active' : history?.transactions_type == 'debit' }" class="text-color">
                        <span class="icon" [ngClass]="{'icon-arrow-down' : history?.transactions_type == 'debit', 'icon-arrow-up': history?.transactions_type == 'credit'}"></span>
                        {{history?.transactions_type == 'credit' ? '+' : "-"}}
                        {{ (history?.amount | currency) }}
                    </td>
                    <td>{{ (history?.closing_balance || 0) | currency }}</td>
                </tr>
            </tbody>
        </table>
        <div class="load-more-container text-center" *ngIf="loadMore && !loading">
            <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
        </div>
    </div>
</div>