@import 'var';
:host{
    ::ng-deep{
        .contact-section{
            background-color: $primary;
            color: $accent_text;
            border-radius: 5px;
            width: 70%;
            float: left;
            @include respond(lg) {
                margin: 30px 0 0!important;
            }
            @include respond(md) {
                width: 100%;
            }

            span{
                font-size: 1.2rem;
                line-height: 2;
            }
            .icon-section{
                float: left;
                width: 10%;
            }
            .des-section{
                float: left;
                width: 90%;
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .contact-icon{
                width: 100%;
                float: left;
            }
            .social-icon{
                width: 100%;
                padding: 20px 35px;
                float: left;
            }
            
            @include respond(lg) {
                width: 100%;
                margin-left: 0 !important;
            }
            @include respond(md) {
                margin-top: 1rem ;
            }
        }
    }
}