<div class="section">
    <div class="container">
        <div class="page-title">
            <h1>Contact Us</h1>
        </div>
        <div class="page-content mb-5">
            <form (ngSubmit)="sendContactUs(contactUsForm)" #contactUsForm="ngForm">
                <div class="row"> 
                    <div class="col-lg-6">
                        <app-form-field class="form-group" validation="required" name="name" [(ngModel)]="contactUs.name">
                            <label appFieldLabel>Name <span class="required-star">*</span></label>
                            <input appFieldInput type="text" class="form-control" placeholder="Name">
                        </app-form-field>
                        <app-form-field class="form-group" validation="required|email"  name="email" [(ngModel)]="contactUs.email">
                            <label appFieldLabel>Email <span class="required-star">*</span></label>
                            <input appFieldInput type="text" class="form-control" placeholder="Email">
                        </app-form-field>
                        <app-form-field class="form-group" validation="required" name="subject" [(ngModel)]="contactUs.subject">
                            <label appFieldLabel>Subject <span class="required-star">*</span></label>
                            <input appFieldInput type="text" class="form-control" placeholder="Subject">
                        </app-form-field>
                        <app-form-field class="form-group" name="message" validation="required" [(ngModel)]="contactUs.message">
                            <label appFieldLabel>Message <span class="required-star">*</span></label>
                            <textarea appFieldInput class="form-control" placeholder="Message"></textarea>
                        </app-form-field>
                        <div class="row align-items-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary" *ngIf="!isLoading">Submit</button>
                                <app-loading type="inline"  *ngIf="isLoading"></app-loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-sm-12 ml-5 contact-section pl-5 pt-3"  *ngIf="!loading">
                            <h2 class="h1">Contact Info</h2>
                            <div class="contact-icon pb-3" *ngIf="contactUsInfo?.phone">
                                <div class="icon-section">
                                    <span class="icon icon-call pr-2"></span>
                                </div>
                                <div class="des-section">
                                    <span><a href="tel:{{contactUsInfo?.phone}}">{{contactUsInfo?.phone}}</a></span>
                                </div>
                            </div>
                            <div class="contact-icon pb-3" *ngIf="contactUsInfo?.to_email">
                                <div class="icon-section">
                                    <span class="icon icon-mail"></span>
                                </div>
                                <div class="des-section">
                                    <span><a href="mailto:{{contactUsInfo?.to_email}}">{{contactUsInfo?.to_email}}</a></span>
                                </div>
                            </div>
                            <div class="contact-icon pb-3" *ngIf="contactUsInfo?.address">
                                <div class="icon-section">
                                    <span class="icon icon-maps"></span>
                                </div>
                                <div class="des-section" >
                                    <span>{{ contactUsInfo?.address }}</span>
                                </div>
                            </div>
                            <div class="social-icon">
                                <a href="{{contactUsInfo?.fb_link}}" target="_blank" *ngIf="contactUsInfo?.fb_link">
                                    <span class="icon icon-facebook pr-4"></span>
                                </a>
                                <a href="{{contactUsInfo?.twitter_link}}" target="_blank" *ngIf="contactUsInfo?.twitter_link">
                                    <span class="icon icon-twitter pr-4"></span>
                                </a>
                                <a href="{{contactUsInfo?.insta_link}}" target="_blank" *ngIf="contactUsInfo?.insta_link">
                                    <span class="icon icon-instagram pr-4"></span>
                                </a>
                            </div>
                        </div>
                        <app-loading type="inline" *ngIf="loading"></app-loading>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>