<div id="main">
    <div class="container">
        <fuse-sidebar name="navbar" class="navbar-fuse-sidebar" [folded]="fuseConfig.layout.navbar.folded" lockedOpen="gt-md" *ngIf="!fuseConfig.layout.navbar.hidden">
            <navbar [variant]="fuseConfig.layout.navbar.variant" class="left-navbar"></navbar>
        </fuse-sidebar>
        <div class="container">
            <div class="container">
                <toolbar></toolbar>
                <content></content>
                <footer class="below-fixed fuse-navy-900"></footer>
            </div>
        </div>
    </div>
</div>
<fuse-sidebar name="quickPanel" position="right" class="quick-panel">
    <quick-panel></quick-panel>
</fuse-sidebar>