<div id="settings" class="page-layout simple inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    settings</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">General Settings</span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" name="form" (ngSubmit)="addUpdateSettings(f)" #f="ngForm">
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="phone" [(ngModel)]="settings.phone" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input appFieldInput matInput name="phone" [(ngModel)]="settings.phone">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <!-- <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="markup_amount" [(ngModel)]="settings.markup_amount" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Markup Amount</mat-label>
                            <input appFieldInput matInput name="markup_amount" [(ngModel)]="settings.markup_amount">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div> -->
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="private_coaching_description"
                        [(ngModel)]="settings.private_coaching_description" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Private Coaching Description</mat-label>
                            <textarea matInput appFieldInput name="private_coaching_description"
                                placeholder="private coaching description" rows="5"
                                [(ngModel)]="settings.private_coaching_description"></textarea>
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <app-form-field name="address" [(ngModel)]="settings.address">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput appFieldInput name="address" placeholder="address" rows="5"
                            [(ngModel)]="settings.address"></textarea>
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field name="fb_link" [(ngModel)]="settings.fb_link" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Facebook Link</mat-label>
                            <input appFieldInput matInput name="fb_link" [(ngModel)]="settings.fb_link">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field name="twitter_link" [(ngModel)]="settings.twitter_link" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Twitter Link</mat-label>
                            <input appFieldInput matInput name="twitter_link" [(ngModel)]="settings.twitter_link">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field name="insta_link" [(ngModel)]="settings.insta_link" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Instagram Link</mat-label>
                            <input appFieldInput matInput name="insta_link" [(ngModel)]="settings.insta_link">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="to_email" [(ngModel)]="settings.to_email" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>To Email</mat-label>
                            <input appFieldInput matInput name="to_email" [(ngModel)]="settings.to_email">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="from_email" [(ngModel)]="settings.from_email" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>From Email</mat-label>
                            <input appFieldInput matInput name="from_email" [(ngModel)]="settings.from_email">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="commissions" [(ngModel)]="settings.commissions" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Stake Commissions</mat-label>
                            <input appFieldInput matInput name="commissions" [(ngModel)]="settings.commissions">
                            <mat-icon matSuffix class="secondary-text">%</mat-icon>
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="coaching_commissions" [(ngModel)]="settings.coaching_commissions" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Private Coaching Commissions</mat-label>
                            <input appFieldInput matInput name="coaching_commissions" [(ngModel)]="settings.coaching_commissions">
                            <mat-icon matSuffix class="secondary-text">%</mat-icon>
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="stripe_charges" [(ngModel)]="settings.stripe_charges" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Transfer Charges - using stripe</mat-label>
                            <input appFieldInput matInput name="stripe_charges" [(ngModel)]="settings.stripe_charges">
                            <mat-icon matSuffix class="secondary-text">%</mat-icon>
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div mat-dialog-actions class="m-0" >
                <div class="buttons">
                    <button class="m-0"  mat-stroked-button color="accent" *ngIf="!isLoading"> Save </button>
                    <app-loading type="inline" *ngIf="isLoading"></app-loading>
                </div>
            </div>
        </form>
    </div>
    <!-- / CONTENT -->
</div>