<div class="card">
    <div class="card-body">
        <div class="user-info">
            <div class="avatar-continer">
                <img [src]="user?.profile_pic" type="user">
            </div>
            <a class="user-name" [routerLink]="['/meet-our-sharks', user?._id]"><strong>{{ user?.first_name}} {{ user?.last_name}}</strong></a>
        </div>
        <app-stake-items [type]="type" *ngFor="let post of user.posts" [data]="post"></app-stake-items>
    </div>
</div>