:host{
     .card{
        margin-top: 25px;
        margin-bottom: 45px;
       
        .card-body{
            padding: 0;
        }
    }
    .user-info{
        display: flex;
        .avatar-continer{
            flex-shrink: 0;
            margin-right: 20px;
            border-radius: 40px;
            box-shadow: 2.4px 3.2px 8px 0 rgba(0, 0, 0, 0.1);
            border: solid 2px #ffffff;
            background-color: #e3e3e3;
            position: absolute;
            top: -15px;
            left: -45px;
            z-index: 10;
            transition: all .25s ease-in-out;
            img{
                width: 46px;
                object-fit: cover;
                height: 46px;
                transition: all .25s ease-in-out;
                cursor: pointer; 
            }
            &:hover{
                transform: scale(1.4);
                transition: all .25s ease-in-out;
            }
        }
        .user-name{
            flex-shrink: 1;
            position: absolute;
            top: -25px;
            left: 10px;
        }
    }
   
}