:host{
    position: relative;
    &.full-height{
        height: 100%;
        display: block;
        .relative{
            height: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .new_blank_div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #000;
        z-index: 1;
        transition:  all 0.5s;
        
    }
    .in-port{
        .new_blank_div {
            width: 0;
        }
    }
    
    .main-img{
        opacity: 1;
        width: 100%;
        &.loading{
            opacity: 0;
        }
    }

    .img-loading{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        ::ng-deep{
            .loading {
                position: absolute;
                top: 0; 
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                .loading-inner .spinner > div{
                    background-color: #fff !important;
                }
            }
        }
    }

    img.default-img {
        width: 100%;
        object-fit: cover;
        min-height: 100px;
    }

    .relative {
        position: relative;
    }
}   