<div class="relative" inViewport (inViewportAction)="onIntersection($event)">
    <div class="black-bg new_blank_div"></div>
    <img class="main-img" src='{{imgFolder}}' alt="{{imageData?.post_title || 'Techtic Solutions'}}" title="{{imageData?.post_title}}" (error)="onError()" (load)="onLoad()" [ngClass]="{loading : loading}" />
    <ng-template [ngIf]="loading">
        <div class="img-loading">
            <app-loading></app-loading>
            <img [src]='loadingImg | assetspath' class="default-img" alt="{{imageData?.post_title || 'Techtic Solutions'}}" title="{{imageData?.post_title}}" />
        </div>
    </ng-template>

    <ng-content></ng-content>
</div>