@import 'var';

:host{
     .card{
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .user-info{
        display: flex;
        align-items: center;
        @include respond(md) {
            display: block !important;
        }
        .avatar-continer{
            flex-shrink: 0;
            margin-right: 20px;
            border-radius: 40px;
            box-shadow: 2.4px 3.2px 8px 0 rgba(0, 0, 0, 0.1);
            border: solid 2px #ffffff;
            background-color: #e3e3e3;
            @include respond(md) {
                display: inline-block !important;
            }
            img{
               width: 48px;
                height: 48px;
                object-fit: cover;
            }
        }
        .user-name{
            flex-shrink: 1;
            width: 100%;
            @include respond(md) {
                margin: 0 -15px;
            }
        }
    }
}
  