<app-loading *ngIf="loading; else LoadingComplete"></app-loading>
<ng-template #LoadingComplete>
    <section id="about-us" class="light-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-5 p-5">
                        <h2 class="mb-4">Support Ticket: {{ supportTicketDetail.subject }}</h2>
                        <div class="row align-items-center">
                            <div class="col">
                                <a [routerLink]="['/support-ticket']">
                                    <button type="button" class="btn btn-primary mr-2 mb-2 pull-right">
                                        Back to Support Ticket
                                    </button>
                                </a>
                                <button *ngIf="supportTicketDetail?.status =='open' " type="button" class="btn btn-primary pull-right mr-2 mb-2" (click)="openConfirmModel(confirmModelContent, sm)">
                                    <span class="icon icon-right"></span> Mark As Closed
                                </button>
                                
                                <button *ngIf="supportTicketDetail?.status =='closed' " type="button" class="btn btn-primary pull-right mr-2 mb-2" (click)="openConfirmModel(confirmOpenModelContent, sm)">
                                    <span class="icon icon-redo"></span> Reopen the Ticket
                                </button>
                                <button type="button" class="btn btn-primary pull-right mr-2 mb-2" (click)="openConfirmModel(replyModelContent, lg)">
                                    <span class="icon icon-edit"></span> Reply
                                </button>
                            </div>
                        </div>
                        <div *ngFor="let list of supportTicketDetail.messages">
                            <div class="card">
                                <div class="card-body">
                                    <div class="user-info">
                                        <div class="avatar-continer">
                                            <img [src]="list?.user?.profile_pic" type="user">
                                        </div>
                                        <div class="user-name">
                                            <div class="col-12">
                                                <strong>{{ list?.user?.first_name}} {{ list?.user?.last_name}}</strong>
                                            </div>
                                            <div class="col-12">
                                                <span class="">{{ list?.user?.user_type }}</span>
                                                <span class="sub-title pull-right">{{ list?.created_at | amLocal | amTimeAgo}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="pt-3" [innerHtml]="list.message"></p>
                                        <p *ngIf="list?.file">
                                            <button class="btn btn-link" (click)="downloadFile(list.file)">Download Attachment</button>
                                        </p>
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>
<ng-template #confirmModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 w-100">
                Are you sure you want to Closed?
                <div class="pt-2">
                    <button type="button" (click)="markAsClosed('closed')" class="btn m-1 btn-sm btn-primary">Yes</button>
                    <button type="button" (click)="modal.dismiss('Cross click')" class="btn m-1 btn-sm btn-primary">No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #confirmOpenModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 w-100">
                Are you sure you want to Open?
                <div class="pt-2">
                    <button type="button" (click)="markAsClosed('open')" class="btn m-1 btn-sm btn-primary">Yes</button>
                    <button type="button" (click)="modal.dismiss('Cross click')" class="btn m-1 btn-sm btn-primary">No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #replyModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5">
                <h3>Reply Ticket</h3>
                <form (ngSubmit)="openTicket(openTicketForm)" #openTicketForm="ngForm">
                    <app-form-field class="form-group" name="message">
                        <label appFieldLabel>Message <span class="required-star">*</span></label>
                        <ckeditor appFieldInput  [(ngModel)]="supportTicket.message" [ngModelOptions]="{standalone: true}"></ckeditor>
                    </app-form-field>
                    <app-form-field class="form-group" name="file" (change)="setFile($event)">
                        <label>Attachment </label>
                        <div class="d-block mt-3 mb-3" *ngIf="supportTicket?.file">
                            <span class="border d-table p-2">
                                <img [src]="supportTicket?.file" width="150">
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" #fileInput>
                                <label class="custom-file-label" for="inputGroupFile04">{{ (supportTicket?.file) ? fileInput.value.split("\\").pop() : 'Choose file' }}</label>
                            </div>
                        </div>
                    </app-form-field>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" *ngIf="!isLoading">Submit</button>
                            <app-loading type="inline" *ngIf="isLoading"></app-loading>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>