<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Change Password</div>
            </header>

            <div class="content">
                <form name="form" [formGroup]="changePasswordForm" (ngSubmit)="f.form.valid && doChangePassword()"
                    #f="ngForm" novalidate>
                    <http-message [data]="changePasswordHttpResponse"></http-message>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Old Password</mat-label>
                            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                            <input type="password" name="old_password" formControlName="old_password" matInput required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>New Password</mat-label>
                            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                            <input type="password" name="new_password" formControlName="new_password" matInput required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Confirm Password</mat-label>
                            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                            <input type="password" name="confirm_new_password" formControlName="confirm_new_password"
                                matInput required>
                            <small
                                *ngIf="changePasswordForm.controls['confirm_new_password'].hasError('passwordMatch') && changePasswordForm.controls['confirm_new_password'].touched && changePasswordForm.controls['confirm_new_password'].value !=''"
                                class="text-danger">Password mismatch</small>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="end end">
                        <button mat-raised-button color="basic" mat-button class="save-button"
                            [disabled]="changePasswordForm.invalid" aria-label="SAVE">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>