@import "var";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.fc-past {
  background: #f0f0f0;
}
.fc-button{
  text-transform: capitalize;
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary {
  border: 1px solid $primary;
  background: $primary;
}
.fc-button-primary:focus,
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
}

.fc-toolbar{
  @include respond(md){
    display: block;
  }
  .fc-left{
    @include respond(md){
     margin-bottom: 10px;
    }
  }
}

.fc-scroller{
  @include respond(md){
    min-height: 280px;
  }
}


.fc-toolbar h2 {
  font-size: 16px;
  margin: 0;
}

.fc-event,
.fc-event-dot {
  background-color: $primary;
  border: 1px solid $primary;
  padding: 5px;
}
a:not([href]):not([tabindex]).fc-event {
  color: #fff;
}

.user-calendar {
  .fc-unthemed td.fc-today,
  .fc-day {
    background: #f0f0f0 !important;
  }
  .fc-bgevent {
    background: #4caf50;
    opacity: 0.6;
  }
}

.fc{
  th {
    font-weight: 500;
    color: $gray_dark;
    text-transform: uppercase;
    line-height: 2.86;
    letter-spacing: 1.05px;
  }
  td {
    font-weight: normal;
    color: $gray;
  }
}
.fc-time-grid{
  .fc-slats td{
    font-weight: 500;
    color: $gray_dark;
  }
}
.fc-time-grid-event .fc-time {
    white-space: normal;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
}