<div id="invoice" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
          
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16">file_copy</mat-icon>
                <span class="logo-text h1">Invoice </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                   
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="users-main-sidebar" position="left" lockedOpen="gt-sm">
            <div class="content" fusePerfectScrollbar>
                <div class="main-sidebar" [@animate]="{value:'*'}">
                    <div class="sidebar-content">
                        <div class="card">
                            <div class="content p-16" fusePerfectScrollbar>
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Start Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                                        <input appFieldInput matInput [matDatepicker]="startDatePicker"
                                            (click)="startDatePicker.open()" name="start_date"
                                            [(ngModel)]="request.start_date" #start_date="ngModel" placeholder="Start Date"
                                            (dateInput)="dateValueChange('start')" />
                                    </mat-form-field>
                                    <mat-datepicker #startDatePicker></mat-datepicker>
                                </div>
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>End Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
        
                                        <input appFieldInput matInput [matDatepicker]="endDatePicker"
                                            (click)="endDatePicker.open()" class="form-control" name="end_date"
                                            [(ngModel)]="request.end_date" #end_date="ngModel" placeholder="End Date"
                                            [min]="minDate" (dateInput)="dateValueChange('end')" />
                                    </mat-form-field>
                                    <mat-datepicker #endDatePicker></mat-datepicker>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select User" aria-label="Select User" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                            (optionSelected)='getSelectedUser($event.option.value)'>
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{option?.first_name}} {{option?.last_name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Stake" aria-label="Select Stake" matInput [formControl]="postControl" [matAutocomplete]="autoPost">
                                        <mat-autocomplete #autoPost="matAutocomplete" [displayWith]="displayStakeFn"
                                            (optionSelected)='getSelectedStake($event.option.value)'>
                                            <mat-option *ngFor="let postOption of postFilteredOptions | async" [value]="postOption">
                                                {{ postOption?.title }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="nav-item text-center" aria-label="starred">
                                    <button class=" ml-2 mr-2" mat-flat-button color="primary" (click)="clearDate()"
                                        [disabled]="this.disabled">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <!-- CENTER -->
        <div class="center p-24 pb-26 pr-sm-24" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="invoiceList">
                        <column column="stake.name" field="post_id" header="Stake" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row?.post?.title}}" matTooltip="{{row?.post?.title}} "
                                    [routerLink]="['/stake', row?.post_id]">
                                    {{row?.post?.title | truncate:50 }}
                                </a>
                            </ng-template>
                        </column>
                        <column column="user.name" field="user_id" header="User" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                    matTooltip="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                    [routerLink]="['/users', row?.user_id]">
                                    {{row?.user?.first_name }} {{row?.user?.last_name }}
                                </a>
                            </ng-template>
                        </column>
                        <!-- <column field="amount" header="Amount (USD)" [sortable]="true" [searchable]="true"></column> -->
                        <column class="text-center" field="amount" dataType="int" header="Amount (USD)" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <span >{{(row?.amount || 0) | currency}}</span>
                            </ng-template>
                        </column>
                        <column field="created_at" header="Date" [sortable]="true"  [searchable]="false">
                            <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                {{row?.created_at | date:'yyyy-MM-dd' }}
                                <!-- {{row?.created_at | date:'yyyy-MM-dd hh:mm a' }} -->
                            </ng-template>
                        </column>
                        <column field="file" header="Invoice File" [sortable]="true"  [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button class="mr-16" matTooltip="Download Invoice" type="button" (click)="downloadFile(row?.file)">
                                    <mat-icon>cloud_download</mat-icon>
                                </button>
                            </ng-template>
                            
                        </column>
                    </datatable>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>