<div id="faq" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">help_outline</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Frequently Asked Questions</span>
            </div>
        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="faqList">
                        <column field="question" header="Question" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{ row.question | truncate:20 }}
                            </ng-template>
                        </column>
                        <column field="answer" header="Answer" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{ row.answer | truncate:20 }}
                            </ng-template>
                        </column>
                        
                        <column header="Action" [sortable]="false" [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item type="button" (click)="newFaq(row,'Edit FAQ')">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item dialog-confirm
                                        message="Are you sure that you want to delete faq?"
                                        (confirm)="deleteFaq(row._id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                </mat-menu>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
<button mat-fab class="fix bottom right" (click)="newFaq({},'Add FAQ')" aria-label="Add FAQ"
    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>add</mat-icon>
</button>
<ng-template #faqDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{data?.title}}</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form name="form" (ngSubmit)="addUpdateFaq(f)" #f="ngForm">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <app-form-field validation="required" name="question" [(ngModel)]="data.faq.question">
                        <mat-form-field appearance="outline">
                            <mat-label>Question</mat-label>
                            <textarea matInput appFieldInput name="question" placeholder="question" rows="5"
                                [(ngModel)]="data.faq.question"></textarea>
                        </mat-form-field>
                    </app-form-field>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <app-form-field validation="required" name="answer" [(ngModel)]="data.faq.answer">
                        <mat-form-field appearance="outline">
                            <mat-label>Answer</mat-label>
                            <textarea matInput appFieldInput name="answer" placeholder="answer" rows="5"
                                [(ngModel)]="data.faq.answer"></textarea>
                        </mat-form-field>
                    </app-form-field>
                </div>
                
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <div class="buttons">
                <button *ngIf="!isLoading" mat-stroked-button color="primary" (click)="_matDialog.closeAll()" type="button">
                    Close </button>
                <button *ngIf="!isLoading" mat-stroked-button color="accent" (click)="submit(f)"> Save </button>
                <app-loading type="inline" *ngIf="isLoading"></app-loading>
            </div>
        </div>
    </div>
</ng-template>