<div id="transaction" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_balance_wallet</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Transactions
                </span>
            </div>
        </div>
        <!-- / APP TITLE -->
        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>
            </div>
        </div>
        <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="users-main-sidebar" position="left" lockedOpen="gt-sm">
            <div class="content" fusePerfectScrollbar>
                <div class="main-sidebar" [@animate]="{value:'*'}">
                    <div class="sidebar-content">
                        <div class="card">
                            <div class="content py-16" fusePerfectScrollbar>
                                <div class="nav material2">
                                    <div class="nav-item" aria-label="inbox">
                                        <a class="nav-link" matRipple (click)="filterBy = 'all'" [ngClass]="{'active accent':filterBy ==='all'}">
                                            <span class="title">All Transaction</span>
                                        </a>
                                    </div>
                                    <div class="nav-item" aria-label="frequently contacted" (click)="filterBy = 'credit'">
                                        <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy == 'credit'}">
                                            <div class="title">Credit</div>
                                        </a>
                                    </div>
                                    <div class="nav-item" aria-label="starred" (click)="filterBy = 'debit'">
                                        <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy == 'debit'}">
                                            <div class="title">Debit</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content p-16" fusePerfectScrollbar>
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Start Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                                        <input appFieldInput matInput [matDatepicker]="startDatePicker"
                                            (click)="startDatePicker.open()" name="start_date"
                                            [(ngModel)]="request_date.start_date" #start_date="ngModel"
                                            placeholder="Start Date" (dateInput)="dateValueChange('start')" />
                                    </mat-form-field>
                                    <mat-datepicker #startDatePicker></mat-datepicker>
                                </div>
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>End Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>

                                        <input appFieldInput matInput [matDatepicker]="endDatePicker"
                                            (click)="endDatePicker.open()" class="form-control" name="end_date"
                                            [(ngModel)]="request_date.end_date" #end_date="ngModel"
                                            placeholder="End Date" [min]="minDate"
                                            (dateInput)="dateValueChange('end')" />
                                    </mat-form-field>
                                    <mat-datepicker #endDatePicker></mat-datepicker>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select User" aria-label="Select User" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                            (optionSelected)='getSelectedUser($event.option.value)'>
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{option?.first_name}} {{option?.last_name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="nav-item text-center" aria-label="starred">
                                    <button class=" ml-2 mr-2" mat-flat-button color="primary" (click)="clearDate()"
                                        [disabled]="this.disabled">Clear</button>
                                    <!-- <button class="mr-2" mat-flat-button color="primary" (click)="changeDateSubmit()"
                                                        [disabled]="this.disabled">Filter</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <div class="center p-24 pb-56 pr-sm-24" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="transactionList">
                        <column field="description" header="Description">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{row?.description | truncate:20 }}
                            </ng-template>
                        </column>
                        <!-- <column field="amount" dataType="int" header="Amount" [sortable]="true" [searchable]="true"></column> -->
                        <column field="amount" dataType="int" header="Amount (USD)" [sortable]="true"
                            [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <span>{{(row?.amount || 0) | currency}}</span>
                            </ng-template>
                        </column>
                        <column field="user_id" header="User" column="user.name" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                    matTooltip="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                    [routerLink]="['/users', row?.user_id]">
                                    {{row?.user?.first_name }} {{row?.user?.last_name }}
                                </a>
                            </ng-template>
                        </column>
                        <column field="transactions_type" header="Transactions Type" [sortable]="true"
                            [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{ row?.transactions_type | titlecase }}
                            </ng-template>
                        </column>
                        <column field="status" header="Status" [sortable]="true" [searchable]="true">
                            <ng-template let-col let-single="rowData" let-i="rowIndex" dtTemplate="body">
                                {{single?.status | titlecase }}
                            </ng-template>
                        </column>
                        <column field="created_at" header="Date" [searchable]="false">
                            <ng-template let-col let-single="rowData" let-i="rowIndex" dtTemplate="body">
                                {{single?.created_at | date:'yyyy-MM-dd'}}
                            </ng-template>
                        </column>
                        <column header="Action" [sortable]="false" [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button class="mr-16" matTooltip="View Details" type="button"
                                    (click)="transctionInfoBox(row)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
    </div>
    <!-- / CONTENT-->
</div>
<ng-template #transactionInfoDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Transaction Detail</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <table class="simple">
                <tbody>
                    <tr>
                        <td>Amount</td>
                        <td> <span class="status h6 p-4"> {{ data?.amount | currency }}</span> </td>
                    </tr>
                    <tr>
                        <td>Closing Balance</td>
                        <td><span class="status h6 p-4">{{ data?.closing_balance | currency }}</span></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><span class="status h6 p-4">{{ data?.description}}</span></td>
                    </tr>
                    <tr>
                        <td>Transaction Type</td>
                        <td><span class="status h6 p-4">{{ data?.transactions_type | titlecase }}</span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span class="status h6 p-4">{{ data?.status | titlecase }}</span></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><span class="status h6 p-4">{{ data?.created_at | date:'yyyy-MM-dd'}}</span></td>
                    </tr>
                    <tr *ngIf="data?.obj_data?.post_id != undefined">
                        <td>Post</td>
                        <td>
                            <span class="status h6 p-4">
                                <a [routerLink]="['/stake', data?.obj_data?.post_id]" target="_blank">
                                    View Post
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="data?.obj_data?.user_id != undefined">
                        <td>User</td>
                        <td>
                            <span class="status h6 p-4">
                                <a [routerLink]="['/users', data?.obj_data?.user_id]" target="_blank">
                                    View User
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>