<div class="card text-white bg-{{bgClass}} custom-class-dashboard">
        <div class="row">
            <div class="col col-xs-12 text-center">
                <div class="d-block">{{label}}</div>
                <div class="d-block huge">{{count}} {{day}}</div>
            </div>
        </div>
</div>
