<!-- <div>
	<h1 mat-dialog-title>Result Declare</h1>
	<div mat-dialog-content>
	    <table class="table">
	   		<tr>
		   		<th>Total Stack amount :</th>
		        <td>{{(data.total_staked_amount || 0) | currency}}</td>
			</tr>
	        <tr>
	            <th>Stack Percentage :</th>
	            <td>{{(data.sold_percentage || 0) + "%" }}</td>
	        </tr>
	        <tr>
	            <th>Stake My Shark Commission:</th>
	            <td>{{(data.adminTotalCommission || 0) | currency}}</td>
	        </tr>
	        <tr>
	            <th>Shark stake:</th>
	            <td>{{(data.player_winning_amount || 0) | currency}}</td>
	        </tr>
	        <tr>
	            <th>Buyer stake:</th>
	            <td>{{(data.user_winning_amount || 0) | currency}}</td>
	        </tr>
	    </table>
	</div>
	<div mat-dialog-actions>
	  <button mat-button (click)="onConform(data)">Confirmed</button>
	  <button mat-button (click)="onCancel()">Cancel</button>
	</div>
</div> -->
<div class="dialog-content-wrapper">
	<mat-toolbar matDialogTitle class="mat-accent m-0">
		<mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
			<span class="title dialog-title">Result Declare</span>
			<button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
				<mat-icon>close</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>

	<div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
		<div class="content">
			<table class="simple">
				<tbody>
					<tr>
						<td>Result Status :</td>
						<td class="text-capitalize">{{ data.winning_status }}</td>
					</tr>
					<tr>
						<td>Total Stake Amount :</td>
						<td>{{(data.game_amount || 0) | currency}}</td>
					</tr>
					<tr>
						<td>Shark Amount :</td>
						<td>{{ (data.shark_amount || 0) | currency }}</td>
					</tr>
					<tr>
						<td>% To be Sold :</td>
						<td>{{(data.sold_percentage || 0) + "%" }}</td>
					</tr>
					<tr>
						<td>Total User Amount :</td>
						<td>{{ (data.actual_user_amount || 0) | currency }}</td>
					</tr>
					<tr>
						<td>Current User Amount :</td>
						<td>{{ (data.sold_total || 0) | currency }}</td>
					</tr>
					
					<tr>
						<td>% Users Invested :</td>
						<td>{{ (data.user_percentage || 0) + "%" }}</td>
					</tr>
					<tr>
						<td>Gap Amount :</td>
						<td>{{(data.gap_amount || 0) | currency}}</td>
					</tr>

					<tr>
						<td>Stake My Shark Commission :</td>
						<td>{{(data.admin_total_commission || 0) | currency}}</td>
					</tr>
					<tr>
						<td>Shark Stake :</td>
						<td>{{(data.player_winning_amount || 0) | currency}}</td>
					</tr>
					<tr>
						<td>Buyer Stake :</td>
						<td>{{(data.user_winning_amount || 0) | currency}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
		<div class="buttons">
			<button mat-stroked-button color="primary" (click)="dialogRef.close()"> Close </button>
			<button mat-stroked-button color="accent" (click)="onConform(data)"> Confirmed </button>
		</div>
	</div>
</div>