<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Reply</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form name="form" (ngSubmit)="replySend(f)" #f="ngForm">
            <app-form-field class="form-group">
                <label appFieldLabel>Message <span class="required-star">*</span></label>
                <ckeditor appFieldInput [(ngModel)]="supportTicket.message" validation="required" name="message" #message [ngModelOptions]="{standalone: true}"></ckeditor>
            </app-form-field>
            <app-form-field class="form-group" name="file" (change)="setFile($event)">
                <label>Attachment </label>
                <div class="d-block mt-3 mb-3" *ngIf="supportTicket?.file">
                    <span class="border d-table p-2" *ngIf="supportTicket?.type.includes('image')">
                        <img [src]="supportTicket?.file" width="150">
                    </span>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" #fileInput>
                        <label class="custom-file-label" for="inputGroupFile04">{{ (supportTicket?.file) ? fileInput.value.split("\\").pop() : 'Choose file' }}</label>
                    </div>
                </div>
            </app-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div class="buttons">
            <!-- <button mat-icon-button matTooltip="Attach a file">
                            <mat-icon>attach_file</mat-icon>
                        </button> -->
            <button mat-stroked-button color="primary" *ngIf="!isLoading" (click)="matDialogRef.close()"> Close </button>
            <app-loading type="inline" *ngIf="isLoading"></app-loading>
            <button *ngIf="!isLoading" mat-stroked-button color="accent" (click)="submit(f)"> Send </button>
    
        </div>
    </div>
</div>
