@import "src/@fuse/scss/fuse";

.relpy-form-dialog{
    &.fix-left {
        width: 100%;
        max-width: 635px !important;
    }
    .mat-dialog-container{
        padding: 0px;
    }
    .mat-accent{
        background: #039be5!important; 
        color: #ffffff!important;
    }
    .mat-dialog-content{
        .input-group{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            .custom-file{
                display: flex;
                align-items: center;
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
                .custom-file-input {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 30px;
                    margin: 0;
                    opacity: 0;
                }
                
                .custom-file-label {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 1;
                    height: 30px;
                    padding: .375rem .75rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        display: block;
                        height: calc(1.5em + .75rem);
                        padding: .375rem .75rem;
                        line-height: 1.5;
                        color: #495057;
                        content: "Browse";
                        background-color: #e9ecef;
                        border-left: inherit;
                        border-radius: 0 .25rem .25rem 0;
                    }
                }
            }
        }
    }
}