<div class="card p-5 mb-5" *ngIf="user?.user_type == 'user'">
    <h3>Invoices History</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount (USD)</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody *ngIf="!invoiceData?.length">
                <tr>
                    <td colspan="5" class="h3 text-center p-5"> No Invoice found.</td>
                </tr>
            </tbody>
            <tbody *ngIf="invoiceData?.length">
                <tr *ngFor="let invoice of invoiceData">
                    <td>{{ invoice?.created_at | amUtc | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                    <td>{{ invoice?.post?.title }} - {{ invoice?.post?.description | truncate:50}}</td>
                    <td>{{ (invoice?.amount || 0) | currency }}</td>
                    <td>
                        <span class="btn btn-link" (click)="downloadFile(invoice?.file)">
                            {{ invoice?.file_name }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="load-more-container text-center" *ngIf="loadMore && !loading">
            <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
        </div>
    </div>
</div>