<div id="academy-courses" class="page-layout simple">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        <div class="hero-text">
            <mat-icon class="hero-icon">forum</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Support Tickets
            </h1>
            <!-- <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Our courses will step you through the process of building a small application, or adding a new feature
                to an existing application.
            </h3> -->
        </div>

    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="center">
            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="space-between center">
                <mat-form-field appearance="outline" floatLabel="always" class="course-search">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Enter a keyword..." [(ngModel)]="searchTerm"
                        (input)="filterCoursesByTerm()">
                </mat-form-field>
                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="refreshDataTable($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        <mat-option [value]="'open'">Open ({{total?.open}})</mat-option>
                        <mat-option [value]="'closed'">Closed ({{total?.closed}}) </mat-option>
                        <mat-option [value]="'unread'">Unread ({{total?.unread}})</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-loading *ngIf="loading; else LoadingComplete"></app-loading>
            <ng-template #LoadingComplete>
                <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
                    <div class="course" *ngFor="let row of supportTicketList" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">
                        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                            <div class="header" [ngClass]="{'android-bg': (row.status=='open'), 'cloud-bg': (row.status=='closed'), 'firebase-bg':(row.admin_read==0)}" fxLayout="row" fxLayoutAlign="center center">
                                <div class="category" fxFlex>
                                    {{row?.user?.first_name }} {{row?.user?.last_name }}
                                </div>
                            </div>

                            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                                <div class="h1">{{ row?.subject | truncate:100}}</div>
                                <div class="updated">Updated {{row?.updated_at | date:'MMM d, yyyy'}}</div>
                            </div>

                            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-button color="accent"[routerLink]="['/support', row._id]">
                                    <mat-icon>comment</mat-icon>
                                </button>
                            </div>
                            <div class="notify" *ngIf="row?.admin_read != true">
                                <span class="point"></span>
                            </div>

                        </div>

                    </div>
                   

                    <div class="no-courses" *ngIf="supportTicketList && supportTicketList?.length == 0">
                        No support ticket found!
                    </div>

                </div>
                <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}"
                    *ngIf="loadMore && !loading">
                    <button  mat-raised-button class="web-bg" *ngIf="!isLoading" (click)="onLoadMore()"> Load More </button>
                    <app-loading type="inline" *ngIf="isLoading"></app-loading>
                </div>
            </ng-template>
            
        </div>
    </div>
    <!-- /CONTENT -->
</div>
