@import "src/@fuse/scss/fuse";

.post-form-dialog {
    .user-avatar {
        vertical-align: middle;
    }
    .mat-dialog-container {
       // padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

   
}
