<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form name="form" (ngSubmit)="addUpdatePost(f)" #f="ngForm">
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required| max:50" name="title" [(ngModel)]="post.title" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Title *</mat-label>
                            <input appFieldInput matInput name="title" [(ngModel)]="post.title">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group">
                <app-form-field validation="required" name="description" [(ngModel)]="post.description">
                    <mat-form-field appearance="outline">
                        <mat-label>Description *</mat-label>
                        <textarea matInput appFieldInput name="description" placeholder="Description" rows="5"
                            [(ngModel)]="post.description"></textarea>
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group">
                <app-form-field validation="required"  name="closing_time" [(ngModel)]="post.closing_time">
                    <mat-form-field appearance="outline">
                        <mat-label>Closing Date *</mat-label>
                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>

                        <input appFieldInput matInput [matDatepicker]="dobDatePicker" (click)="dobDatePicker.open()" name="closing_time"
                            [(ngModel)]="post.closing_time" #closing_time="ngModel" [min]="today">
                    </mat-form-field>
                    
                    <mat-datepicker #dobDatePicker></mat-datepicker>
                </app-form-field>
            </div>

            <div class="form-group">
                <app-form-field validation="required"  name="closing_time_picker" [(ngModel)]="post.closing_time_picker">
                    <mat-form-field appearance="outline">
                        <mat-label>Closing Time *</mat-label>
                        <input matInput appFieldInput  type="time" name="closing_time_picker" [(ngModel)]="post.closing_time_picker" ng-value="post.closing_time_picker | date : 'HH:mm'" />
                    </mat-form-field>
                </app-form-field>
            </div>
            <!-- //time -->
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <app-form-field name="sport_type_id" [(ngModel)]="post.sport_type_id" validation="required" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Sport Type *</mat-label>
                        <mat-select name="sport_type_id" [(ngModel)]="post.sport_type_id">
                            <mat-option *ngFor="let sport_type of sport_types" [value]="sport_type._id">{{sport_type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="game_amount" [(ngModel)]="post.game_amount" fxFlex (input)="changePercentage($event.target.value)">
                        <mat-form-field appearance="outline">
                            <mat-label>Staking Amount *</mat-label>
                            <input appFieldInput type="number" matInput type="number" name="game_amount" [(ngModel)]="post.game_amount" placeholder="Total Staking Amount" [disabled]="(action == 'edit') ? true : false">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
         <!--    <div class="form-group" fxLayout="column" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="shark_amount"
                        [(ngModel)]="shark_amount" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Amount Shark have *</mat-label>
                            <input appFieldInput type="number" matInput type="number" name="shark_amount" [(ngModel)]="shark_amount" placeholder="Amount you have" [disabled]="(action == 'edit') ? true : false">
                        </mat-form-field>
                    </app-form-field>
                </div>
                <div class="pr-4 col">
                    <mat-hint *ngIf="post?.sold_percentage > 0">Stake to be sold: {{post?.sold_percentage}}%</mat-hint>
                </div>
            </div> -->

            <div class="form-group" fxLayout="column" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="sold_percentage" [(ngModel)]="sold_percentage" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Percentage being Purchased *</mat-label>
                            <input appFieldInput type="number" matInput type="number" name="sold_percentage" [(ngModel)]="sold_percentage"
                                placeholder="Percentage being Purchased" [disabled]="(action == 'edit') ? true : false">
                        </mat-form-field>
                    </app-form-field>
                </div>
               <!--  <div class="pr-4 col">
                    <mat-hint *ngIf="post?.shark_amount > 0">Stake Amount: {{post?.shark_amount}}</mat-hint>
                </div> -->
            </div>

         <!--    <div class="form-group" fxLayout="column" fxLayoutAlign="start start">
                <div class="pr-4 col">

                </div>
                <app-form-field class="form-group" validation="required|number" name="sold_percentage"
                    [(ngModel)]="sold_percentage">
                    <label appFieldLabel>Percentage being Purchased <span class="required-star">*</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        <input appFieldInput type="number" class="form-control" placeholder="Amount you have"
                            [disabled]="(addStack?._id != undefined) ? true : false">
                    </div>
                    <div class="decription" *ngIf="addStack?.shark_amount > 0">Stake Amount: {{addStack?.shark_amount}}
                    </div>
                </app-form-field>
            </div>
             -->
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <app-form-field name="markup_amount" [(ngModel)]="post.markup_amount" validation="required" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Markup Amount *</mat-label>
                        <input appFieldInput type="number" matInput type="number" name="markup_amount" [(ngModel)]="post.markup_amount"
                            placeholder="Markup Amount">
                    </mat-form-field>
                </app-form-field>
            </div>

            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <app-form-field name="user_id" [(ngModel)]="post.user_id" validation="required" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>User *</mat-label>
                        <mat-select name="user_id" [(ngModel)]="post.user_id">
                            <mat-option *ngFor="let user of user_list" [value]="user._id">{{user?.first_name}} {{user?.last_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-form-field>
            </div>
            
            <div class="form-group">
                <app-form-field class="form-group" name="is_streaming" [(ngModel)]="post.is_streaming">
                    <div class="lable">
                        <mat-label>Start Streaming</mat-label>
                    </div>
                    <mat-slide-toggle appFieldInput color="primary" class="example-margin" name="is_streaming"
                        (change)="post.is_streaming = ($event.checked ? true : false)" [checked]="post.is_streaming == true">
                        <div *ngIf="post.is_streaming == true; else noTemp"> Yes</div>
                        <ng-template #noTemp> No </ng-template>
                    </mat-slide-toggle>
                </app-form-field>
            </div>
            <!-- <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field name="stream_type" [(ngModel)]="post.stream_type" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Stream Type</mat-label>
                            <input appFieldInput matInput name="stream_type" [(ngModel)]="post.stream_type">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div> -->
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start" *ngIf="post.is_streaming == true">
                <div class="pr-4 col">
                    <app-form-field name="stream_url" [(ngModel)]="post.stream_url" fxFlex validation="required">
                        <mat-form-field appearance="outline">
                            <mat-label>Stream URL</mat-label>
                            <input appFieldInput matInput name="stream_url" [(ngModel)]="post.stream_url">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>
            <div class="form-group"  fxLayout="row" fxLayoutAlign="start start">
                <app-form-field name="status" [(ngModel)]="post.status" validation="required"  fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <input appFieldInput *ngIf="action == 'edit';else other_temp" matInput name="status" [(ngModel)]="post.status" readonly >
                        <ng-template #other_temp> 
                            <mat-select name="status" [(ngModel)]="post.status">
                                <mat-option [value]="'inactive'">Inactive</mat-option>
                                <mat-option [value]="'active'">Active</mat-option>
                                <mat-option [value]="'pending_result'">Pending Result</mat-option>
                                <mat-option [value]="'won'">Won</mat-option>
                                <mat-option [value]="'loss'">Loss</mat-option>
                            </mat-select>
                        </ng-template>
                    </mat-form-field>
                </app-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div class="buttons">
            <button mat-stroked-button color="primary" *ngIf="!isLoading" (click)="matDialogRef.close()"> Close </button>
            <app-loading type="inline" *ngIf="isLoading"></app-loading>
            <button *ngIf="!isLoading" mat-stroked-button color="accent" (click)="submit(f)"> Save </button>
        </div>
    </div>
</div>