<div class="loading {{type}}" *ngIf="type!='inline'">
    <div class="loading-inner">
        <mat-spinner color="primary" strokeWidth="2" diameter="60"></mat-spinner>
        <div class="mt-3">Loading...</div>
    </div>
</div>
<div class="loading {{type}}" *ngIf="type=='inline'">
    <mat-spinner color="primary" strokeWidth="2" diameter="20"></mat-spinner>
</div>