@import "var";
:host{
    .loading {
        clear: both;
        position: relative;
        min-height: 200px;
        background: rgba(255,255,255,0.7);
        .loading-inner {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            .spinner{
                height: auto;
                & > div{
                    background-color: #333;
                }
            }
        }
        &.main{
            .loading-inner {
                transform: translateY(50px) translateX(-50%);
                .spinner{
                    & > div{
                        background-color: #fff;
                    }
                }
            }
        }
        &.inline{
            min-height: 0px;
        } 
    }

    &.bg-white{
        .loading {
            background: #fff;
        }
    }
}
