<div class="section">
    <div class="container">
        <div class="page-content mb-5">
            <h1>404 Not Found</h1>
            <h2>PAGE NOT FOUND</h2>
            <p>Sorry, an error has occured, Requested page not found!</p>
            <div class="error-actions"> <a routerLink="/" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-arrow-left"></span> Back Home </a></div>
        </div>
    </div>
</div>