<!-- <app-loading *ngIf="loading; else LoadingComplete"></app-loading> -->
<!-- <ng-template #LoadingComplete>
 -->
<div id="stake" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="column"
        fxLayoutAlign.gt-sm="space-between" *ngIf="post">
        <div fxLayoutAlign="start center">
            <!-- <button mat-icon-button class="mr-16" [routerLink]="['/stake']">
                    <mat-icon>arrow_back</mat-icon>
                </button> -->
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ post?.title }}
            </div>
        </div>
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center">
            <div class="" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" *ngIf="post?.user">
                Created By: {{post?.user?.first_name}} {{post?.user?.last_name}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Paid to Player" *ngIf="!post?.paid_to_player"
                mat-stroked-button color="primary" dialog-confirm class="mr-3"
                message="Are you sure that you want to paid to Player?" (confirm)="paidPlayerData(post._id)">
                <mat-icon>how_to_vote</mat-icon> Paid to Shark
            </button>
            <button mat-raised-button color="primary" aria-label="Back to all Stakes" [routerLink]="['/stake']">Back to
                all Stakes</button>
        </div>

    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <!-- <mat-tab-group dynamicHeight="true">
                <mat-tab label="Basic Details"> -->
        <div class="p-24" fxLayout="row wrap">
            <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                <div class="profile-box info-box general" fxLayout="column">
                    <header class="accent">
                        <div class="title">General Information</div>
                    </header>
                    <div class="content" *ngIf="post">
                        <div class="info-line">
                            <div class="title">Description</div>
                            <div class="info">{{post?.description || '-'}}</div>
                        </div>
                        <div class="info-line">
                            <div class="title">Closing Date</div>
                            <div class="info">{{post?.closing_time || '-'}}</div>
                        </div>
                        <div class="info-line">
                            <div class="title">Total Staked Amount</div>
                            <div class="info">{{ (post?.total_staked_amount || 0) | currency}}</div>
                        </div>
                        <div class="info-line">
                            <div class="title">Sold Percentage</div>
                            <div class="info">{{ (post?.sold_percentage|| 0) + "%"}}</div>
                        </div>
                        <div class="info-line">
                            <div class="title">Sold Total</div>
                            <div class="info">{{(post?.sold_total || 0) | currency}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Start Streaming</div>
                            <div class="info" *ngIf="post.is_streaming; else other_temp">
                                Yes
                            </div>
                            <ng-template #other_temp>
                                No
                            </ng-template>
                        </div>
                        <!--  <div class="info-line">
                                        <div class="title">Stream Type</div>
                                        <div class="info">{{post?.stream_type || '-'}}</div>
                                    </div> -->
                        <div class="info-line">
                            <div class="title">Stream Url</div>
                            <div class="info">{{post?.stream_url || '-'}}</div>
                        </div>
                        <div class="info-line" *ngIf="post?.status">
                            <div class="title">Status</div>
                            <div class="info text-capitalize">{{post?.status.toString().split('_').join('\n')}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                <div class="profile-box info-box general" fxLayout="column" *ngIf="post?.stack_users?.length > 0">
                    <header class="accent">
                        <div class="title">Staked User</div>
                    </header>
                    <div class="content">
                        <table class="simple">
                            <thead *ngIf="post?.stack_users">
                                <tr>
                                    <th>User Name</th>
                                    <th>Staked Amount</th>
                                    <th *ngIf="post?.status == 'won'">Won Amount</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="post?.stack_users">
                                <tr *ngFor="let stake of post?.stack_users">
                                    <td> {{ stake?.user?.first_name }} {{ stake?.user?.last_name }}</td>
                                    <td> {{ stake?.staked_amount | currency }} </td>
                                    <td *ngIf="post?.status == 'won'"> {{ stake?.won_amount | currency }} </td>
                                    <td> {{ stake?.created_at }} </td>
                                </tr>
                                <tr>
                                    <td class="text-right"><b>Total</b></td>
                                    <td><b>{{ post?.sold_total | currency }}</b></td>
                                    <td colspan="2">
                                        <span *ngIf="post?.paid_to_player" class="green-color">
                                            <mat-icon>check_circle_outline</mat-icon> Paid to Shark
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="post?.stack_users?.length == 0" class="text-center p-3"><strong>No Staked
                                yet.</strong></div>
                    </div>
                </div>
            </div>
            <!-- <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                            <div class="profile-box info-box general" fxLayout="column">
                        
                                <header class="accent">
                                    <div class="title">Player Information</div>
                                </header>
                                <div class="content">
                                
                                    <div class="group" fxLayout="row" fxLayoutAlign="space-between center">
                                
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <img class="avatar" type="user" [alt]="post?.user?.first_name" [src]="post?.user?.profile_pic" />
                                            <div>
                                                <div class="name">
                                                    <b>
                                                        {{post?.user?.first_name}} {{post?.user?.last_name}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-line player-info">
                                        <div class="info">{{post?.user?.about }}</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
        </div>
        <!-- </mat-tab>
                <mat-tab label="Staked User">
                </mat-tab>
            </mat-tab-group> -->
    </div>
    <!-- / CONTENT -->
</div>
<!-- </ng-template> -->