<div id="stake" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between end">
    
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center">
           <ng-template ngIf="user.profile_pic">
                <img class="avatar huge" type="user" [alt]="user?.first_name" [src]="user?.profile_pic" />
           </ng-template>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{user?.first_name}} {{user?.last_name}}
            </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" *ngIf="user?.wallet_amount" type="button" (click)="paidPlayerData(user)">
                <mat-icon>how_to_vote</mat-icon> Withdraw
            </button>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <app-loading *ngIf="loading; else LoadingComplete"></app-loading>
        <ng-template #LoadingComplete>
            <mat-tab-group dynamicHeight="true" (selectedTabChange)="changeTab($event)">
                <mat-tab label="General Information">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="p-12" fxFlex="100"  fxLayout="row wrap" *ngIf="user?.user_type !='admin'">
                                <mat-card>
                                    <h1 class="light-blue-fg">{{ statistics_list?.investment | currency }}</h1>
                                    <span>Investment</span>
                                </mat-card>
                                <mat-card>
                                    <h1 class="red-fg">{{ statistics_list?.amount | currency }}</h1>
                                    <span>Won/Lost</span>
                                </mat-card>
                                <mat-card>
                                    <h1 class="orange-fg">{{ statistics_list?.availbleBalance | currency }}</h1>
                                    <span>Available Balance</span>
                                </mat-card>
                                <mat-card>
                                    <h1 class="blue-grey-fg">{{ statistics_list?.totalWithdraw | currency }}</h1>
                                    <span>Total Withdraw</span>
                                </mat-card>
                            </div>
                            <div class="about-content" fxLayout="column" fxFlex="100" >
                                <div class="profile-box info-box general" fxLayout="column">
                                    <header class="accent">
                                        <div class="title">General Information</div>
                                    </header>
                                    <div class="content">
                                        <div class="info-line">
                                            <div class="title">Email</div>
                                            <div class="info">{{user?.email || '-'}}</div>
                                        </div>
                                        <div class="info-line" *ngIf="user?.user_type =='player'">
                                            <div class="title">About</div>
                                            <div class="info">{{user?.about || '-'}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Gender</div>
                                            <div class="info text-capitalize">{{ (user?.gender || '-') }}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Date Of Birth</div>
                                            <div class="info">{{ (user?.dob| date: 'MM/dd/yyyy') }}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">User Type</div>
                                            <div class="info text-capitalize">
                                                <div *ngIf="user.user_type=='player';else other_content">
                                                    Shark
                                                </div>
                                                <ng-template #other_content>
                                                    {{ user?.user_type | ucFirst}}
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Status</div>
                                            <div class="info text-capitalize">{{(user?.status || 'Inactive') }}</div>
                                        </div>
                                        <div class="info-line" *ngIf="user?.user_type !='admin'">
                                            <div class="title">Wallet Amount</div>
                                            <div class="info">{{user?.wallet_amount || '0' | currency}}</div>
                                        </div>
                                        <div class="info-line"  *ngIf="user?.user_type =='player'">
                                            <div class="title">Coaching Amount </div>
                                            <div class="info">{{user?.coaching_amount || '0' | currency}}/ 30 minutes</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Created At</div>
                                            <div class="info">{{ (user?.created_at| date:'MM/dd/yyyy hh:mm a') || '-'}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Updated At</div>
                                            <div class="info">{{ (user?.updated_at| date:'MM/dd/yyyy hh:mm a') || '-'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Stakes"  *ngIf="user?.user_type !='admin'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="p-12" fxFlex="100" fxLayout="row wrap" *ngIf="user?.user_type !='admin'">
                                <mat-card class="general-card">
                                    <h1 class="light-blue-fg">{{ stake_statistics_list?.active }}</h1>
                                    <span>Active</span>
                                </mat-card>
                                <mat-card class="general-card">
                                    <h1 class="pink-fg">{{ stake_statistics_list?.inactive }}</h1>
                                    <span>Inactive</span>
                                </mat-card>
                                <mat-card class="general-card">
                                    <h1 class="red-fg">{{ stake_statistics_list?.pending_result }}</h1>
                                    <span>Pending Result</span>
                                </mat-card>
                                <mat-card class="general-card">
                                    <h1 class="orange-fg">{{ stake_statistics_list?.won }}</h1>
                                    <span>Won</span>
                                </mat-card>
                                <mat-card class="general-card">
                                    <h1 class="blue-grey-fg">{{ stake_statistics_list?.loss }}</h1>
                                    <span>Loss</span>
                                </mat-card>
                            </div>
                            <div class="about-content" fxLayout="column" fxFlex="100">
                                <div class="profile-box info-box general" fxLayout="column">
                                    <div class="content">
                                        <datatable #stakesDatatable [filterInput]="datatabseSearchInput" [value]="stakeDataSource" >
                                            <column field="title" header="Title" [sortable]="true" [searchable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{ row?.title | truncate:20 }}
                                                </ng-template>
                                            </column>
                                            <column *ngIf="user?.user_type =='player'" field="total_staked_amount" header="Stake Amount" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{(row?.total_staked_amount || 0) | currency}}
                                                </ng-template>
                                            </column>
                                            <column *ngIf="user?.user_type =='player'" field="sold_percentage" header="Sold Percentage" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{ (row?.sold_percentage || 0) + "%" }}
                                                </ng-template>
                                            </column>
                                            <column *ngIf="user?.user_type =='player'" field="sold_total" header="Sold Total" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{(row?.sold_total || 0) | currency}}
                                                </ng-template>
                                            </column>
                                            <column *ngIf="user?.user_type =='user'" field="player_staked_amount" header="Stake Amount" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{(row?.player_staked_amount || 0) | currency}}
                                                </ng-template>
                                            </column>
                                            <column *ngIf="user?.user_type =='user'" field="player_won_amount" header="Won Amount" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{(row?.player_won_amount || 0) | currency}}
                                                </ng-template>
                                            </column>
                                            <column field="status" header="Status" [sortable]="true" [searchable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <span class="text-capitalize">{{row?.status.replace('_', ' ')}}</span>
                                                </ng-template>
                                            </column>
                                            <column field="closing_time" header="Closing Date/Time" [searchable]="false">
                                                <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                                    {{row?.closing_time | date:'yyyy-MM-dd hh:mm a'}}
                                                </ng-template>
                                            </column>

                                            <column header="Action" [sortable]="false" [searchable]="false">
                                                <ng-template let-row="rowData" dtTemplate="body">

                                                    <button mat-menu-item matTooltip="View Details" type="button"
                                                        [routerLink]="['/stake', row._id]">
                                                        <mat-icon>remove_red_eye</mat-icon>
                                                    </button>
                                                </ng-template>
                                            </column>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab  *ngIf="user?.user_type !='admin'" [label]="(user.user_type =='user') ? 'Booked Coching' : 'Availability'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <full-calendar #calendar [plugins]="calendarPlugins" [events]="events" (eventClick)="openInfo($event)" defaultView="dayGridMonth"></full-calendar>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Transactions"  *ngIf="user?.user_type !='admin'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="about-content" fxLayout="column" fxFlex="100">
                                <div class="profile-box info-box general" fxLayout="column">
                                    <div class="content">
                                        <datatable #transationDatatable [filterInput]="datatabseSearchInput" [value]="transactionDataSource">
                                            <column field="description" header="Description">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    {{row?.description | truncate:50 }}
                                                </ng-template>
                                            </column>
                                            <column field="amount" dataType="int" header="Amount" [sortable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body" >
                                                    {{(row?.amount || 0) | currency}}
                                                </ng-template>
                                            </column>
                                            <column field="transactions_type" header="Transactions Type"></column>
                                            <column field="status" header="Status"></column>
                                            <column field="created_at" header="Date/Time" [searchable]="false">
                                                <ng-template let-col let-single="rowData" let-i="rowIndex" dtTemplate="body">
                                                    {{single?.created_at | date:'yyyy-MM-dd hh:mm a'}}
                                                </ng-template>
                                            </column>
                                            <column header="Action" [sortable]="false" [searchable]="false">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <button mat-menu-item matTooltip="View Details" type="button" (click)="transctionInfoBox(row)">
                                                        <mat-icon>remove_red_eye</mat-icon>
                                                    </button>
                                                </ng-template>
                                            </column>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Invoice" *ngIf="user?.user_type =='user'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="about-content" fxLayout="column" fxFlex="100">
                                <div class="profile-box info-box general" fxLayout="column">
                                    <div class="content">
                                        <datatable #datatable [filterInput]="datatabseSearchInput" [value]="invoiceDataSource">
                                            <column field="post_id" header="Stake" [sortable]="true" [searchable]="true">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <a target="_blank" title="{{row?.post?.title}}" matTooltip="{{row?.post?.title}} "
                                                        [routerLink]="['/stake', row?.post_id]">
                                                        {{row?.post?.title | truncate:50 }}
                                                    </a>
                                                </ng-template>
                                            </column>
                                            <column field="amount" header="Amount (USD)"></column>
                                            <column field="created_at" header="Date/Time" [searchable]="false">
                                                <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                                    {{row?.created_at | date:'yyyy-MM-dd hh:mm a'}}
                                                </ng-template>
                                            </column>
                                            <column field="file" header="Invoice File">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <!-- <span class="btn btn-link" (click)="downloadFile(row?.file)">{{row.file_name}}</span> -->
                                                    <a href="javascript:void(0)" (click)="downloadFile(row?.file)">{{row.file_name}}</a>
                                                </ng-template>
                                            </column>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Following" *ngIf="user?.user_type =='user'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="about-content" fxLayout="column" fxFlex="100">
                                <div class="profile-box info-box general" fxLayout="column">
                                    <div class="content">
                                        <datatable #followingDatatable [value]="followingDataSource">
                                           <!--  <column header="Avatar" [sortable]="false" [searchable]="false">
                                                <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                                    <img class="avatar" type="user" [alt]="row?.player?first_name" [src]="row?.player?profile_pic" />
                                                </ng-template>
                                            </column> -->
                                            <column field="player_id" column="player.name"  header="Player">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <a target="_blank" title="{{row?.player?.first_name}} {{row?.player?.last_name }}" matTooltip="{{row?.player?.first_name}} {{row?.player?.last_name }}" [routerLink]="['/users', row?.player_id]">
                                                        {{row?.player?.first_name }} {{row?.player?.last_name }}
                                                    </a>
                                                </ng-template>
                                            </column>
                                            <column field="created_at" header="Date/Time" [searchable]="false">
                                                <ng-template let-col let-single="rowData" let-i="rowIndex" dtTemplate="body">
                                                    {{single?.created_at | date:'yyyy-MM-dd hh:mm a'}}
                                                </ng-template>
                                            </column>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Follower" *ngIf="user?.user_type =='player'">
                    <div class="content">
                        <div class="p-24" fxLayout="row wrap">
                            <div class="about-content" fxLayout="column" fxFlex="100">
                                <div class="profile-box info-box general" fxLayout="column">
                                    <div class="content">
                                        <datatable #followingDatatable [value]="followingDataSource">
                                            <column field="user_id" column="user.name" header="User">
                                                <ng-template let-row="rowData" dtTemplate="body">
                                                    <a target="_blank" title="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                                        matTooltip="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                                        [routerLink]="['/users', row?.user_id]">
                                                        {{row?.user?.first_name }} {{row?.user?.last_name }}
                                                    </a>
                                                </ng-template>
                                            </column>
                                            <column field="created_at" header="Date/Time" [searchable]="false">
                                                <ng-template let-col let-single="rowData" let-i="rowIndex" dtTemplate="body">
                                                    {{single?.created_at | date:'yyyy-MM-dd hh:mm a'}}
                                                </ng-template>
                                            </column>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </div>
    <!-- / CONTENT -->
</div>
<ng-template #infoDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title" *ngIf="data?.extendedProps?.status=='available'">Available</span>
                <span class="title dialog-title" *ngIf="data?.extendedProps?.status=='booked'">Booked</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <table class="simple" *ngIf="data?.extendedProps?.status=='available'">
                <tbody>
                    <tr>
                        <td>Start Time</td>
                        <td> <span class="status h6 p-4"> {{ data?.start | date:'yyyy-MM-dd h:mm a' }}</span> </td>
                    </tr>
                    <tr>
                        <td>End Time</td>
                        <td><span class="status h6 p-4">{{ data?.end | date:'yyyy-MM-dd h:mm a'}}</span></td>
                    </tr>
                    
                </tbody>
            </table>
            <table class="simple" *ngIf="data?.extendedProps?.status=='booked'">
                <tbody>
                    <tr>
                        <td>Start Time</td>
                        <td> <span class="status h6 p-4"> {{ data?.start | date:'yyyy-MM-dd h:mm a' }}</span> </td>
                    </tr>
                    <tr>
                        <td>End Time</td>
                        <td><span class="status h6 p-4">{{ data?.end | date:'yyyy-MM-dd h:mm a'}}</span></td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>
                            <span class="status h6 p-4" *ngIf="data?.currentUserId != data?.extendedProps?.booking_user?._id">
                                <a target="_blank" title="{{data?.extendedProps?.booking_user?.first_name}} {{data?.extendedProps?.booking_user?.last_name }}" matTooltip="{{data?.extendedProps?.booking_user?.first_name}} {{data?.extendedProps?.booking_user?.last_name }}" [routerLink]="['/users', data?.extendedProps?.booking_user?._id]"> {{ data?.extendedProps?.booking_user?.first_name }} {{ data?.extendedProps?.booking_user?.last_name }}
                                </a>
                            </span>
                            <span class="status h6 p-4" *ngIf="data?.currentUserId != data?.extendedProps?.user?._id">
                                <a target="_blank"
                                    title="{{data?.extendedProps?.user?.first_name}} {{data?.extendedProps?.user?.last_name }}"
                                    matTooltip="{{data?.extendedProps?.user?.first_name}} {{data?.extendedProps?.user?.last_name }}"
                                    [routerLink]="['/users', data?.extendedProps?.user?._id]">
                                    {{ data?.extendedProps?.user?.first_name }} {{ data?.extendedProps?.user?.last_name }}
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>
                            <span class="status h6 p-4">{{ (data?.extendedProps?.amount || 0) | currency }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<ng-template #transactionInfoDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Transaction Detail</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <table class="simple">
                <tbody>
                    <tr>
                        <td>Amount</td>
                        <td> <span class="status h6 p-4"> {{ data?.amount | currency }}</span> </td>
                    </tr>
                    <tr>
                        <td>Closing Balance</td>
                        <td><span class="status h6 p-4">{{ data?.closing_balance | currency }}</span></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><span class="status h6 p-4">{{ data?.description}}</span></td>
                    </tr>
                    <tr>
                        <td>Transaction Type</td>
                        <td><span class="status h6 p-4">{{ data?.transactions_type}}</span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span class="status h6 p-4">{{ data?.status}}</span></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><span class="status h6 p-4">{{ data?.created_at | date:'yyyy-MM-dd hh:mm a'}}</span></td>
                    </tr>
                    <tr *ngIf="data?.obj_data?.post_id != undefined">
                        <td>Post</td>
                        <td>
                            <span class="status h6 p-4">
                                <a [routerLink]="['/stake', data?.obj_data?.post_id]" target="_blank">
                                    View Post
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="data?.obj_data?.user_id != undefined">
                        <td>User</td>
                        <td>
                            <span class="status h6 p-4">
                                <a [routerLink]="['/users', data?.obj_data?.user_id]" target="_blank">
                                    View User
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<ng-template #paidInfoDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Withdraw</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <form name="form" (ngSubmit)="playerFormData(data)" #f="ngForm">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field validation="required" name="withdraw_amount" [(ngModel)]="data.withdraw_amount"
                            fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Amount</mat-label>
                                <input appFieldInput matInput name="withdraw_amount" [(ngModel)]="data.withdraw_amount">
                            </mat-form-field>
                        </app-form-field>
                    </div>
                </div>
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                    <div class="buttons">
                        <button mat-stroked-button color="primary" (click)="_matDialog.closeAll()" type="button"> Close </button>
                        <button mat-stroked-button color="accent"> Withdraw </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
