@import "src/@fuse/scss/fuse";
:host{
    .green-color{
        color: #00b300;
        .mat-icon{
            vertical-align: middle;
        }
    }
    
    
}
::ng-deep {
    table {
        overflow: auto !important;
        height: auto !important;
    }
    
}
.form-dialog{
    .mat-dialog-container{
        padding: 0px !important;
    }
}
#stake{
    .header {
        
        background: url('assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;;
        background-size: cover;
        color: #FFFFFF;
        min-height: 150px;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }
    .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

           // .friends {

                .content {

                    .friend {
                        padding: 4px;

                        img {
                            border-radius: 4px;
                        }
                    }
                    table{
                        tbody{
                            tr{
                                td{
                                    .green-color{
                                        color: #00b300;
                                        .mat-icon{
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
           // }

            .groups {

                .content {

                    .group {
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48px;
                            height: 48px;
                            font-size: 21px;
                            line-height: normal;
                            border-radius: 50%;
                            margin-right: 16px;
                        }

                        .name {
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .members {
                            margin-top: 8px;
                        }
                    }
                    .player-info{
                        padding-top: 10px;
                    }
                }
            }
        }
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFFFFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }


                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .content{
        mat-card{
            width: 23%;
            margin: 1%;
            text-align: center;
            &.general-card{
                width: 18%;
            }
            .light-blue-fg {
                color: #03a9f4!important;
            }
            .red-fg {
                color: #f44336!important;
            }
            .orange-fg {
                color: #ff9800!important;
            }
            .blue-grey-fg {
                color: #607d8b!important;
            }
            .pink-fg{
                color: #EC0C8E!important;
            }
        }
    }
}