
<div id="private-coaching" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">list</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Private Coaching </span>
            </div>
        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="users-main-sidebar" position="left" lockedOpen="gt-sm">
            <div class="content" fusePerfectScrollbar>
                <div class="main-sidebar" [@animate]="{value:'*'}">
                    <div class="sidebar-content">
                        <div class="card">
                            <div class="content p-16 ps" fusePerfectScrollbar>
                                <!-- <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Start Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                                        <input appFieldInput matInput [matDatepicker]="startDatePicker" (click)="startDatePicker.open()" name="start" [(ngModel)]="requestData.start" #start="ngModel" placeholder="Start Date" (dateInput)="dateValueChange('start')" />
                                    </mat-form-field>
                                    <mat-datepicker #startDatePicker></mat-datepicker>
                                </div>
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>End Date</mat-label>
                                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                                
                                        <input appFieldInput matInput [matDatepicker]="endDatePicker" (click)="endDatePicker.open()"
                                            class="form-control" name="end" [(ngModel)]="requestData.end" #end="ngModel" placeholder="End Date" [min]="requestData.start" (dateInput)="dateValueChange('end')" />
                                    </mat-form-field>
                                    <mat-datepicker #endDatePicker></mat-datepicker>
                                </div> -->
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select User" aria-label="Select User" matInput
                                            [formControl]="userControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                            (optionSelected)='getSelectedUser($event.option.value, "user")'>
                                            <mat-option *ngFor="let option of userFilteredOptions | async" [value]="option">
                                                {{option?.first_name}} {{option?.last_name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Shark" aria-label="Select Shark" matInput [formControl]="playerControl"
                                            [matAutocomplete]="autoPlayer">
                                        <mat-autocomplete #autoPlayer="matAutocomplete" [displayWith]="displayFnPlayer"
                                            (optionSelected)='getSelectedUser($event.option.value, "player")'>
                                            <mat-option *ngFor="let option of playerFilteredOptions | async" [value]="option">
                                                {{option?.first_name}} {{option?.last_name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="nav-item text-center" aria-label="starred">
                                    <button class=" ml-2 mr-2" mat-flat-button color="primary" (click)="clearFilter()"
                                        [disabled]="this.disabled">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <div class="center p-24 pb-56 pr-sm-24" fusePerfectScrollbar>
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="privateCoachingList">
                        
                        <column column="user.name" field="booking_user_id" header="User" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row.booking_user.first_name}} {{row.booking_user.last_name }}"
                                    matTooltip="{{row.booking_user.first_name}} {{row.booking_user.last_name }}" [routerLink]="['/users', row.booking_user._id]">
                                    {{row?.booking_user?.first_name }} {{row?.booking_user?.last_name }}
                                </a>
                            </ng-template>
                        </column>
                        <column column="booking.name" field="user_id" header="Shark" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row.user.first_name}} {{row.user.last_name }}"
                                    matTooltip="{{row.user.first_name}} {{row.user.last_name }}" [routerLink]="['/users', row.user._id]">
                                    {{row?.user?.first_name }} {{row?.user?.last_name }}
                                </a>
                            </ng-template>
                        </column>
                        <column field="start" header="Start Time" [searchable]="false">
                            <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                {{row?.start | date:"yyyy-MM-dd hh:mm a"}}
                            </ng-template>
                        </column>
                        <column field="end" header="End Time" [searchable]="false">
                            <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                {{row?.end | date:"yyyy-MM-dd hh:mm a"}}
                            </ng-template>
                        </column>
                        <column field="amount" dataType="int" header="Amount" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{(row?.amount || 0) | currency}}
                            </ng-template>
                        </column>
                        <column field="status" dataType="int" header="Status" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <span class="text-capitalize">{{ row?.status }}</span>
                            </ng-template>
                        </column>
                        <column header="Action" [sortable]="false" [searchable]="false" >
                            
                            <ng-template let-row="rowData" dtTemplate="body" >
                                <!-- <button *ngIf="row?.status != 'inactive'" mat-menu-item matTooltip="Cancel Private Coaching" type="button" dialog-confirm message="Are you sure that you want to refund to user?" (confirm)="refundUser(row)">
                                    <mat-icon>cancel_presentation</mat-icon>
                                </button> -->
                                <button *ngIf="row?.status != 'inactive'" mat-icon-button class="mr-16" matTooltip="Cancel Private Coaching" type="button" dialog-confirm message="Are you sure that you want to refund to user?" (confirm)="refundUser(row)">
                                    <mat-icon>cancel_presentation</mat-icon>
                                </button>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
        </div>
    </div>
</div>