<ng-content></ng-content>
<!-- isValid : {{isValid}}<br>
touched : {{touched}}<br>
submitted : {{submitted}}<br> -->

<mat-error *ngIf="!isValid && (touched || submitted)"  [innerHtml]="errorMessage[0]"></mat-error>


<!-- <div *ngIf="!isValid && (touched || submitted)" class="invalid-feedback  d-block" [innerHtml]="errorMessage[0]"></div> -->