<div id="main">
    <div class="container">
        <div class="container">
            <div class="container" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
                <content></content>
            </div>
        </div>
    </div>
</div>