
<form novalidate (ngSubmit)="payNow()">
    <app-form-field class="form-group" name="amount" validation="required|number" [(ngModel)]="amount" (input)="onAmountChange($event.target.value)">
        <!-- <label appFieldLabel>Amount <span class="required-star">*</span></label> -->
        <input appFieldInput  type="text" class="form-control" name="amount" placeholder="Enter amount *">
        <span class="d-block" *ngIf="settings?.stripe_charges > 0">Processing Fee: {{ settings?.stripe_charges }}% </span>
        <span class="d-block"  *ngIf="totalAmount > 0">Total charge: {{ totalAmount | currency}} </span>
    </app-form-field>
    
    <app-form-field class="form-group" name="number" [(ngModel)]="name" validation="required">
        <!-- <label appFieldLabel>Name </label> -->
        <input class="form-control" type="text" placeholder="Your Name">
    </app-form-field>
    <div class="form-group">
        <!-- <label >Card details </label> -->
        <ngx-stripe-card  class="form-control" [options]="cardOptions"  [elementsOptions]="elementsOptions"></ngx-stripe-card>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!loading"> Deposit </button>
    <app-loading type="inline" *ngIf="loading"></app-loading>
</form>
