<section class="light-section">
    <div class="container-fluid">
        <div class="card p-5 mb-5">
            <div class="row mb-4">
                <div class="col-sm-4">
                    <select (change)="applyFilter($event.target.value)" class="custom-select custom-select-lg mb-3">
                        <option selected value="">All</option>
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <a [routerLink]="['/faqs']" class="btn btn-primary pull-right" routerlinkactive="highlight"> Open Ticket </a>
                    <!-- <button class="btn btn-primary pull-right" (click)="openModel(openTicketModelContent)">Open Ticket</button> -->
                </div>
            </div>
            <div class="tab-inner pb-5 pt-5">
                <ng-template [ngIf]="supportTickets?.length > 0" [ngIfElse]="noSupportTickets">
                    <div *ngFor="let list of supportTickets; let index = index" class="border  p-2 custom-row align-items-center"
                        [ngClass]="{'border-bottom-0' : index != supportTickets?.length-1, unread : (list?.user_read==false)}"
                        (click)="redirect(list._id)">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 description">{{list.subject | truncate:50 }}</p>
                            </div>
                            <div class="col-auto align-items-center">
                                <span class="label-pill mr-3"
                                    [ngClass]="{'pill-success' : list?.status == 'open', 'pill-error' : list?.status == 'closed' }">{{ list?.status}}</span>
                                <span class="icon icon-comment notify mr-3">
                                    <span class="point" *ngIf="!list?.user_read"></span>
                                </span>
                                <span class="mr-3"> {{ list?.created_at | amLocal | amTimeAgo }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="load-more-container pt-5 text-center" *ngIf="loadMore && !loading">
                        <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
                    </div>
                </ng-template>
                <ng-template #noSupportTickets>
                    <p>There are no support ticket.</p>
                </ng-template>
            </div>
        </div>
    </div>
</section>
<ng-template #openTicketModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="p-5 w-100">
                <h3>Open Ticket</h3>
                <form (ngSubmit)="openTicket(openTicketForm)" #openTicketForm="ngForm">
                    <app-form-field class="form-group"  name="subject" [(ngModel)]="supportTicket.subject">
                        <label appFieldLabel>Subject <span class="required-star">*</span></label>
                        <input appFieldInput type="text" class="form-control" placeholder="Subject">
                    </app-form-field>
                    <app-form-field class="form-group" name="message">
                        <label appFieldLabel>Message <span class="required-star">*</span></label>
                        <ckeditor appFieldInput  [(ngModel)]="supportTicket.message" [ngModelOptions]="{standalone: true}"></ckeditor>
                    </app-form-field>
                    <app-form-field class="form-group" name="file" (change)="setFile($event)">
                        <label>Attachment </label>

                        <div class="d-block mt-3 mb-3" *ngIf="supportTicket?.file">
                           <div *ngIf="fileType == 'jpg' || fileType == 'png' || fileType == 'jpeg' ; else other_temp">
                                <span class="border d-table p-2">
                                    <img [src]="supportTicket.file" width="150">
                                </span>
                           </div>
                            <ng-template #other_temp>
                                <span class="icon-file-support mr-3"> {{fileName}}</span>
                            </ng-template>
                        </div>
                        
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" #fileInput (change)="readFile($event)">
                                <label class="custom-file-label" for="inputGroupFile04">{{ (supportTicket.file) ? fileInput.value.split("\\").pop() : 'Choose file' }}</label>
                            </div>
                        </div>
                    </app-form-field>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" *ngIf="!isLoading">Submit</button>
                            <app-loading type="inline" *ngIf="isLoading"></app-loading>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>