@import 'var';

:host {
    .d-flex {
        cursor: pointer;
        &.custom-row {
            flex-direction: row;
            flex-wrap: wrap;
            .d-flex{
                @include respond(md) {
                    display: block !important;
                }
                strong{
                    @include respond(md) {
                        display: block !important;
                    }
                }
                span:last-child{
                    @include respond(md) {
                        display: block !important;
                    }    
                }
            }
        }
    }
    /* p:hover{
        text-decoration: underline;
        cursor: pointer;
    } */
    .label-pill {
        border-radius: 4px;
        padding: 2px 5px;
        color: white;
        font-weight: 500;
        margin-left: 10px;
    }
    .pill-success {
        background-color: $success;
    }
    .pill-error {
        background-color: $error;
    }
    .pull-left{
        float: left;
    }
    .notify {
        position: relative;
        top: 9px;
        right: -7px;
        
        .point {
            width: 6px;
            height: 6px;
            border-radius: 30px;
            background-color: #f62d51;
            position: absolute;
            right: -1px;
            top: -2px;
        }
    }
    .icon{
        font-size: 25px;
    }
}