$assetPath: "/assets";
$imagePath: "/assets/images";

$primary: #0BB5FF;//#A9D213;
$primary_text: #fff;
$primary_color : #0BB5FF;//#A9D213;

$accent: #000;
$accent_text: #fff;
$accent_color : #000;

$tertiary: #ffb461;
$tertiary_text: #fff;
$tertiary_color : #ffb461;

$success: #1dbc4f;
$success_text: #fff;
$success_color : #1dbc4f;

$info: #65a9ff;
$info_text: #fff;
$info_color : #65a9ff;


$gray: #a2a0a0;
$gray_light: #a3a3a3;
$gray_dark: #404447;

$google: #dd4b39;
$linkedin: #0e76a8;

$success: #55ce63;
$error: #fd5e60;

$border:#ced4da;

$font_icomoon: "icomoon";

@function px2em($px, $default: 14px) {
  $em: $px/$default;
  @return #{$em}rem;
}

$break-xs: 360px;
$break-sm: 480px;
$break-md: 767px;
$break-lg: 991px;
$break-ipad: 1024px;
$break-xl: 1199px;
$break-dsk: 1440px;

$break-em-xs: 29.9375em;
$break-em-sm: 35.9375em;
$break-em-md: 47.9375em;
$break-em-lg: 61.9375em;
$break-em-dsk: 90.125em;
$break-em-xl: 125em;

@mixin respond($media) {
  @if $media==xs {
    @media only screen and (max-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (max-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (max-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (max-width: $break-lg) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (max-width: $break-ipad) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (max-width: $break-xl) {
      @content;
    }
  } @else if $media==em_xs {
    @media only screen and (max-width: $break-em-xs) {
      @content;
    }
  } @else if $media==em_sm {
    @media only screen and (max-width: $break-em-sm) {
      @content;
    }
  } @else if $media==em_xl {
    @media only screen and (max-width: $break-em-xl) {
      @content;
    }
  } @else if $media==em_md {
    @media only screen and (max-width: $break-em-md) {
      @content;
    }
  } @else if $media==em_dsk {
    @media only screen and (max-width: $break-em-dsk) {
      @content;
    }
  } @else if $media==em_lg {
    @media only screen and (max-width: $break-em-lg) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (max-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}

@mixin respond-to($media) {
  @if $media==xs {
    @media only screen and (min-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (min-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (min-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (min-width: $break-lg) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (min-width: $break-ipad) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (min-width: $break-xl) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (min-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

@mixin respond-only($media) {
  @if $media==xs {
    @media only screen and (min-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (min-width: $break-xs + 1) and (max-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (min-width: $break-sm + 1) and (max-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (min-width: $break-md + 1) and (max-width: $break-ipad) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (min-width: $break-ipad + 1) and (max-width: $break-lg) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (min-width: $break-lg + 1) and (max-width: $break-xl) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (min-width: $break-lg + 1) and (max-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

@mixin respond-min-max($minMedia, $maxMedia) {
  @media only screen and (min-width: $minMedia) and (max-width: $maxMedia) {
    @content;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.box-shadow{
 box-shadow: 1.2px 1.6px 10px 0 rgba(0, 0, 0, 0.08) !important;
}


.icomoon-fonts {
  font-family: "icomoon";
}

.heading {
  font-weight: 500;
  color: var(--color-heading, #{$gray_dark});
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include respond(dsk){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include respond(lg){
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

.btn-primary {
  border-color: $primary;
  background: $primary;
  color: $primary_text;
  &.btn-link{
    color: $primary;
    background: transparent;
  }
}

.btn-primary-hover{
  border-color: var(--hover-color-color, $accent);
  background: var(--hover-background-color, $accent);
  color: var(--hover-color, $primary_text);
}


.btn-outline {
  border: 1px solid var(--color);
  background: transparent;
}

.btn-outline-hover{
  border-color: var(--hover-border-color, $primary_text);
  background: var(--hover-background-color, $primary_text);
  color: var(--hover-color, $primary);
}
