@import 'var';
:host {
    .avatar-continer {
        img {
            object-fit: cover;
            overflow: hidden;
            width: 56px;
            height: 56px;
            border-radius: 56px;
            padding: 2px;
            border: 1px solid #efefef;
        }
    }
    .noti-header{
        @include respond(sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .load-more-container .btn{
        margin-top: 10px;
    }
    /* .description{
        @include respond(sm) {
            display: none;
        }
    }
    .resp-description{
        display: none;
        @include respond(sm) {
            display: block;
        }
    } */
}
  