<div class="card p-3 p-md-5">
    <div class="mb-5 transaction-history">
        <h3>Notifications</h3>
        <ng-template [ngIf]="notifications?.length > 0" [ngIfElse]="noNotifications">
            <div class="d-flex border pb-2 pt-2" *ngFor="let list of notifications; let index = index" [ngClass]="{'border-bottom-0' : index != notifications?.length-1}" [ngClass]="{read : list?.read_at}">
                <div class="col-auto">
                    <div class="avatar-continer">
                        <img [src]="list?.user?.profile_pic" type="user">
                    </div>
                </div>
                <div class="col p-0 align-self-center">
                    <div class="noti-header col-auto pl-0 mb-2 mb-sm-0 d-flex justify-content-between">
                        <h4 class="m-0 align-self-center">{{list?.user?.first_name}} {{list?.user?.last_name}}</h4>
                        <span>{{ list?.created_at | amLocal | amTimeAgo}}</span>
                    </div>
                    <p class="mb-0 description">{{list?.body}}</p>
                </div>
            </div>

            <div class="load-more-container text-center" *ngIf="loadMore && !loading">
                <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
            </div>
        </ng-template>
        <app-loading *ngIf="loading"></app-loading>


        <ng-template #noNotifications>
            <p *ngIf="!loading">There are no notifications.</p>
        </ng-template>

       
    </div>
</div>