<section id="login" class="light-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Reset Password</h2>
            </div>
        </div>
        <div class="row offset-md-2">
            <div class="col-sm-10">
                <div class="card p-5">
                    <div class="row offset-md-3">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-11 p-0">
                                    <form (ngSubmit)="setPassword()" #setpasswordForm="ngForm">
                                        <http-message [type]="'error'" [data]="passwordError" *ngIf="passwordError">
                                        </http-message>
                                        <div class="form-group">
                                            <label>Password <span class="required-star">*</span></label>
                                            <input required #password="ngModel" type="password" class="form-control"
                                                [(ngModel)]="passwordForm.password" name="password" placeholder="Password">
                                            <control-messages name="Password" [control]="password"></control-messages>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password <span class="required-star">*</span></label>
                                            <input required #confirm_password="ngModel" type="password" areEqual="password" class="form-control" [(ngModel)]="passwordForm.confirm_password" name="confirm_password" placeholder="Confirm Password">
                                            <control-messages name="Confirm Password" [control]="confirm_password"></control-messages>
                                            <div *ngIf="isValid" class="error-message">Passsword and ConfirmPassword didn't match.</div>

                                        </div>
                                        <button type="submit" [disabled]="!setpasswordForm.valid" class="btn btn-primary">Set Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>