<div class="section">
    <div class="container">
        <div class="card p-5 mb-5">

            <h3>Edit Profile</h3>

            <form (ngSubmit)="doUpdateProfile(updateProfileForm)" #updateProfileForm="ngForm">
                <http-message [data]="profileHttpResponse"></http-message>
                <div class="row">
                    <div class="col-sm-6">
                        <app-form-field class="form-group" validation="required" name="first_name"
                            [(ngModel)]="editUser.first_name">
                            <label appFieldLabel>First name <span class="required-star">*</span></label>
                            <input appFieldInput type="text" class="form-control" placeholder="First name">
                        </app-form-field>
                    </div>
                    <div class="col-sm-6">
                        <app-form-field class="form-group" validation="required" name="last_name"
                            [(ngModel)]="editUser.last_name">
                            <label appFieldLabel>Last name <span class="required-star">*</span></label>
                            <input appFieldInput type="text" class="form-control" placeholder="Last name">
                        </app-form-field>
                    </div>
                </div>

                <app-form-field class="form-group" validation="required|email" name="email"
                    [(ngModel)]="editUser.email">
                    <label appFieldLabel>Email <span class="required-star">*</span></label>
                    <input appFieldInput type="email" class="form-control" placeholder="Email" readonly>
                </app-form-field>

                <app-form-field class="form-group" name="dob">
                    <label appFieldLabel>Date of Birth </label>
                    <input appFieldInput class="form-control" [(ngModel)]="editUser.dob" placeholder="Date of Birth"
                        name="Date of birth" ngbDatepicker #d="ngbDatepicker" [maxDate]="dobMaxDate"
                        (click)="d.toggle()">
                </app-form-field>

                <app-form-field class="form-group" name="gender" [(ngModel)]="editUser.gender">
                    <label appFieldLabel>Gender <span class="required-star"></span></label>

                    <div class="custom-control custom-radio">
                        <input appFieldInput type="radio" class="custom-control-input" id="genderMale" name="gender"
                            value="male">
                        <label class="custom-control-label" for="genderMale">Male</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input appFieldInput type="radio" class="custom-control-input" id="genderFemale" name="gender"
                            value="female">
                        <label class="custom-control-label" for="genderFemale">Female</label>
                    </div>
                </app-form-field>

                <app-form-field class="form-group" name="profile_pic" (change)="setProfilePic($event)">
                    <label appFieldLabel>Profile Image </label>
                    <div class="d-block mt-3 mb-3" *ngIf="editUser?.profile_pic || user?.profile_pic">
                        <span class="border d-table p-2">
                            <img [src]="editUser?.profile_pic ||  user?.profile_pic " width="150">
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input appFieldInput type="file" accept="image/*" class="custom-file-input"
                                #profilePicFileInput>
                            <label class="custom-file-label"
                                for="inputGroupFile04">{{ profilePicFileInput.value.split("\\").pop() || 'Choose file' }}</label>
                        </div>
                    </div>
                </app-form-field>

                <app-form-field *ngIf="user?.user_type == 'player'" class="form-group" name="sport_type_id"
                    [(ngModel)]="editUser.sport_type_id">
                    <label appFieldLabel>Sport type</label>
                    <select appFieldInput *ngIf="sport_types?.length" class="custom-select custom-select-lg mb-3">
                        <option selected value="">Select sport type</option>
                        <option *ngFor="let sport_type of sport_types" [value]="sport_type._id">{{sport_type.name}}
                        </option>
                    </select>
                </app-form-field>

                <app-form-field *ngIf="user?.user_type == 'player'" class="form-group" name="about"
                    [(ngModel)]="editUser.about">
                    <label appFieldLabel>About</label>
                    <textarea appFieldInput class="form-control" placeholder="About your self" rows="7"></textarea>
                </app-form-field>

                <app-loading *ngIf="loading"></app-loading>
                <div class="row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="card h-100 mb-5 mb-sm-0 p-5">
                    <h3>Change Password</h3>
                    <form (ngSubmit)="doChangePassowrd(changePassowrdForm)" #changePassowrdForm="ngForm">
                        <http-message [data]="changePasswordHttpResponse"></http-message>

                        <app-form-field class="form-group" validation="required|min:6" name="old_password"
                            [(ngModel)]="changePassword.old_password">
                            <label appFieldLabel>Old Password <span class="required-star">*</span></label>
                            <input appFieldInput type="password" class="form-control" placeholder="Old Password">
                        </app-form-field>

                        <app-form-field class="form-group" validation="required|min:6" name="password"
                            [(ngModel)]="changePassword.password">
                            <label appFieldLabel>New Password <span class="required-star">*</span></label>
                            <input appFieldInput type="password" class="form-control" placeholder="New Password">
                        </app-form-field>

                        <app-form-field class="form-group" validation="required|min:6|equal_to:password"
                            name="confirm_passowrd" [(ngModel)]="changePassword.confirm_passowrd">
                            <label appFieldLabel>Confirm Password <span class="required-star">*</span></label>
                            <input appFieldInput type="password" class="form-control" placeholder="Confirm Password">
                        </app-form-field>

                        <div class="row align-it ems-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6" *ngIf="user?.user_type == 'player'">
                <div class="card p-5 h-100">
                    <h3>Private Coaching Rate</h3>
                    <form (ngSubmit)="doUpdateRate(changeRateForm)" #changeRateForm="ngForm">
                        <http-message [data]="rateHttpResponse"></http-message>

                        <app-form-field class="form-group" name="coaching_amount" validation="required|number"
                            [(ngModel)]="changeRate.coaching_amount" (input)="onAmountChange()">
                            <div class="row">
                                <label class="col-sm-7" appFieldLabel>Amount for 30 Minutes<span
                                        class="required-star">*</span></label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input appFieldInput type="text" class="form-control" name="coaching_amount"
                                            placeholder="Enter amount">
                                    </div>
                                </div>
                            </div>
                        </app-form-field>

                        <div class="form-group" *ngIf="changeRate?.admin_amount > 0">
                            <!-- <div class="row">
                                <label class="col-sm-8">USD for 30 Minutes</label>
                                <div class="col-sm-4 text-right">{{changeRate.coaching_amount | currency}}</div>
                            </div> -->
                            <div class="row">
                                <label class="col-sm-7">Stake my shark Service Fee
                                    ({{ changeRate?.admin_amount }}%)</label>
                                <div class="col-sm-5 text-right">
                                    {{changeRate.rec_coaching_amount - changeRate?.coaching_amount | currency}}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-7">The amount you'll receive after service fees</label>
                                <div class="col-sm-5 text-right">
                                    <strong>{{changeRate?.rec_coaching_amount | currency}}</strong></div>
                            </div>
                        </div>
                        <div class="row align-it ems-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
