<div class="repeater-container">
	<div class="fields">
		
		<div class="filed-item" *ngFor="let field of repeater_value; let index = index; ">
			<div class="content">
				<ng-container *ngTemplateOutlet="fieldTemplate; context: {$implicit: field, index: index}">

				</ng-container>
			</div>
			<div class="action action-remove  text-right" *ngIf="repeater_value?.length > defaultRow">
				<button type="button" matTooltip="Remove" mat-icon-button  (click)="removeField(field)">
					<mat-icon >delete_forever</mat-icon></button>
			</div>
			<hr class="mt-2 mb-2">
		</div>
	</div>
	<div class="mt-2 mb-2">
		<div class="">
			<button type="button" mat-stroked-button (click)="addNewField()"><i class="fa fa-plus"></i>&nbsp;{{ addButtonText }}</button>
		</div>
	</div>
</div>