<mat-nav-list *ngIf="items?.length > 0">
    <ng-template ngFor let-item [ngForOf]="items" let-index="index">
        <div *ngIf="item?.children && item?.children?.length > 0 else child_content">

            <a mat-list-item (click)="$event.stopPropagation(); onItemSelected(item,index)"
                routerLinkActive="active"
                [ngClass]="{expanded: expanded[depth+'_'+index]}"
                class="menu-list-item">
                <mat-icon class="routeIcon" mat-list-icon [innerHtml]="item.iconName"></mat-icon>
                <h4 mat-line>{{item.displayName }}</h4>
                <span fxFlex *ngIf="item?.children && item?.children?.length">
                    <span fxFlex></span>
                    <!-- <mat-icon [@indicatorRotate]="expanded[depth+'_'+index] ? 'expanded': 'collapsed'"> expand_more </mat-icon> -->
                    <mat-icon>{{expanded[depth+'_'+index] ? 'remove': 'add'}}</mat-icon>
                </span>
            </a>
            <app-menu-list-item class="nested nested-{{depth}}"
                *ngIf="expanded[depth+'_'+index] && item?.children?.length > 0" [items]="item.children"
                [depth]="depth+1"> </app-menu-list-item>


        </div>
        <ng-template #child_content>
            <a mat-list-item (click)="$event.stopPropagation(); onItemSelected(item,index)"
                routerLinkActive="active"
                [routerLink]="['/'+item.route]"
                class="menu-list-item">
                <mat-icon class="routeIcon" mat-list-icon [innerHtml]="item.iconName"></mat-icon>
                <h4 mat-line>{{item.displayName }}</h4>
                <span fxFlex *ngIf="item?.children && item?.children?.length">
                    <span fxFlex></span>
                    <!-- <mat-icon [@indicatorRotate]="expanded[depth+'_'+index] ? 'expanded': 'collapsed'"> expand_more </mat-icon> -->
                    <mat-icon>{{expanded[depth+'_'+index] ? 'remove': 'add'}}</mat-icon>
                </span>
            </a>
        </ng-template>
    </ng-template>
</mat-nav-list>