@import 'var';
:host {
  display: block;
  .nested {
      padding-left: 15px;
      background: rgba(0,0,0,0.1);
      box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.2), inset 0px 0px 5px -5px rgba(0, 0, 0, 0.14), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      mat-nav-list.mat-nav-list {
          padding: 0;
      }
  }
}

.menu-list-item {
    &:hover, &.active{
      //background-color: $primary !important;
      color: $primary !important;
    }
    &.active{
      h4{
        font-weight: 600;
      }
    }
  
}
