<div class="card p-3 mb-3 p-md-5">
    <div class="">
        <h3>Cashier</h3>
        <p>Here you can add Deposit funds and withdraw funds. Please contact admin in case of any problem.</p>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xlg-12  mb-4">
                <span class="font-40 icon icon-money-bag"></span>
                <span class="h2 ml-2 mr-3">{{ user?.wallet_amount | currency}}</span>
                <!-- <span class="h1 ml-3 mr-3">Total Amount</span> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xlg-6 mb-5">
                <div class="card pointer-card">
                    <div class="card-box p-3 d-inline" (click)="openPaymentModel(paymentModelContent)">
                        <span class="font-60 icon icon-deposite float-left mr-4"></span>
                        <h4 class="m-0">Deposit Funds</h4>
                        <div>Debit/Credit</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xlg-6"  *ngIf="user?.user_type == 'user'">
                <div class="card pointer-card">
                    <div class="card-box p-3  d-inline"  (click)="openPaymentModel(withdrawFundsModelContent)">
                        <span class="font-60 icon icon-withdraw float-left mr-4"></span>
                        <h4 class="m-0">Withdraw Funds</h4>
                        <div>Bank Account</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card p-3 mb-3 p-md-5" *ngIf="user?.user_type == 'user'">
    <h3>Invoices</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount (USD)</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody *ngIf="!invoiceData?.length">
                <tr>
                    <td colspan="5" class="h3 text-center p-5"> No Invoice found.</td>
                </tr>
            </tbody>
            <tbody *ngIf="invoiceData?.length">
                <tr *ngFor="let invoice of invoiceData">
                    <td>{{ invoice?.created_at | amUtc | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                    <td>{{ invoice?.post?.title }} - {{ invoice?.post?.description | truncate:50}}</td>
                    <td>{{ (invoice?.amount || 0) | currency }}</td>
                    <td>
                        <span class="btn btn-link"  (click)="downloadFile(invoice?.file)">
                            {{ invoice?.file_name }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="load-more-container text-center" *ngIf="loadMore && !loading">
            <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
        </div>
    </div>
</div> -->

<ng-template #paymentModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5">
                <h3>Deposit Funds</h3>
                <p>Debit/Credit Card:</p>
                <p><img src="assets/images/powered_by_stripe.png" alt="powered_by_stripe"></p>

                <!-- <div class="withdraw-card-buttons mb-5">
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'credit' }" (click)="paymentMethod  = 'credit'">Debit / Credit</button>
                        </div>
                        <div class="col-auto">
                            <button disabled class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'skrill-neteller' }">Skrill and Neteller</button> 
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name" [ngClass]="{'active' : paymentMethod == 'cryptocurrency' }" (click)="paymentMethod  = 'cryptocurrency'">Cryptocurrency</button>
                        </div>
                    </div>
                </div> -->

                <!-- <div *ngIf="paymentMethod == 'credit'"> -->
                    <app-stripe (done)="openModelThankyouModel($event, paymentDoneModelContent)"></app-stripe>
                <!-- </div>
                <div *ngIf="paymentMethod == 'cryptocurrency'">
                    <app-crypto-currency></app-crypto-currency>
                </div> -->
            </div>
        </div>
    </div>
</ng-template>
<ng-template #withdrawFundsModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5">
                <h3>Withdraw Funds</h3>
                <p>Stake My Shark allows you to withdraw funds from your Stake My Shark account via a variety of methods. Please contact our live support team if you have any questions.</p>
                <p><img src="assets/images/secured-pp.png" alt="secured_by_paypal"></p>
                <!-- <div class="withdraw-card-buttons mb-5">
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name"
                                [ngClass]="{'active' : withdrawMethod == 'paypal' }"
                                (click)="withdrawMethod = 'paypal'">PayPal</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline payment-method-name"
                                [ngClass]="{'active' : withdrawMethod == 'bankWire' }"
                                (click)="withdrawMethod = 'bankWire'">Bank Wire</button>
                        </div>
                        <div class="col-auto">
                            <button disabled class="btn btn-outline payment-method-name"
                                [ngClass]="{'active' : withdrawMethod == 'skrill-neteller' }">Skrill and
                                Neteller</button>
                        </div>
                    </div>
                </div> -->

                <!-- <div *ngIf="withdrawMethod == 'bankWire'">
                    <app-bankwire (done)="openModelThankyouModel($event, paymentDoneModelContent)"></app-bankwire>
                </div>

                <div *ngIf="withdrawMethod == 'paypal'"> -->
                    <form novalidate (ngSubmit)="withdrawNow(WithdrawDoneModelContent)">
                        <app-form-field class="form-group" name="amount" #withdrawAmount
                            validation="required|number | min-number : 10 | max-number : {{user?.wallet_amount}}"
                            [(ngModel)]="withdraw_amount">
                            <input appFieldInput required type="text" class="form-control" name="amount"
                                placeholder="Enter amount *">
                        </app-form-field>
                        <button type="button" class="btn btn-link" (click)="addAllAmount(user.wallet_amount)">Withdraw all amount</button>
                        <p class="mt-3">IMPORTANT: All PayPal will be sent as USD. Stake My Shark does not take any fees, but PayPal may depending on your location.</p>
                        <app-form-field class="form-group" name="email" #withdrawEmail validation="required|email"
                            [(ngModel)]="withdraw_email">
                            <input appFieldInput required type="text" class="form-control" name="email"
                                placeholder="Enter PAYPAL account email *">
                        </app-form-field>
                        <button type="submit" class="btn btn-primary" *ngIf="!loading"> Withdraw </button>
                        <app-loading type="inline" *ngIf="loading"></app-loading>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</ng-template>
<ng-template #paymentDoneModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 text-center">
                <h3>Success</h3>
                <h2>{{ (paymentData?.amount || 0) | currency }}</h2>
                <p>Successfully added in your wallet. Your closing balance
                    {{ (paymentData?.closing_balance) | currency }}</p>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #WithdrawDoneModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 text-center">
                <h3>Withdraw</h3>
                <h2>{{ (withdrawData?.amount || 0) | currency }}</h2>
                <p *ngIf="withdrawData?.status == 'pending'">{{withdrawData?.msg}}.</p>
                <p *ngIf="withdrawData?.status != 'pending'">{{withdrawData?.msg}}. Your closing balance {{ (withdrawData?.closing_balance) | currency }}</p>
            </div>
        </div>
    </div>
</ng-template>