@import "var";

:host{
    .card{
        border-radius: 10px;
        border: 2px solid #cccccc;

        .font-40{
            font-size: 40px;
        }

        .font-60{
            font-size: 60px;
        }
    }
}
.withdraw-card-buttons {
    .payment-method-name {
        &.active {
            border: 2px solid $primary !important ;
        }
    }
}
.pointer-card{
    cursor: pointer;
}