.page-content{
    hr{
        float: left;
        width: 100%;
    }
    .tutorial-data{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .tutorial-link {
        line-height: 1.73;
        margin-bottom: 20px;
    }
    .tutorial-link a:hover{
        color: #007bff;
      
    }
    
     
}