<div class="section">
    <div class="container">
        <div class="page-title">
            <h1>Tutorials</h1>
        </div>
        <div class="page-content mb-5" *ngIf="tutorials?.length">
            <div class="col-12 tutorial-data" *ngFor="let tutorial of tutorials">
                <div class="title-section">
                    <h3>{{ tutorial?.title }}</h3>
                </div>
                <p>{{ tutorial?.description }}</p>
                
                <div class="tutorial-link">
                    <a *ngIf="tutorial?.link" target="_blank" href="{{tutorial?.link}}">{{tutorial?.link}} </a>
                </div>

                <a *ngIf="tutorial?.file" class="btn btn-primary" download="" target="_blank" href="{{tutorial?.file}}">Get Tutorial
                </a>
               
                <hr>
            </div>
            <div class="load-more-container text-center" *ngIf="tutorialsLoadMore && !tutorialsLoading">
                <button class="btn btn-primary" (click)="onLoadMoreTutorial()">Load More</button>
            </div>
        </div>
        <div class="page-content mb-5" *ngIf="!tutorials?.length">
            <div class="load-more-container text-center">
                <h4>There is no tutorial available.</h4>
            </div>
        </div>
    </div>
</div>