<div class="section">
    <div class="container">
        <div class="page-title">
            <h2>Private Coaching</h2>
        </div>
        
        <div class="upcomming-list card p-3">
            <h3>Upcoming coaching sessions</h3>
            <div class="player-item row mb-4" *ngFor="let event of upcomming_list">
                <div class="col-auto">
                    <div class="avatar-continer" *ngIf="currentUser?.user_type == 'user'">
                        <img [src]="event?.user?.profile_pic" type="user">
                    </div>
                    <div class="avatar-continer" *ngIf="currentUser?.user_type == 'player'">
                        <img [src]="event?.booking_user?.profile_pic" type="user">
                    </div>
                </div>
                <div class="col pl-0">
                    <div class="card pt-3 pl-4 pb-4 pr-4">
                        <div class="row" *ngIf="currentUser?.user_type == 'user'">
                            <div class="col">
                                <h4 class="user-name">
                                    <a [routerLink]="['/meet-our-sharks', event?.user?._id]">
                                        {{ event?.user?.first_name }} {{ event?.user?.last_name }}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-auto">
                                <button [routerLink]="['/chat', event?.user?._id]" class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="currentUser?.user_type == 'player'">
                            <div class="col">
                                <h4 class="user-name">{{ event?.booking_user?.first_name }} {{ event?.booking_user?.last_name }}</h4>
                            </div>
                            <div class="col-auto">
                                <button [routerLink]="['/chat', event?.booking_user?._id]" class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                        <div class="bio">
                            <span class="pull-left">
                                {{ event?.start  | amDateFormat: 'YYYY-MM-DD' }} {{ event?.start  | amDateFormat: 'hh:mm a' }} to
                                {{ event?.end  | amDateFormat: 'hh:mm a' }}
                            </span>
                            <span class="pull-right">
                                {{ (event?.amount || 0 ) | currency }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-container text-center" *ngIf="upcomingLoadMore && !upcomingLoading">
                <button class="btn btn-primary" (click)="onLoadMoreUpcoming()">Load More</button>
            </div>
            <div *ngIf="!upcomming_list?.length">
                <h4>There is no upcoming coaching session.</h4>
            </div>
        </div>

        <div class="past-list card mt-4 p-3">
            <h3>Past coaching sessions</h3>
            <div class="player-item row mb-4" *ngFor="let event of past_list">
                <div class="col-auto">
                    <div class="avatar-continer" *ngIf="currentUser?.user_type == 'user'">
                        <img [src]="event?.user?.profile_pic" type="user">
                    </div>
                    <div class="avatar-continer" *ngIf="currentUser?.user_type == 'player'">
                        <img [src]="event?.booking_user?.profile_pic" type="user">
                    </div>
                </div>
                <div class="col pl-0">
                    <div class="card pt-3 pl-4 pb-4 pr-4">
                        <div class="row" *ngIf="currentUser?.user_type == 'user'">
                            <div class="col">
                                <h4 class="user-name">
                                    <a [routerLink]="['/meet-our-sharks', event?.user?._id]">
                                        {{ event?.user?.first_name }} {{ event?.user?.last_name }}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-auto">
                                <button [routerLink]="['/chat', event?.user?._id]" class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="currentUser?.user_type == 'player'">
                            <div class="col">
                                <h4 class="user-name">{{ event?.booking_user?.first_name }} {{ event?.booking_user?.last_name }}</h4>
                            </div>
                            <div class="col-auto">
                                <button [routerLink]="['/chat', event?.booking_user._id]" class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                        <div class="bio">
                            <span class="pull-left">
                                {{ event?.start  | amDateFormat: 'YYYY-MM-DD' }} {{ event?.start  | amDateFormat: 'hh:mm a' }} to
                                {{ event?.end  | amDateFormat: 'hh:mm a' }}
                            </span>
                            <span class="pull-right">
                                {{ (event?.amount || 0 ) | currency }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-container text-center" *ngIf="pastLoadMore && !pastLoading">
                <button class="btn btn-primary" (click)="onLoadMorePast()">Load More</button>
            </div>
            <div *ngIf="!past_list?.length">
                <h4>There is no past coaching session.</h4>
            </div>
        </div>
    </div>
</div>