:host{
    .avatar-continer{
        border-radius: 60px;
        box-shadow: 2.4px 3.2px 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #ffffff;
        background-color: #e3e3e3;
        img{
            border-radius: 60px;
            overflow: hidden;
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
    .bio{
        .pull-left{
            float: left;
        }
        .pull-right{
            float: right;
            font-size: 25px;
            color: #000;
        }
    }
}