<div class="card p-3">
    <div class="row">
        <h4 class="col pt-1">Statistics</h4>
        <div class="col-auto">
            <span class="list-item mr-3" ngbDropdown>
                <a ngbDropdownToggle>
                    {{filter?.year}}
                </a>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem  *ngFor="let year of yearList" (click)="changeYear(year)" [ngClass]="{'active': filter?.year == year}">{{ year }}</a>
                </div>
            </span>
            <span class="list-item ml-3" ngbDropdown>
                <a ngbDropdownToggle>
                    {{filter?.month}}
                </a>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem *ngFor="let month of monthList" (click)="changeMonth(month)" [ngClass]="{'active': filter?.month == month}">{{ month }}</a>
                </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <canvas baseChart height="200px" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas baseChart height="200px" [datasets]="lineChartBalanceData" [labels]="lineChartBalanceLabels"
                [options]="lineChartOptions" [colors]="lineChartBalanceColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </div>
    </div>
</div>
<div class="pt-5">
    <div class="card p-3">
        <div class="row">
            <h4 class="col pt-1">Statistics</h4>
            <div class="col-auto">
                <span class="list-item all-sports-types" ngbDropdown  placement="right-bottom" display="static">
                    <a ngbDropdownToggle>
                        {{(barChartFilter?.name) ? barChartFilter?.name : 'All Sports'}}
                    </a>
                    <div ngbDropdownMenu>
                        <a ngbDropdownItem (click)="changeSportTypes('all')" [ngClass]="{'active': (!barChartFilter?._id)}">All Sports</a>
                        <a ngbDropdownItem *ngFor="let sport of sport_types_list" (click)="changeSportTypes(sport)"
                            [ngClass]="{'active': barChartFilter?._id == sport._id}">{{ sport.name }}</a>
                    </div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>
            </div>
        </div>
    </div>
</div>
