@import "var";

:host{
    .list-item{
        cursor: pointer;
        color: $gray_dark;
    }
    .dropdown-item {
        color: $gray_dark;
        &:hover{
            cursor: pointer;
        }
        &.active{
           background: $gray_light
        }
        &:hover {
          background: none;
        }
      }

      .all-sports-types{
        .dropdown-menu{
          left: -30px;
        }
      }
      .dropdown-menu.show{
        left: auto !important;
        right: 0 !important;
        z-index: 9;
      }
}