@import "var";

:host{
    .card{
        margin: 10px 0px;

        .statics-box{
            padding: 10px 10px 10px 20px;
            color: #404447;
            border-bottom: 5px solid #ffffff;
            .h1 {
                @include respond(xl) {
                    font-size: 1.8rem;
                }
            }
            
            @include respond(xl) {
                padding: 8px 10px;
            }
            // h1{
            //   font-size: 2rem;
            //   font-weight: 700;
            // }
            .h1{
                font-size: 28px;
            }
            .icon{
                padding: 5px;
                border-radius: 5px;
                font-size: 1rem;
                color: #ffffff;
                margin-left: 10px;
            }
            &.border-orange{
                border-bottom-color: #ffb461;
            }
            &.border-green{
                border-bottom-color: $success;
                .icon{
                    background: $success;
                }
            }
            &.border-red{
                border-bottom-color: $error;
                .icon{
                    background: $error;
                }
            }
            &.border-blue{
                border-bottom-color: #65a9ff;
            }
            &.border-aqua{
                border-bottom-color: #58deb6;
            }
        }
    }
}
