<div class="row">
    <!-- Column -->
   <!--  <div class="col-md-6 col-lg-6 col-xlg-3">
        <div class="card">
            <div class="statics-box border-orange">
                <h4>Investment</h4>
                <div class="h1 d-flex">{{ statisticsList?.investment | currency }}</div>
                 <span>
                    <a _ngcontent-serverapp-c1="" class="nav-link" routerlink="/marketplace" ng-reflect-router-link="/marketplace"
                        href="/marketplace">Stake Now</a>
                </span>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <!-- <div class="col-md-6 col-lg-6 col-xlg-3">
        <div class="card">
            <div class="statics-box"
                [ngClass]="{'border-green' : (statisticsList?.amount > 0), 'border-red' : (statisticsList?.amount < 0) ,'border-blue':((statisticsList?.amount == 0))}">
                <h4>Won/Lost</h4>
                <div class="h1 d-flex">{{ statisticsList?.amount | currency }}
                    <span *ngIf="statisticsList?.amount > 0" class="icon icon-arrow-up align-self-center"></span>
                    <span *ngIf="statisticsList?.amount < 0" class="icon icon-arrow-down align-self-center"></span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <div class="col-md-6 col-lg-6 col-xlg-3">
        <div class="card">
            <div class="statics-box border-blue">
                <h4>Available Balance</h4>
                <div class="h1 d-flex">{{ statisticsList?.availbleBalance | currency }}</div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-6 col-xlg-3">
        <div class="card">
            <div class="statics-box border-aqua">
                <h4>Total Withdraw</h4>
                <div class="h1 d-flex">{{ statisticsList?.totalWithdraw | currency }}</div>
            </div>
        </div>
    </div>
</div>
<app-chart class="mt-4 d-block"></app-chart>