<div class="card p-md-5 p-2">
    <div class="mb-5">
        <full-calendar 
            #calendar
            [allDaySlot]="false"
            [selectable]="true"
            [selectMirror]="true"
            [selectAllow]="selectAllow"
            [editable]="true"
            [droppable]="true"
            [events]="events"
            [eventOverlap]="false"
            [dropAccept]="isValidDrop"
            defaultView="timeGridWeek"
            [selectOverlap]="selectOverlap"
            [slotEventOverlap]="false"
            [plugins]="calendarPlugins"
            [header] = "{
                    left: 'title',
                    center: '',
                    right: !isMobile ? 'today dayGridMonth timeGridWeek  prev next' : 'dayGridMonth prev next'
                }"
            (dateClick)="dateClick($event)"
            (select)="select($event)"
            (eventDrop)="eventDrop($event)"
            (eventResize)="eventResize($event)"
            (eventClick)="openInfo($event)"
        ></full-calendar>
    </div>
</div>

<ng-template #alertInfo let-modal>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="clearSlectedEvent(); modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div *ngIf="selectedEvent?.extendedProps?.status=='available'">
            <h3>Available</h3>
            <table class="table border">
                <tr>
                    <th>Start Time</th>
                    <td> {{ selectedEvent?.start  | amDateFormat: 'YYYY-MM-DD hh:mm a' }} </td>
                </tr>
                <tr>
                    <th>End Time</th>
                    <td>{{ selectedEvent?.end  | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                </tr>
            </table>
            <div class="buttons">
                <button class="btn  btn-sm btn-danger" (click)="openDeleteConfim()">Delete</button>
                <button class="btn ml-2  btn-sm btn-secondary" type="button"
                    (click)="clearSlectedEvent(); modal.dismiss('Cross click')">Close</button>
            </div>
        </div>
        <div *ngIf="selectedEvent?.extendedProps?.status=='booked'">
            <h3>Booked</h3>
            <table class="table border">
                <tr>
                    <th>Start Time</th>
                    <td> {{ selectedEvent?.start  | amDateFormat: 'YYYY-MM-DD hh:mm a' }} </td>
                </tr>
                <tr>
                    <th>End Time</th>
                    <td>{{ selectedEvent?.end  | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>
                        <span>{{ selectedEvent?.extendedProps?.booking_user?.first_name }} {{ selectedEvent?.extendedProps?.booking_user?.last_name }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>
                        <span>{{ (selectedEvent?.extendedProps?.amount || 0) | currency }}</span>
                    </td>
                </tr>
            </table>
            <div class="buttons">
                <button [routerLink]="['/chat', selectedEvent?.extendedProps?.booking_user._id]" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Send Message</button>
                <button class="btn ml-2  btn-sm btn-secondary" type="button" (click)="clearSlectedEvent(); modal.dismiss('Cross click')">Close</button>
            </div>
           
        </div>
        <http-message type="error" [data]="bookingResponse"></http-message>
    </div>
</ng-template>

<ng-template #deleteModel let-modal>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Confrim</h3>
        <p>Are you sure the you want to delete availability.</p>
        <p>All request for this time has been automatically declined when you delete the availability</p>

        <table class="table border">
            <tr>
                <th>Start Time</th>
                <td> {{ selectedEvent?.start  | amDateFormat: 'YYYY-MM-DD hh:mm a' }} </td>
            </tr>
            <tr>
                <th>End Time</th>
                <td>{{ selectedEvent?.end  | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
            </tr>
        </table>

        <div class="buttons">
            <button class="btn btn-success btn-sm" (click)="deleteEvent()">Yes</button>
            <button class="btn ml-2 btn-secondary btn-sm" type="button" (click)="modal.dismiss('Cross click')">No</button>
        </div>
        <http-message type="error" [data]="bookingResponse"></http-message>
    </div>
</ng-template>