<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div class="logo m-20">
            <img src="assets/images/logos/logo.png">
        </div>
        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

           

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="doLogin()" novalidate>
                <http-message [data]="loginResponse" class="error-msg"></http-message>


                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input appAutofocus matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')" class="m-1 p-3">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="m-3">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
                    <mat-icon matSuffix class="secondary-text" (click)="showPass()">remove_red_eye</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me"> Remember Me </mat-checkbox>
                     <a class="forgot-password" routerLink="/forgot-password"> Forgot Password? </a>
                </div> -->

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>

        </div>

    </div>

</div>