<section id="forget-password" class="light-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Forget Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Lost your password?</h3>
                            <div class="row">
                                <form (ngSubmit)="doForgetPassword()" #forgetPasswordForm="ngForm">
                                    <http-message [type]="'error'" [data]="forgetPasswordError" *ngIf="forgetPasswordError" ></http-message>
                                    <div class="form-group">
                                        <label>Email <span class="required-star">*</span></label>
                                        <input required #email="ngModel" type="email" class="form-control" [(ngModel)]="forgetPassword.email" name="email" placeholder="Enter email">
                                        <control-messages name="Email" [control]="email"></control-messages>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                    <a routerLink="/login" class="registered">Registered Customer?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


