<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row *ngIf="action != 'edit'" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="action == 'edit'" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                <!-- <ng-template ngIf="user.profile_pic">
                    <img class="avatar user-avatar" type="user" [alt]="user?.first_name" [src]="user?.profile_pic" />
                </ng-template> -->
                {{dialogTitle}} <!-- - {{user.first_name}} {{user.last_name}} -->
            </span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form name="form" (ngSubmit)="addUpdateUser(f)" #f="ngForm">
            <http-message [data]="ErrorResponse" class="error-msg"></http-message>
            <div fxLayout="row" fxLayoutAlign="start start">
                <div appearance="outline" fxFlex *ngIf="action != 'edit'">
                    <div class="lable">
                        <mat-label>User Type</mat-label>
                    </div>
                    <app-form-field class="form-group" validation="required" name="user_type"
                        [(ngModel)]="user.user_type">
                        <mat-radio-group appFieldInput name="user_type" [(ngModel)]="user.user_type"
                            aria-label="Select an Gender">
                            <mat-radio-button color="primary" value="admin">Admin</mat-radio-button>
                            <mat-radio-button color="primary" value="player">Shark</mat-radio-button>
                            <mat-radio-button color="primary" value="user">User</mat-radio-button>
                        </mat-radio-group>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="first_name" [(ngModel)]="user.first_name" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input appFieldInput matInput name="first_name" [(ngModel)]="user.first_name">
                        </mat-form-field>
                    </app-form-field>
                </div>
                <div class="pl-4 col">
                    <app-form-field validation="required" name="last_name" [(ngModel)]="user.last_name" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input matInput appFieldInput name="last_name" [(ngModel)]="user.last_name">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group">
                <app-form-field validation="required|email" name="email" [(ngModel)]="user.email">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <input appFieldInput matInput name="email" [(ngModel)]="user.email">
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group" *ngIf="!user._id">
                <app-form-field validation="required" name="password" [(ngModel)]="user.password">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon matSuffix class="secondary-text clickable-icon" (click)="isPassword = !isPassword"
                            *ngIf="!isPassword">vpn_key</mat-icon>
                        <mat-icon matSuffix class="secondary-text clickable-icon" (click)="isPassword = !isPassword"
                            *ngIf="isPassword">remove_red_eye</mat-icon>
                        <input type="password" *ngIf="isPassword" appFieldInput matInput name="password"
                            [(ngModel)]="user.password">
                        <input type="text" *ngIf="!isPassword" appFieldInput matInput name="password"
                            [(ngModel)]="user.password">
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group" *ngIf="user._id">
                <app-form-field name="password" [(ngModel)]="user.password">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon matSuffix class="secondary-text clickable-icon" (click)="isPassword = !isPassword"
                            *ngIf="!isPassword">vpn_key</mat-icon>
                        <mat-icon matSuffix class="secondary-text clickable-icon" (click)="isPassword = !isPassword"
                            *ngIf="isPassword">remove_red_eye</mat-icon>
                        <input type="password" *ngIf="isPassword" appFieldInput matInput name="password"
                            [(ngModel)]="user.password">
                        <input type="text" *ngIf="!isPassword" appFieldInput matInput name="password"
                            [(ngModel)]="user.password">
                    </mat-form-field>
                </app-form-field>
            </div>
            <div class="form-group">
                <app-form-field name="dob" [(ngModel)]="user.dob">
                    <mat-form-field appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                        <input appFieldInput matInput [matDatepicker]="dobDatePicker" (click)="dobDatePicker.open()"
                            name="dob" [(ngModel)]="user.dob" #dob="ngModel" [max]="tomorrow">
                    </mat-form-field>
                    <mat-datepicker #dobDatePicker></mat-datepicker>
                </app-form-field>
            </div>


            <div class="form-group">
                <app-form-field class="form-group" name="gender" [(ngModel)]="user.gender">
                    <div appearance="outline">
                        <div class="lable">
                            <mat-label>Gender</mat-label>
                        </div>
                        <mat-radio-group appFieldInput name="gender" [(ngModel)]="user.gender"
                            aria-label="Select an Gender">
                            <mat-radio-button color="primary" value="male">Male</mat-radio-button>
                            <mat-radio-button color="primary" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </app-form-field>
            </div>

            <div class="form-group" *ngIf="user?.user_type == 'player'">
                <app-form-field name="about" [(ngModel)]="user.about">
                    <mat-form-field appearance="outline">
                        <mat-label>About</mat-label>
                        <textarea matInput appFieldInput name="about" placeholder="About" rows="5"
                            [(ngModel)]="user.about"></textarea>
                    </mat-form-field>
                </app-form-field>
            </div>

            <div class="form-group" *ngIf="user?.user_type == 'player'">
                <app-form-field name="coaching_amount" [(ngModel)]="user.coaching_amount">
                    <mat-form-field appearance="outline">
                        <mat-label>Private coaching rate (USD for 30 Minutes)</mat-label>
                        <mat-icon matSuffix class="secondary-text">attach_money</mat-icon>
                        <input matInput appFieldInput name="coaching_amount" placeholder="Enter Amount"
                            [(ngModel)]="user.coaching_amount">
                    </mat-form-field>
                </app-form-field>
            </div>

            <div class="form-group">
                <app-form-field class="form-group" validation="required" name="status" [(ngModel)]="user.status">
                    <div class="lable">
                        <mat-label>Status</mat-label>
                    </div>
                    <mat-slide-toggle appFieldInput color="primary" class="example-margin" name="status"
                        (change)="user.status = ($event.checked ? 'active' : 'inactive')"
                        [checked]="user.status == 'active'"> 

                        <div *ngIf= "user.status =='active';else other_temp">
                            Active
                        </div>
                        <ng-template #other_temp>
                            Inactive
                        </ng-template>
                    </mat-slide-toggle>
                </app-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div class="buttons">
            <button *ngIf="!loading" mat-stroked-button color="primary" (click)="matDialogRef.close()"> Close </button>
            <button *ngIf="!loading" mat-stroked-button color="accent" (click)="submit(f)"> Save </button>
            <app-loading type="inline" *ngIf="loading"></app-loading>
        </div>
    </div>
</div>