@import "src/@fuse/scss/fuse";

.user-form-dialog {
    .user-avatar {
        vertical-align: middle;
    }
    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }
    .clickable-icon{
        cursor: pointer;
    }

   
}
.error-msg{
    color: red;
    margin-bottom: 20px;
    display: block;
    .col-auto {
        display: inline-block;
    }
    .col {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
}