<div class="section">
    <div class="container">
        <div class="page-title">
            <h1>{{page?.title}}</h1>
        </div>
        <div class="page-content mb-5" [innerHtml]="page?.content">
        </div>
    </div>
</div>