@import 'var';
:host {
  .icon{
        font-size: 25px;
    }
  .text-left{
    @include respond(md){
      font-size: 16px;
    }
  }
  .arrow-button{
    .btn{
      @include respond(md){
        padding: 0px 7px;
      }
    }
  }
  ::ng-deep {
    .card {
      margin-bottom: 15px;
      border-width: 1px;
      box-shadow: none !important;
      border: solid 1px #c9c9c9!important;
      background-color: #ffffff !important;
      border-radius: 5px !important;
      .card-header {
        padding: 16px;
        margin-bottom: -1px;
        background: #f1f1f1;
        color: #000;
        border-radius: 0 !important;
        border-bottom: none !important;
        .btn {
          color: #000;
          &.btn-outline-primary {
            border-color: transparent;
            font-size: 22px;
            line-height: 15px;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
