<div class="section">
    <div class="container">
        <div class="page-title">
            <h1>Faqs</h1>
        </div>
        <div class="page-content mb-5">
            <ngb-accordion #a="ngbAccordion">
                <ngb-panel *ngFor="let faq of faqs; let index = index">
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between" [ngClass]="{show : opened}">
                            <button class="btn  btn-lg btn-clear text-left p-0 m-0"
                                ngbPanelToggle>{{faq?.question}}</button>
                            <div class="pl-md-4 arrow-button">
                                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2"><span
                                        class="dropdown-toggle"></span></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div [innerHtml]="faq?.answer | nl2br"></div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="page-content mb-5">
            <hr class="faq-full-width-divider">
            <h4 class="title4">Still can't find what you're looking for?</h4>
            <div>
                <button class="btn btn-primary" (click)="openModel(openTicketModelContent)">Open
                    Ticket</button>
            </div>
        </div>
    </div>
</div>

<ng-template #openTicketModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="p-5 w-100">
                <h3>Open Ticket</h3>
                <form (ngSubmit)="openTicket(openTicketForm)" #openTicketForm="ngForm">
                    <app-form-field class="form-group" name="subject" [(ngModel)]="supportTicket.subject">
                        <label appFieldLabel>Subject <span class="required-star">*</span></label>
                        <input appFieldInput type="text" class="form-control" placeholder="Subject">
                    </app-form-field>
                    <app-form-field class="form-group" name="message">
                        <label appFieldLabel>Message <span class="required-star">*</span></label>
                        <ckeditor appFieldInput [(ngModel)]="supportTicket.message"
                            [ngModelOptions]="{standalone: true}"></ckeditor>
                    </app-form-field>
                    <app-form-field class="form-group" name="file" (change)="setFile($event)">
                        <label>Attachment </label>

                        <div class="d-block mt-3 mb-3" *ngIf="supportTicket?.file">
                            <div *ngIf="fileType == 'jpg' || fileType == 'png' || fileType == 'jpeg' ; else other_temp">
                                <span class="border d-table p-2">
                                    <img [src]="supportTicket.file" width="150">
                                </span>
                            </div>
                            <ng-template #other_temp>
                                <span class="icon-file-support mr-3"> {{fileName}}</span>
                            </ng-template>
                        </div>

                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" #fileInput (change)="readFile($event)">
                                <label class="custom-file-label"
                                    for="inputGroupFile04">{{ (supportTicket.file) ? fileInput.value.split("\\").pop() : 'Choose file' }}</label>
                            </div>
                        </div>
                    </app-form-field>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" *ngIf="!isLoading">Submit</button>
                            <app-loading type="inline" *ngIf="isLoading"></app-loading>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>