@import 'var';
:host {
  .icon-streaming:before {
        content: "\e91c";
        position: absolute;
        color: #ffb461;
        font-size: 25px;
        z-index: 9;
        left: -30px;
        top: 20px;
    }
  h3{
    .btn-primary{      
      @include respond(sm) {
        width: 100%;
        margin-top: 3px;
      }
    }
  }
.card-body{
  .timer-button {
            min-width: 230px;
            border-radius: 8px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            span{
                font-size: 19px;
                font-weight: 600;
                display: inline-block;
                position: relative;
                min-width: 100px;
                text-align: right;
                padding-right: 13px;
            }
              countdown-time{
                float: right;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #50A9A4;
                    top: 0;
                    left: -5px;
                }
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            flex-shrink: 0;
              margin: 0 7px !important;
          button{min-width:84px; }

        }

        .shark-box{
          .past_timer_btn {
              padding: 0 10px !important;
              width: 230px;
              display: block;
              text-align: center;
             span{
              text-align: center;
              padding-right: 0;;
               &.past_timer{font-size: 13px; text-align: right;}
             }
          }
        }
      }

  .package-expand {
    min-height: 40px;
    min-width: 40px;
    flex-basis: 40px;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    margin-bottom: 0;
    @include respond(md) {
      display: inline-block;
      vertical-align: middle;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 6px;
      height: 6px;
      border-right: 2px solid #000;
      border-top: 2px solid #000;
      opacity: 0.1;
      transition: all 0.15s ease-in-out;
    }
    &::before {
      top: calc(50% - 4px);
      transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    }
    &::after {
      top: calc(50% + 4px);
      transform: translateX(-50%) translateY(-50%) rotateZ(135deg);
    }
  }

  .shark-box-card {
    border: none;
    @include respond(md) {
        display: block !important;
        margin-top: 60px;
    }
    .card {
      margin-top: 25px;
      margin-bottom: 20px;
      
    }
    .title {
      flex-shrink: 0;
      width: 20%;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include respond(md) {
          display: block;
          width: 100%;
      }
    }
    .timer-button {
     // min-width: 200px;
      @include respond(md) {
        margin-top: 10px;
      }
    }
    .user-info {
      display: flex;
      .avatar-continer {
        flex-shrink: 0;
        margin-right: 20px;
        margin-top: -40px;
        border-radius: 40px;
        box-shadow: 2.4px 3.2px 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 2px #ffffff;
        background-color: #e3e3e3;
        img {
          width: 58px;
          object-fit: contain;
        }
      }
      .user-name {
        flex-shrink: 1;
      }
    }
    .btn {
      flex-shrink: 0;
    }
    .shark-box {
      display: flex;
      background-color: #f7f7f7;
      align-items: center;
      @include respond(md) {
          display: block !important;
      }
      .buy {
        display: flex;
        align-items: center;
        width: 100%;
      }
      .buttons {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        @include respond(md) {
            display: inline-block;
        }
      }
      .actions{
        @include respond(md) {
            display: inline-block;
        }  
      }
      .ml-1{
        @include respond(md) {
            display: inline-block;
        }  
      }
    }
    .form-control {
      background: transparent;
      border: none;
      outline: none !important;
      box-shadow: none !important;
    }

    .progress-container {
      // background-image: linear-gradient(to left, #04194c, #A9D213 50%, #9dd611);
      background-image: linear-gradient(to left, #04194c, #0BB5FF 50%, #0BB5FF);
      display: table;
      width: 100%;
      .prodress-bar {
        height: 5px;
        float: right;
        background-color: #d9d9d9;
      }
    }
  }
.stakes-list{
  @include respond(md) {
    overflow-x: scroll;
    margin-bottom: 0 !important;
    .table{
      width: 600px;
      margin-bottom: 0 !important;
    }
  }
}
 .stake-btn{
  @include respond(sm) {
    margin-top: 3px;
  }
} 
.card-body{
        padding: 0;
      }
}
::ng-deep {
  .closing-time{
    input[type="text"] {
        pointer-events:none;
    }
  }
}
img {
  width: 38px !important;
  height: 38px !important;
  -o-object-fit: cover;
  object-fit: cover;
}
.open-stack-data{
  border: 1px solid #dad8d8;
  border-top: none;
}
