<div class="card p-5 mb-5">
    <div class="mb-5">
        <h3>Upcoming Staked Contests <button class="btn btn-primary float-right" (click)="openAddEditStakeModel(addEditStakeModelContent)">Add Stake</button></h3>
        <div *ngIf="listStack?.length">
            
            <div class="shark-box-card card" *ngFor="let data of listStack">
                <a [href]="data?.stream_url" target="_blank" *ngIf="data?.is_streaming">
                    <span class="icon icon-streaming"></span>
                </a>
                <div class="card-body">
                    <div class="shark-box p-2">
                        <label class="package-expand" (click)="data.is_show = !data.is_show"></label>
                        <span class="title pr-3">{{data?.title}}</span>
                        <button disabled class="btn timer-button btn-sm btn-primary"><span> {{(data?.total_staked_amount || 0) | currency }} </span> <br>
                            <!-- <countdown-timer *ngIf="isBrowser" [end]="data?.closing_time"></countdown-timer> -->
                            <countdown-time *ngIf="isBrowser" [inputDate]="data?.closing_time">Loading...</countdown-time>
                        </button>
                        <div class="buttons">
                            <button class="btn m-1 btn-sm btn-secondary">{{( (data?.total_staked_amount - data?.sold_total) | currency)}} <br>LEFT</button>
                        </div>

                        <div class="ml-auto actions">
                            <div class="mb-0 ml-auto mr-4" *ngIf="!(data?.total_staked_amount - data?.sold_total)">
                                <h3 class="mb-0">SOLD OUT</h3>
                            </div>
                        </div>

                        <div class="ml-auto actions" *ngIf="data?.status=='inactive'">
                            <!-- <button class="btn m-1 btn-primary text-capitalize"></button> -->
                            <h3 class="mb-0 ml-auto mr-4">
                                {{ data?.status.replace('_', ' ') | titlecase}}
                            </h3>
                        </div>

                        <div class="ml-auto actions" *ngIf="!data?.stack_users?.length">
                            <button class="btn btn-primary stake-btn" (click)="openAddEditStakeModel(addEditStakeModelContent,data)">Edit</button>
                        </div>
                        <div class="ml-1" *ngIf="!data?.stack_users?.length">
                            <button class="btn btn-primary stake-btn" (click)="openDeleteStakeModel(deleteStakeModelContent,data)">Delete</button>
                        </div>
                    </div>
                    <div class="progress-container">
                        <span class="prodress-bar" [ngStyle]="{width: getProgress(data)}"></span>
                    </div>
                    <div class="open-stack-data p-3" [hidden]="!data.is_show">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="mb-1">{{data?.title}}</h5>
                                <div class="description mb-3">{{data?.description}}</div>
                                <h5 class="mb-1" *ngIf="data?.sport_type">Sport Type</h5>
                                <div class="description mb-3" *ngIf="data?.sport_type">{{data?.sport_type?.name}}</div>
                                <h5 class="mb-1">Stakes</h5>
                                <div class="stakes-list mb-3" *ngIf="data?.stack_users?.length; else noStakeYet">
                                    <table class="table">
                                        <tr>
                                            <td></td>
                                            <th>User</th>
                                            <th>Amount</th>
                                            <th>Date / Time</th>
                                        </tr>
                                        <tr *ngFor="let stack of data?.stack_users">
                                            <td><img class="avatar" width="36" src="{{ stack?.user?.profile_pic }}" type="user"></td>
                                            <td>{{ stack?.user?.first_name }} {{ stack?.user?.last_name }}</td>
                                            <td>{{ (stack?.staked_amount || 0) | currency }}</td>
                                            <td>{{ stack?.created_at | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <ng-template #noStakeYet>
                                    <div class="stakes-list mb-3">No stakes yet.</div>
                                </ng-template>
                            </div>
                            <!-- <div class="col-sm-4">
                                <h5 class="mb-1">Tournaments</h5>
                                <div class="tournaments" [innerHtml]="stack?.tournaments"> </div>
                            </div> -->
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="load-more-container text-center mt-2" *ngIf="listStackLoadMore && !listStackLoading">
                <button class="btn btn-primary" (click)="onLoadMoreListStack()">Load More</button>
            </div>
        </div>
        <div *ngIf="!listStack?.length">
            <h4>There is no upcoming Staked contests.</h4>
        </div>
    </div>
    <div class="past-contests">
        <h3>Past Staked Contests </h3>
        <div *ngIf="listPastStack?.length">
            <div class="shark-box-card card" *ngFor="let data of listPastStack">
                <div class="card-body">
                    <div class="shark-box p-2">
                        <label class="package-expand" (click)="data.is_show = !data.is_show"></label>
                        <span class="title pr-3">{{data?.title}}</span>
                        <button disabled class="btn timer-button past_timer_btn btn-sm btn-primary">
                            <span>{{(data?.total_staked_amount || 0) | currency }}</span> 
                            <span class="past_timer">{{ data?.closing_time | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</span>
                        </button>
                        <!--  <button class="btn btn-sm btn-primary timer-button">
                            {{(data?.total_staked_amount || 0) | currency }} | {{ data?.closing_time | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}
                        </button> -->
                        <div class="buttons" *ngIf="data?.status == 'won'">
                            <button class="btn m-1 btn-sm btn-primary">
                                Winning Amount : {{ (data?.total_won_amount || 0) | currency }}
                            </button>
                        </div>
                        <div class="buttons" *ngIf="data?.status == 'loss'">
                            <button class="btn m-1 btn-sm btn-primary">
                                Loss Amount : {{ (data?.total_won_amount || 0) | currency }}
                            </button>
                        </div>
                        <div class="ml-auto actions">
                            <!-- <button class="btn m-1 btn-primary text-capitalize"></button> -->
                            <h3 class="mb-0 ml-auto mr-4">
                                {{ data?.status.replace('_', ' ') | titlecase }}    
                            </h3>
                        </div>
                    </div>
    
                    <div class="progress-container">
                        <span class="prodress-bar" [ngStyle]="{width: getProgress(data)}"></span>
                    </div>
    
                    <div class="open-stack-data p-3" [hidden]="!data?.is_show">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="mb-1">{{data?.title}}</h5>
                                <div class="description mb-3">{{data?.description}}</div>
                                <h5 class="mb-1" *ngIf="data?.sport_type">Sport Type</h5>
                                <div class="description mb-3" *ngIf="data?.sport_type">{{data?.sport_type?.name}}</div>
                                <h5 class="mb-1">Stakes</h5>
                                <div class="stakes-list mb-3" *ngIf="data?.stack_users?.length; else noStakeYet">
                                    <table class="table">
                                        <tr>
                                            <th>User</th>
                                            <th>Amount</th>
                                            <th *ngIf="data?.status == 'loss' || data?.status == 'won'">
                                                <div *ngIf="data?.status == 'won'">Winning Amount</div>
                                                <div *ngIf="data?.status == 'loss'">Loss Amount</div>
                                            </th>
                                            <th>Date / Time</th>
                                        </tr>
                                        <tr *ngFor="let stack of data?.stack_users">
                                            <td>{{ stack?.user?.first_name }} {{ stack?.user?.last_name }}</td>
                                            <td>{{ (stack?.staked_amount || 0) | currency }}</td>
                                            <td *ngIf="data?.status == 'loss' || data?.status == 'won'">{{ (stack?.won_amount || 0) | currency }}</td>
                                            <td>{{ stack?.created_at | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <ng-template #noStakeYet>
                                    <div class="stakes-list mb-3">No stakes yet.</div>
                                </ng-template>
    
                            </div>
                            <!-- <div class="col-sm-4">
                                <h5 class="mb-1">Tournaments</h5>
                                <div class="tournaments" [innerHtml]="stack?.tournaments"> </div>
                            </div> -->
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
        <div *ngIf="!listPastStack?.length">
            <h4>There is no past Staked contests.</h4>
        </div>
    </div>
</div>
<ng-template #deleteStakeModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 w-100">
                Are you sure you want to delete?
                <div class="pt-2">
                    <button type="button" (click)="deleteStack()" class="btn m-1 btn-sm btn-primary">Delete</button>
                    <button type="button" (click)="modal.dismiss('Cross click')" class="btn m-1 btn-sm btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addEditStakeModelContent let-modal>
    <div class="modal-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-sm-12 p-5 w-100">
                <h3>{{ (addStack?._id != undefined) ? 'Edit Stake' : 'Add Stake' }}</h3>
                <form (ngSubmit)="doAddEditStake(updateProfileForm)" #updateProfileForm="ngForm">
                    <http-message [data]="stackHttpResponse"></http-message>
                    <div class="row">
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|max:50" name="title" [(ngModel)]="addStack.title">
                                <label appFieldLabel>Title <span class="required-star">*</span></label>
                                <input appFieldInput type="text" class="form-control" placeholder="Title">
                            </app-form-field>
                        </div>
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required" name="description" [(ngModel)]="addStack.description">
                                <label appFieldLabel>Description <span class="required-star">*</span></label>
                                <textarea appFieldInput class="form-control" placeholder="Description"></textarea>
                            </app-form-field>
                        </div>
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required" name="date">
                                <label appFieldLabel>Closing Date <span class="required-star">*</span></label>
                                <input appFieldInput class="form-control" placeholder="YYYY-MM-DD" name="dp" ngbDatepicker #d="ngbDatepicker" [minDate]="cloasingMaxDate" (click)="d.toggle()" [(ngModel)]="addStack.date" readonly>
                            </app-form-field>
                        </div>
                        <!-- <div class="col-sm-12" *ngIf="!addStack?._id; else other_ngb_timepicker"> -->
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required" name="time">
                                <label appFieldLabel>Closing Time <span class="required-star">*</span></label>
                                <ngb-timepicker class="closing-time" appFieldInput [(ngModel)]="addStack.time" [minuteStep]="1" [meridian]="true" name="time"></ngb-timepicker>
                            </app-form-field>
                        </div>
                        <!-- <ng-template #other_ngb_timepicker>
                            <div class="col-sm-12">
                                <label>Closing Time =>
                                    <span *ngIf="addStack.time.hour >= 12; else other_hour_temp">{{addStack.time.hour - 12 }}</span> <ng-template #other_hour_temp> {{addStack.time.hour}}</ng-template>:{{addStack.time.minute}}
                                    <span *ngIf="addStack.time.hour >= 12; else other_temp"> PM </span> <ng-template #other_temp> AM </ng-template> </label>
                            </div>
                        </ng-template> -->
                       
                        <div class="col-sm-12">
                            <app-form-field class="form-group" name="sport_type" [(ngModel)]="addStack.sport_type_id" validation="required">
                                <label appFieldLabel>Sport Type <span class="required-star">*</span></label>
                                <select appFieldInput name="sport_type" class="form-control" >
                                    <option [value]="null" [disabled]="true" >Select Sport Type</option>
                                    <option *ngFor="let sport_type of sport_types" [value]="sport_type._id">{{sport_type?.name}}</option>
                                </select>
                            </app-form-field>
                        </div>
                        
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|number" name="game_amount" [(ngModel)]="addStack.game_amount" (input)="changePercentage($event.target.value)">
                                <label appFieldLabel>Staking Amount <span class="required-star">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input appFieldInput type="number" class="form-control" placeholder="Total Staking Amount" [disabled]="(addStack?._id != undefined) ? true : false">
                                </div>
                            </app-form-field>
                        </div>
                       <!--  <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|number" name="shark_amount" [(ngModel)]="shark_amount">
                                <label appFieldLabel>Amount you have <span class="required-star">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input appFieldInput type="number" class="form-control" placeholder="Amount you have"
                                        [disabled]="(addStack?._id != undefined) ? true : false">
                                </div>
                                <div class="decription" *ngIf="addStack?.sold_percentage > 0">Stake to be sold: {{addStack?.sold_percentage}}%
                                </div>
                            </app-form-field>
                        </div> -->
                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|number" name="sold_percentage" [(ngModel)]="sold_percentage">
                                <label appFieldLabel>Percentage being Purchased <span class="required-star">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">%</span>
                                    </div>
                                    <input appFieldInput type="number" class="form-control" placeholder="Amount you have"
                                        [disabled]="(addStack?._id != undefined) ? true : false">
                                </div>
                                <!-- <div class="decription" *ngIf="addStack?.shark_amount > 0">Stake Amount: {{addStack?.shark_amount}}
                                </div> -->
                            </app-form-field>
                        </div>

                        <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|number" name="markup_amount"
                                [(ngModel)]="addStack.markup_amount">
                                <label appFieldLabel>Markup Amount <span class="required-star">*</span></label>
                                <div class="input-group">
                                    <input appFieldInput type="number" class="form-control" placeholder="Markup Amount">
                                </div>
                            </app-form-field>
                        </div>
                        <!-- <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required|number" name="shark_amount" [(ngModel)]="shark_amount">
                                <label appFieldLabel>Amount you have <span class="required-star">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input appFieldInput type="number" class="form-control" placeholder="Amount you have" [disabled]="(addStack?._id != undefined) ? true : false">
                                </div>
                                <div class="decription" *ngIf="addStack?.sold_percentage > 0">Stake to be sold: {{addStack?.sold_percentage}}%</div>
                            </app-form-field>
                        </div> -->

                        <!-- <div class="col-sm-12">
                            <app-form-field class="form-group" validation="required" name="sold_percentage" [(ngModel)]="addStack.sold_percentage">
                                <label appFieldLabel>Sold Percentage <span class="required-star">*</span></label>
                                <input appFieldInput type="text" class="form-control" placeholder="Sold Percentage">
                            </app-form-field>
                        </div> -->
                        <div class="col-sm-12">
                            <app-form-field class="form-group" name="is_streaming" [(ngModel)]="addStack.is_streaming">
                                <label appFieldLabel>Start streaming</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitches"  [checked]="addStack.is_streaming == true" (change)="addStack.is_streaming=!addStack.is_streaming">
                                    <label class="custom-control-label" for="customSwitches"></label>
                                </div>
                                <!-- <div _ngcontent-serverapp-c5="" *ngIf="is_streaming_error" class="invalid-feedback  d-block">Is streaming is required.</div> -->
                            </app-form-field>
                        </div>
                        <!-- <div class="col-sm-12">
                            <app-form-field class="form-group" name="stream_type" [(ngModel)]="addStack.stream_type">
                                <label appFieldLabel>Stream Type </label>
                                <input appFieldInput type="text" class="form-control" placeholder="Stream Type">
                            </app-form-field>
                        </div> -->
                        <div class="col-sm-12" *ngIf="addStack.is_streaming == true">
                            <app-form-field class="form-group" validation="required|url" name="stream_url" [(ngModel)]="addStack.stream_url">
                                <label appFieldLabel>Stream URL </label>
                                <input appFieldInput type="text" class="form-control" placeholder="Stream URL">
                            </app-form-field>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>