// Import Fuse core library
@import "@fuse/scss/core";
@import "./styles/toasty.css";
// Import app.theme.scss
@import "app/app.theme";
@import "styles/calander";

.form-group {
  margin-bottom: 20px;
  .mat-radio-button {
    margin-right: 20px;
  }
}
mat-form-field {
  width: 100%;
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.fix-left {
  //right: 0;
  //left: auto;
  //position: fixed !important;
  //top: 0;
  //bottom: 0;
  width: 90%;
  max-width: 600px !important;

  .dialog-content-wrapper {
    height: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .mat-dialog-content {
    max-height: none;
    max-height: none;
    flex-grow: 1;
    height: 100%;
  }
}

.buttons {
  button {
    margin-left: 5px;
  }
}

.header {
    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        @include mat-elevation(1);

        .search {
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;

            input {
                width: 100%;
                height: 48px;
                min-height: 48px;
                max-height: 48px;
                padding: 0 16px;
                border: none;
                outline: none;
            }
        }
    }
}
.content {
    overflow: hidden;
}

.list-container {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    ::ng-deep {
        .mat-table {
            width: 100%;
            background: transparent;
            box-shadow: none;

            .mat-column-checkbox {
                flex: 0 1 64px;
                padding-left: 18px;
            }

            .mat-column-avatar {
                flex: 0 1 64px;
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .mat-row {
                position: relative;
                cursor: pointer;
                padding: 8px;

                .mat-cell {
                    min-width: 0;

                    &.mat-column-detail-button {
                        flex: 0 1 auto;
                        padding: 0 24px 0 0;

                        @include media-breakpoint("gt-md") {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.mat-fab {
  &.fix {
    position: absolute;
    padding: 0;
    z-index: 99;
  }
  &.bottom {
    bottom: 12px;
  }
  &.right {
    right: 12px;
  }
  &.top {
    top: 12px;
  }
  &.left {
    left: 12px;
  }
}

.col {
  width: 100%;
}
.header .search-wrapper{
  background: #fff;
  color: #333;
}
.mat-form-field-label{
  line-height: normal !important;
}
