<div class="dark-section banner">
    <div class="container">
        <div class="banner-content">
            <h1>Dr. Roto’s Corner</h1>
            <div class="buttons">
                <a class="btn btn-primary mr-1" routerLink="/tutorials"> View Tutorial </a>
                <a class="btn btn-primary" routerLink="/marketplace"> Stake Now </a>
            </div>
        </div>
    </div>
</div>

<section id="about-us" class="light-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-5">
                    <h2 class="mb-5">Contest Closing Soon</h2>
                    <div *ngIf="listStack?.length">
                        <div *ngFor="let list of listStack">
                            <app-shark-item [user]="list"></app-shark-item>
                        </div>
                    </div>
                    <div *ngIf="!listStack?.length">
                       <h4 style="text-align:center">There is no content.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
