@import 'var';
:host{
    .banner{
        background-image: url('#{$imagePath}/home-banner.jpg');
        background-size: cover;
    }
    .banner-content{
        margin-top: 300px;
        @include respond(md) {
            margin-top: 0px;
        }
    }
    .home-salons-bg{
        background-size: cover;
    }
    .container-fluid {
       /*  padding-right: 60px;
        padding-left: 80px; */
        @include respond(lg){
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}