@import "src/@fuse/scss/fuse";
    .selected-bar {
        flex: 1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 120px;
        z-index: 99;
    }
    .post-form-dialog{
        .mat-dialog-container{
            padding: 0px !important;
        }
    }
     mat-card{
            width: 23%;
            margin: 1%;
            text-align: center;
            &.general-card{
                width: 18%;
            }
            .light-blue-fg {
                color: #03a9f4!important;
            }
            .red-fg {
                color: #f44336!important;
            }
            .orange-fg {
                color: #ff9800!important;
            }
            .blue-grey-fg {
                color: #607d8b!important;
            }
            .pink-fg{
                color: #EC0C8E!important;
            }
        }
    // .mat-dialog-container{
    //     padding: 0px !important;
    // }