<div id="posts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"> list_alt
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Stakes </span>
            </div>
        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="dataSource">
                        <column field="title" header="Title" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{ row?.title | truncate:20 }}
                            </ng-template>
                        </column>
                        <column field="user_id" header="User" column="user.name" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <a target="_blank" title="{{row?.user?.first_name}} {{row?.user?.last_name }}"
                                    matTooltip="{{row?.user?.first_name}} {{row?.user?.last_name }}" [routerLink]="['/users', row?.user_id]">
                                    {{row?.user?.first_name }} {{row?.user?.last_name }}
                                </a>
                            </ng-template>
                        </column>
                        <column field="total_staked_amount" header="Stake Amount" [sortable]="true" [searchable]="true" >
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{(row?.total_staked_amount || 0) | currency}}
                            </ng-template>
                        </column>
                        <column field="sold_percentage" header="Sold Percentage" [sortable]="true" [searchable]="true" >
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{ (row?.sold_percentage || 0) + "%" }}
                            </ng-template>
                        </column>
                        <column field="sold_total" header="Sold Total" [sortable]="true" [searchable]="true" >
                            <ng-template let-row="rowData" dtTemplate="body">
                                {{(row?.sold_total || 0) | currency}}
                            </ng-template>
                        </column>
                        <column field="status" header="Status" [sortable]="true" [searchable]="true">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <span class="text-capitalize" *ngIf="row?.status">{{row?.status.replace('_', ' ')}}</span>
                                <span class="text-capitalize" *ngIf="!row?.status">-</span>
                            </ng-template>
                        </column>
                        <column field="closing_time" header="Closing Date/Time" [searchable]="false">
                            <ng-template let-col let-row="rowData" let-i="rowIndex" dtTemplate="body">
                                {{row?.closing_time | date:"yyyy-MM-dd hh:mm a"}}
                            </ng-template>
                        </column>
                        
                        <column header="Action" [sortable]="false" [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item matTooltip="View Details" type="button"
                                        [routerLink]="['/stake', row?._id]">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        <span>View Details</span>
                                    </button>
                                    <button mat-menu-item  *ngIf="!row?.paid_to_player && (row?.status != 'refunded')" dialog-confirm message="Are you sure that you want to paid to shark?" (confirm)="paidPlayerData(row?._id)">
                                        <mat-icon>how_to_vote</mat-icon>
                                        <span>Paid to Shark</span>
                                    </button>
                                    <button mat-menu-item *ngIf="!row?.paid_to_player && (row?.status != 'refunded')" (click)="openRefundModel(row?._id)">
                                        <mat-icon>reply</mat-icon>
                                        <span>Refund to Users</span>
                                    </button>
                                    <button *ngIf="!row?.stack_users?.length  && (row?.status != 'refunded')" mat-menu-item type="button" (click)="editPost(row)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button *ngIf="!row?.stack_users?.length  && (row?.status != 'refunded')" mat-menu-item dialog-confirm message="Are you sure that you want to delete post?" (confirm)="deletePost(row?._id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                    <button *ngIf="row?.status == 'pending_result'" mat-menu-item type="button" (click)="openModel(row)" >
                                        <mat-icon>assessment</mat-icon>
                                        <span>Result Declare</span>
                                    </button>
                                </mat-menu>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-fab class="accent fix bottom right" (click)="newPost()" aria-label="add user"
    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>add</mat-icon>
</button>
<ng-template #resultDeclarePostDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Result Declare</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form name="form" (ngSubmit)="resultDeclareData(data)" #f="ngForm">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field validation="required" name="winning_total_amount" [(ngModel)]="data.winning_total_amount" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Amount</mat-label>
                                <input appFieldInput matInput type="number" name="winning_total_amount" [(ngModel)]="data.winning_total_amount">
                            </mat-form-field>
                        </app-form-field>
                    </div>
                </div>
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                    <div class="buttons">
                        <button mat-stroked-button color="primary" (click)="_matDialog.closeAll()" type="button"> Close </button>
                        <button mat-stroked-button color="accent" [disabled] ="!data.winning_total_amount"> Calculate Result </button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</ng-template>

<ng-template #refundPostDialog let-data>
    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Reason For Refund Amount</span>
                <button mat-icon-button (click)="_matDialog.closeAll()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form name="form" (ngSubmit)="paidUserData(data)" #f="ngForm">
                <input type="hidden" name="user_id" [(ngModel)]="data.user_id">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                    <div class="pr-4 col">
                        <app-form-field validation="required" name="reason" [(ngModel)]="data.reason" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Reason</mat-label>
                                <input appFieldInput matInput name="reason"
                                    [(ngModel)]="data.reason">
                            </mat-form-field>
                        </app-form-field>
                    </div>
                </div>
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                    <div class="buttons">
                        <button mat-stroked-button color="primary" (click)="_matDialog.closeAll()" type="button"> Close
                        </button>
                        <button mat-stroked-button color="accent"> Confirm  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>