/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import "./assets/font/icomoon/style.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// $theme-colors: (
//     "secondary": #35aaac,
//     "primary": #04194c
// );
/* finally, import Bootstrap */
@import "~bootstrap/scss/bootstrap";
@import "styles/calander";
@import "styles/toster";
@import "var";

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

body,
html {
  --font-size: 14px;
  --color: #{$gray};
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  font-family: Poppins, sans-serif;
  color: $gray;
  background: #f2f2f2;
  // @include respond(dsk){
  //   --font-size: 12px;
  //    font-size: 12px;
  // }
}


.table {
  th {
    font-weight: 500;
    color: $gray_dark;
    text-transform: uppercase;
    line-height: 2.86;
    letter-spacing: 1.05px;
    min-width: 160px;
   }
  td {
    font-weight: normal;
    color: $gray;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
  }
}
p,
ul {
  font-size: px2em(14px);
}
strong{
  font-weight: 500;
}
.container-fluid {
   padding-right: 60px;
   padding-left: 80px;
  @include respond(md) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.7s;
  &.active,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &.no-hover {
    &::after {
      display: none;
    }
  }
}
.h1,
h1 {
  @extend .heading;
  font-size: px2em(32px);
  line-height: 1.25;
  //color: var(--color-heading, $primary_color);
  margin-bottom: 20px;
  @include respond(dsk) {
    font-size: px2em(32px);
  }
}

.h2,
h2 {
  @extend .heading;
  font-size: px2em(26px);
  line-height: 1.58;
  //@includecolor: var(--color-heading, $primary_color);
  margin-bottom: 20px;
  position: relative;
  @include respond(dsk) {
    font-size: px2em(22px);
  }
}

.h3,
h3 {
  @extend .heading;
  font-size: px2em(22px);
  line-height: 1.73;
  //color: var(--color-heading, $primary_color);
  margin-bottom: 20px;
  @include respond(dsk) {
    font-size: px2em(18px);
  }
}

.h4,
h4 {
  @extend .heading;
  font-size: px2em(16px);
  line-height: 1.5;
  //color: var(--color-heading, $primary_color);
  margin-bottom: 20px;
  @include respond(dsk) {
    font-size: px2em(16px);
  }
}

.h5,
h5 {
  @extend .heading;
  font-size: px2em(14px);
  line-height: 1.5;
  //color: var(--color-heading, $primary_color);
  margin-bottom: 20px;
  @include respond(dsk) {
    font-size: px2em(12px);
  }
}
.btn {
  border-radius: 0;
  font-weight: normal;
  padding: 10px 28px;
  border-radius: 5px;
  outline: none !important;
  &:focus,
  &.focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &.btn-link {
    padding: 0;
    background: transparent !important;
    border: none;
    cursor: pointer;
  }
  &.btn-sm {
    padding: 3px 16px;
  }
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
  box-shadow: none;
  color: inherit;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
}
.form-control[readonly] {
  background: #fff;
}

.card {
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: none;
}

.avatar {
  border-radius: 100px;
  overflow: hidden;
  display: block;
}
.text-light {
  --color-heading: #fff;
  --color: #fff;
}
.text-dark {
  --color-heading: #{$gray_dark};
  --color: #{$gray};
}

.dark-section {
  @extend .text-light;
  padding: 150px 0;
  background-image: linear-gradient(220deg, #121315, #242424);
  .no-overlap {
    padding: 125px 0;
  }

  .btn.btn-primary {
    background: $primary_text;
    color: $primary;
    border: none;
  }
}

.light-section {
  @extend .text-dark;
  position: relative;
  background-repeat: repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 50px;
  @include respond(xl){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include respond(md){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  hr {
    border-top: 1px solid #efefef;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.product-item-card {
  background: #fff;
  .image {
    img {
      min-height: 220px;
      width: 100%;
      object-fit: cover;
    }
  }
  .info {
    padding: 30px 40px;
  }
}

button:disabled{
  background: $primary_color;
}
.app-button {
  padding: 12px 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.08px;
  border: 2px solid $accent;
  line-height: 1.09;
  transition: all 0.7s;
  vertical-align: middle;
  .icon {
    font-size: 34px;
    margin-right: 16px;
  }
  strong {
    line-height: 1.09;
    letter-spacing: 0.11px;
    // font-family: OpenSans;
    font-size: 22px;
  }
  &:hover {
    background: #fff;
    color: $primary;
    border-color: $primary_text;
  }
}

.form-control {
  border-radius: 0;
}
.required-star {
  color: #ff0000;
  font-size: 17px;
  font-weight: bold;
}

.dropdown-toggle {
  &::after {
    content: "\e907";
    border: none;
    font-family: $font_icomoon;
    vertical-align: middle;
    transition: all 0.5s;
  }
}
.show {
  .dropdown-toggle {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @include respond(md) {
    min-height: calc(100vh - 20px);
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}
.modal-content {
  border-radius: 5px;
  overflow: hidden;
  .close {
    font-size: 40px;
    font-weight: normal;
    color: #000;
    opacity: 1;
    right: 15px;
    position: absolute;
    top: 5px;
    z-index: 9;
    outline: none !important;
  }
}

.user-avatar {
  img {
    object-fit: cover;
    border-radius: 200px;
    padding: 2px;
    border: 1px solid #efefef;
    overflow: hidden;
  }
  &.md {
    img {
      width: 150px;
      height: 150px;
    }
  }
}
.read-more-link {
  .less {
    display: inherit;
    background: rgb(53, 170, 172);
    color: white;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
  }
  .more {
    display: inherit;
    background: rgb(53, 170, 172);
    color: white;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.avatar-continer {
  overflow: hidden;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%); /* Standard syntax */
  width: 70px;
  height: 70px;
  > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

.nav-tabs {
  border-bottom: none;
  .nav-item {
    margin-bottom: 0;
    color: $gray_dark;
    .nav-link{
      border: none;
      border-radius: 0;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 1.2px;
    }
  }
}
.tab-content {
  background: #fff;
  padding: 30px;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}
.pull-right{
  float: right;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.btn:hover {
    opacity: .8 !important;
}
a:hover{
  opacity: .8 !important;
}



// 15-02-2020
// .header-right ul {
//     float: right;
// }
.header-right:after{
  content: '';
  display: block;
  clear: both;
}
// .header-right .first-ul{
//   margin-top: 10px;
// }
.header-container{
  display: flex;
    width: 100%;
    nav{
      justify-content: space-between;
      display: flex;
      width: 100%;
    }
}
.collapse.navbar-collapse{
  display: none !important;
}

.shark-box .timer-button{
    // min-width: 140px !important;
    text-align: center;
    padding-right: 25px;
}
countdown-time .seconds{
  bottom: auto !important;
    right: -14px !important;
    opacity: 0.9 !important;
    font-size: 0.9rem !important;
    position: absolute !important;
    top: -8px !important;
}
.timer {
    position: relative;
    padding-right: 0 !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 !important;
}
a.fc-time-grid-event.fc-event.fc-start.fc-end {
    line-height: 20px;
    display: block;
}
.fc-event, .fc-event-dot{
  padding: 0px 5px;
}
.user-head{
  float: right;
}

.header-right {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;

}
.container{
  max-width: 1200px;
}
@media only screen and (max-width: 1231px){
  .main-footer{
    .footer-menu{
      li{
        padding-left: 15px !important;
      }
    }
    .down-md{
      max-width: 70%;
    flex: inherit;
    margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 1199px){
  .nav-item-devider{
    margin-left: 10px !important ;
    margin-right: 10px !important;
  }
  .navbar-nav .nav-item{
    padding-right: 0 !important;
  }
  .shark-box .buy-title{
    width: 302px !important;
  }
 

    
  .header-right .user-head{
    width: auto;
    flex-direction: row;
    text-align: right;
    float: none;
   
    .nav-item-devider{
      display: none;
    }
    li{
      margin-right: 8px;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 1075px){
  .header-right{

    .first-ul{
      display: block;
      float: left;
      width: 100%;
      li{
        display: inline-block;
      }
      .nav-item-devider{
        display: none;
      }
    }
    #navbarSupportedContent{
      position: absolute;
    top: 0;
    right: 0;
    }
  }
  // .header-container nav{
  //   display: block;
  // }
  .navbar-nav {
    padding-right: 20px;
  }
  .user-head {
    
    position: absolute;
    top: 0;
    right: 0;
}
}

@media only screen and (max-width: 991px){
  header .nav-item-devider{
    margin-left: 12px !important;
    margin-right: 12px !important;
  } 
  .main-header {
    .mr-4, .mx-4{
      margin-right: 0 !important;
    }
    .nav-item{
      padding: 2px 5px !important;
    }
  }

  .user-head {
     margin-top: 10px;
  }
 
}

@media only screen and (max-width: 767px){
 
  // .active-notification .user-head{ margin-right: 65px;}

  .header-right #navbarSupportedContent{
    top: 57px;
    right: 22px;
    position: fixed;
    z-index: 9;
  }
  .header-right{
    margin-top: 0;
  }
  // .user-info.dropdown{display: none;}
  .navbar-toggler{
    width: 44px !important;
    font-size: 22px !important;
    height: 44px !important;
    border-radius: 8px !important;
    right: 30px !important;
    top: 10px !important;
  }
  .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .first-ul{
    padding-right: 0;
    li{
      &:first-child{
        margin-right: 4px !important;
      }
    }
  }
  .dropdown-toggle{
    max-width: 120px;
    &:after{
      margin-left: 8px !important;
    }
  }
  .main-header .nav-item{
    padding: 2px 2px !important;
  }
  ul.navbar-nav.user-head {
    min-height: inherit;
}
.shark-box .buy-title{
    width: 100% !important;
  }
  .shark-box .title{
    width: 100% !important;
  }
  .inactive-menu{
    display: none !important;
  }
  .active-menu{
    display: block !important;
  }
  .navbar-nav .dropdown-menu{
    position: absolute;
  }
}

@media only screen and (max-width: 575px){
  .header-container{
    padding: 0 !important;
  }
  .main-header .navbar{
    padding-right: 15px !important;
  }
  .header-right .user-head{
    margin-top: 10px;
  }
  .navbar-toggler{
    width: 38px !important;
      height: 38px !important;
      right: 15px !important;
      font-size: 20px !important;
  }
  .header-right .user-head li{
    margin-right: 0;
  }
  .navbar-nav{
    padding-right: 15px;
  }
  .header-right #navbarSupportedContent {
    top: 55px;
    right: 15px;
  }
  .first-ul{
    padding-right: 0 !important;
  }
  .main-header .nav-item{
    padding: 2px 1px !important;
  }
}
.user-name a:hover {
  color: #0056b3 !important;
}
.timer-button.btn-primary {
    pointer-events: none;
    padding: 0 20px 0 26px !important;
    min-height: 44px;
}




