<div class="section">
    <div class="container">
        <div class="loading" *ngIf="loading; else notLoading">
            <app-loading></app-loading>
        </div>
        <ng-template #notLoading>
            <div class="page-title">
                <h2 *ngIf="currentUser.user_type=='player'">Follower User ({{this.total}})</h2>
                <h2 *ngIf="currentUser.user_type=='user'">Following Shark ({{this.total}})</h2>
            </div>
            <div class="upcomming-list card p-3">
                <div class="player-item row mb-4" *ngFor="let list of folllow_list;let i=index">
                    <div class="col-auto">
                        <div class="avatar-continer" *ngIf="currentUser?.user_type == 'player'">
                            <img [src]="list?.user?.profile_pic" type="user">
                        </div>
                        <div class="avatar-continer" *ngIf="currentUser?.user_type == 'user'">
                            <img [src]="list?.player?.profile_pic" type="user">
                        </div>
                    </div>
                    <div class="col pl-0">
                        <div class="card pt-3 pl-4 pb-4 pr-4">
                            <div class="row" *ngIf="currentUser?.user_type == 'user'">
                                <div class="col-12 col-sm">
                                    <h4 class="user-name">
                                        <a [routerLink]="['/meet-our-sharks', list?.player?._id]">
                                            {{ list?.player?.first_name }} {{ list?.player?.last_name }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <button (click)="userFollow(list.player_id, i)" [disabled]="isLoading"
                                        class="btn btn-deep-orange">Unfollow</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="currentUser?.user_type == 'player'">
                                <div class="col">
                                    <h4 class="user-name">{{ list?.user?.first_name }}
                                        {{ list?.user?.last_name }}</h4>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-more-container text-center" *ngIf="loadMore && !loading">
                    <button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
                </div>
                <div *ngIf="!folllow_list?.length">
                    <h4 *ngIf="currentUser?.user_type == 'player'">There is no user.</h4>
                    <h4 *ngIf="currentUser?.user_type == 'user'">You aren't following any shark.</h4>
                </div>
            </div>
        </ng-template>
    </div>
</div>