<section class="light-section">
    <div class="container-fluid">
        <div class="card  p-md-3 p-lg-5">
            <div class="messaging">
                <ng-template #noContactFound>
                    <h4 class="text-center">No Contact found</h4>
                </ng-template>
                <div class="chat-box" *ngIf="all_contacts?.length > 0; else noContactFound">
                    <div class="user-list">
                        <div class="toolbar search-bar">
                            <div class="row"> 
                                <div class="col-auto chat-menu-button"  *ngIf="is_mobile && !showContacts" > 
                                    <button class="btn btn-sm btn-outline"(click)="showContacts = true"> <span class="icon icon-left-arrow"></span> </button>
                                </div>
                                <div class="col" *ngIf="!is_mobile || (is_mobile && showContacts)"> 
                                    <input type="text" #search (input)="filterList($event)" class="form-control" placeholder="Search User">
                                </div>
                                <div class="col" *ngIf="is_mobile && !showContacts"> 
                                    <div class="row mobile-message-header ">
                                        <div class="col-auto p-0"> <img class="avartar" [src]="active_contact?.contact?.profile_pic" type="user"> </div>
                                        <h4 class="col m-0 align-self-center">{{active_contact?.contact?.first_name}} {{active_contact?.contact?.last_name}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="user-list-box" *ngIf="!is_mobile || (is_mobile && showContacts)">
                            <div class="user-list-item" *ngIf="contacts?.length == 0">
                                <p>No Contact found for <strong>"{{search?.value}}"</strong></p>
                            </div>
                            <div class="user-list-item" *ngFor="let contact of contacts" [ngClass]="{active : contact?._id == active_contact?._id}" (click)="changeUser(contact); showContacts = false">
                                <div class="user-image"> <img [src]="contact?.contact?.profile_pic" type="user"> </div>
                                <div class="user-info">
                                    <h5>{{contact?.contact?.first_name}} {{contact?.contact?.last_name}}</h5>
                  
                                    <p>{{contact?.last_message?.message}}</p>
                                </div>
                                <div class="unread-count" *ngIf="contact.unread">{{ contact.unread }} </div>
                            </div>
                        </div>
                    </div>

                    <div class="messages"  *ngIf="!is_mobile || (is_mobile && !showContacts)">
                        
                        <div class="message-inner" #container>
                            <div class="message-item in" [ngClass]="{in: !message?.my_message, out: message?.my_message}" *ngFor="let message of active_contact?.messages">
                                <div class="user-image"> <img [src]="(message?.my_message) ? user?.profile_pic  : active_contact?.contact?.profile_pic" type="user" alt="sunil"> </div>
                                <div class="message">
                                    <p>{{message?.message}}</p>
                                    <span class="time" *ngIf="message?.created_at"> {{message?.created_at | amTimeAgo}}</span>
                                </div>
                            </div>
                        </div>
                        <form (ngSubmit)="sendMessage()"  class="send-message-container">
                            <div class="input-control">
                                <input [(ngModel)]="new_message" name="new_message" type="text" class="form-control" placeholder="Type a message"  required/>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-primary btn-send" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>