@import 'var';
:host{

    .chat-menu-button{
        display: none;
        .btn{
            font-size: 20px;
            line-height: 36px;
            width: 44px;
            height: 34px;
            padding: 0;
        }
        @include respond(md) {
            display: block;
        }
    }

    .mobile-message-header{
        .avartar{
            height: 34px;
            width: 34px;
            border-radius: 34px;
            overflow: hidden;
           
        }
    }

    .chat-box{
        height: calc(100vh - 160px - 70px);
        display: flex;
        flex-direction: row;
        border: 1px solid $border;
        @include respond(md) {
            display: block;
            height: auto;
        }
        img {
            max-width: 100%;
            object-fit: cover;
        }
        
        .toolbar {
            padding: 16px;
            border-bottom: 1px solid $border;
            @include respond(md){
                padding: 10px;
            }
        }
        .user-image{
            border-radius: 48px;
            object-fit: cover;
            overflow: hidden;
            img{
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
        }

        .unread-count {
            height: 26px;
            width: 26px;
            text-align: center;
            line-height: 26px;
            border-radius: 30px;
            background: $tertiary;
            color: $tertiary_text;
            flex-shrink: 0;
        }

        .user-list {
            flex-shrink: 0;
            width: 300px;
            overflow: hidden;
            border-right: 1px solid $border;
            display: flex;
            flex-direction: column;
            .user-list-box {
                flex-grow: 1;
                overflow-y: auto;
            }
            .search-bar{
                flex-grow: 0;
            }
            .user-list-item {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                padding: 10px 16px;
                align-items: center;
                &.active{
                    background: $primary;
                    color: $primary_text;
                    h5{
                        color: $primary_text;
                    }
                }
                .user-image{
                    width: 48px;
                    height: 48px;
                    flex-shrink: 0;
                }
                .user-info{
                    width: 100%;
                    margin-left: 15px;
                    flex-shrink: 1;
                    min-width: 0;
                    h5 {
                        margin: 0;
                    }
                    p{
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
            
            @include respond(md) {
                width: 100% ;
            }
        }
        
        .messages{
            flex-shrink: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            .message{
                width: 100%;
                p {                
                    @include respond(md) {
                        max-width: 100% !important;
                    }
                }
            }
            .user-image{
                width: 38px;
                height: 38px;
            }
            .message-inner{
                overflow-y: auto;
                flex-grow: 1;
                padding-bottom: 16px;
                padding-left: 16px;
                padding-right: 16px;
                @include respond(md) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            .send-message-container {
                flex-grow: 0;
                padding-left: 16px;
                padding-right: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid $border;
                padding: 10px 16px !important;
                @include respond(md) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .input-control{
                    flex-shrink: 1;
                    width: 100%; 
                    .form-control{
                        border: none;
                        height: 100%;
                        @include respond(md) {
                            padding-left: 0;
                        }
                        &:focus{
                            box-shadow:none;
                            outline:none;
                        }
                    }
                }
                .buttons{
                    flex-shrink: 0;
                }
            }
            @include respond(md) {
                height: calc(100vh - 45px - 150px);
            }
        }

        .message-item{
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .user-image {
                flex-shrink: 0;
                margin-right: 16px;
                img{
                    height: 45px;
                    width: 45px;
                }
            }
            &.out{
                flex-direction: row-reverse;
                text-align: right;
                .user-image {
                    margin-left: 16px;
                    margin-right: 0;
                }
                .message{
                    p{
                        background: $tertiary;
                        color: $tertiary_text;
                        display: table;
                        margin-left: auto;
                        margin-right: 0;
                        word-break: break-all;
                        max-width: 80%;
                    }
                }
            }
            
            .message {
                p {
                    background: $primary;
                    color: $primary_text;
                    padding: 5px 16px;
                    border-radius: 5px;
                    margin: 0;
                    display: table;
                    margin-right: auto;
                    word-break: break-all;
                    max-width: 80%;
                }
                .time {
                    font-size: 0.8em;
                }
            }
        }
        
        .user-list-box {
            .chat-list-item {
                margin: 0;
                padding: 16px;
            }
        }
    

    }
}